<!-- <section class="one-half btn-wrapper" ng-controller="MapController">
  <ul class="actions fit small">
    <li><a id="e1" href="#" class="button special fit small fit-cx">Free WiFi</a></li>
    <li><a id="e3" href="#" class="button normal fit small fit-cx right">Public Computers</a></li>
  </ul>
  <ul class="actions fit small">
    <li><a id="e2" href="#" class="button normal fit small fit-cx">Computer Training</a></li>
    <li><a id="e4" href="#" class="button normal fit small fit-cx right">Low Cost Computers</a></li>
  </ul>
</section> -->

<section class="" ng-controller="MapController">
  
</section>