

<section class="view-page">
 <!--  <div class="page-header">
    <h1>Edit</h1>
  </div> -->
  <div class="page-header">
    <h1>{{vm.place._id ? vm.place.title : 'New Place'}}</h1>
    <h3>{{vm.place.readableAddress}}</h3>
  </div>
  <div class="col-md-12">
    <form name="vm.form.placeForm" class="form-horizontal" ng-submit="vm.save(vm.form.placeForm.$valid)" novalidate>
      <fieldset>
        <!-- <h1 class="custom-form-header">New Map Location</h1> -->

        <h4 class="custom-form-header">1. Place Details</h4>
        <div class="form-section-custom">
          <div class="form-group" show-errors>
            <label class="control-label" for="zip">Zip Code</label>
            <input name="zip" type="text" ng-model="vm.place.zip" id="zip" class="form-control" placeholder="Zip Code">
          </div>
           <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.place._id ? 'Update' : 'Create'}}</button>
        </div>
          
          <div class="form-group" show-errors>
            <label class="control-label" for="phone">Phone *</label>
            <input name="phone" type="text" ng-model="vm.place.phone" id="phone" class="form-control" placeholder="Phone">
            <div ng-messages="vm.form.placeForm.phone.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Place phone number is required.</p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="title">Name *</label>
            <input name="title" type="text" ng-model="vm.place.title" id="title" class="form-control" placeholder="Title" required>
            <div ng-messages="vm.form.placeForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Place title is required.</p>
            </div>
          </div>

            <div class="form-group" show-errors>
            <label class="control-label" for="address1">Address Line 1</label>
            <input name="address1" type="text" ng-model="vm.place.address1" id="address1" class="form-control" placeholder="Address 1" required>
            <div ng-messages="vm.form.placeForm.address1.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Address is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="address2">Address Line 2 (optional)</label>
            <input name="address2" type="text" ng-model="vm.place.address2" id="address2" class="form-control" placeholder="Address 2">
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="city">City</label>
            <input name="city" type="text" ng-model="vm.place.city" id="city" class="form-control" placeholder="City">
          </div>
          <div class="form-group">
            <label class="control-label" for="state">State</label>
            <select name="state" ng-model="vm.place.state" id="state" class="form-control">
              <option value="MO">Missouri</option>
              <option value="KS">Kansas</option>
            </select>
          </div>
          
          <div class="form-group" show-errors>
            <label class="control-label" for="url">Website URL</label>
            <input name="url" type="text" ng-model="vm.place.url" id="url" class="form-control" placeholder="Website Address">
          </div>

          <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <textarea name="description" data-ng-model="vm.place.description" id="description" class="form-control" cols="30" rows="4" placeholder="Description"></textarea>
          </div> 
          <!-- <div class="form-group" show-errors>
            <label class="control-label" for="locationType">Location Type</label>
            <select name="locationType" ng-model="vm.place.locationType" id="locationType" class="form-control">
              <option value="library">Library</option>
              <option value="community-center">Community Center</option>
              <option value="restaurant">Restaurant</option>
              <option value="coffee-shop">Coffee Shop</option>
              <option value="shopping-mall">Shopping Mall</option>
            </select>
            <select selector
              name="locationType"
              model="vm.place.locationType"
              options="locationTypes"
              value-attr="value"></select>
          </div>
 -->
         
        
          <!-- <div class="checkbox">
            <label class="control-label" for="wifi"><input type="checkbox" name="wifi" ng-model="vm.place.wifi" id="wifi">WiFi Available?</label>
          </div>
           <label>Favorite Colors</label>
          <div class="form-group">
              <label class="checkbox-inline">
                  <input type="checkbox" name="favoriteColors" ng-model="formData.colors.red"> Red
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" name="favoriteColors" ng-model="formData.colors.blue"> Blue
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" name="favoriteColors" ng-model="formData.colors.green"> Green
              </label>
          </div> -->
          <!-- <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.red"> Red
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.blue"> Blue
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.green"> Green
            </label>
          </div> -->
        </div>
        <h3 class="custom-form-header">Services & Terms</h3>
        <div class="form-section-custom">
             <div class="form-group" show-errors>
            <label class="control-label" for="categories">Services</label>
       <!--      <input name="categories" type="text" ng-model="vm.place.categories" id="categories" class="form-control" placeholder="Categories"> -->
            <select selector
              name="categories"
              multi="true"
              model="vm.place.categories"
              options="categoryOptions"
              value-attr="value"></select>
          </div>

          <div class="form-group">
            <label class="control-label" for="primaryCategory">Primary Service Category</label>
            <!-- <input name="primaryCategory" type="text" ng-model="vm.place.primaryCategory" id="primaryCategory" class="form-control" placeholder="Primary Category"> -->
            <select selector
              name="primaryCategory"
              model="vm.place.primaryCategory"
              options="categoryOptions"
              value-attr="value"></select>
          </div>

          

         <!--  <div class="form-group">
            <label class="control-label" for="location">Location</label>
            <input name="location" type="text" ng-model="vm.place.location" id="location" class="form-control" placeholder="Location">
          </div> -->

          <!-- <div class="form-group">
            <label class="control-label" for="latlng">LatLng</label>
            <input name="latlng" type="text" ng-model="vm.place.latlng" id="latlng" class="form-control" placeholder="LatLng">
          </div> -->
         
         
          <!-- <hr> -->
         

           <!-- <div class="form-group" show-errors>
            <label class="control-label" for="readableAddress">Readable Address</label>
            <input name="readableAddress" type="text" ng-model="vm.place.readableAddress" id="readableAddress" class="form-control" placeholder="Readable Address">
          </div> -->


        <!--   <div class="form-group">
            <label class="control-label" for="caption">Caption or Tagline</label>
            <input name="caption" type="text" ng-model="vm.place.caption" id="caption" class="form-control" placeholder="Caption">
            
          </div> -->
 
          
          <!-- <div class="form-group" show-errors>
            <label class="control-label" for="">Location offers one or more of following (check all that apply):</label>
            <div class="form-group">
              <label><input type="checkbox" id="cbox1" value="first_checkbox"> Free WiFi</label>
              <label for="computerAccess"><input type="checkbox" id="computerAccess" value="true"> Computer Access</label>
              <label for="cbox3"><input type="checkbox" id="cbox3" value="third_checkbox"> Retail (Low cost or refurbished PCs)</label>
            </div>
          </div> -->

          
        
          <div class="form-group">
            <label class="control-label" for="hoursOpen">Hours Open</label>
            <input name="hoursOpen" type="text" ng-model="vm.place.hoursOpen" id="hoursOpen" class="form-control" placeholder="Hours Open">
            
          </div>

        
          <div class="form-group">
            <label class="control-label" for="courseSchedule">Scheduled Course Times</label>
            <input name="courseSchedule" type="text" ng-model="vm.place.courseSchedule" id="courseSchedule" class="form-control" placeholder="Training Course Schedule">
            
          </div>

         <!--  <div class="form-group">
            <label class="control-label" for="wifi">WiFi Available?</label>
            <select name="wifi" ng-model="vm.place.wifi" id="wifi" class="form-control">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div> -->

       
        </div>

       


        <!-- <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.place.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div> -->
       <!--  <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.place._id ? 'Update' : 'Create'}}</button>
        </div> -->
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <!-- <section class="object-view">
  
    <h3>Additional Details</h3>
    <pre ng-show="{{retail}}">

      {
        _id: {{ vm.place._id }},        
        title: {{ vm.place.title }},
        phone: {{vm.place.phone}},
        address1: {{vm.place.address1}},        
        address2: {{vm.place.address2}},
        city: {{vm.place.city}},
        state: {{vm.place.state}},
        zip: {{vm.place.zip}},
        url: {{vm.place.url}},
        description: {{vm.place.description}},
        hoursOpen: {{vm.place.hoursOpen}},
        wifi: {{vm.place.wifi}},
        categories: {{vm.place.categories}},
        primaryCategory: {{vm.place.primaryCategory}}
      }
    </pre>
    <pre ng-show="{{publicWifi}}">

      {
        _id: {{ vm.place._id }},        
        title: {{ vm.place.title }},
        phone: {{vm.place.phone}},
        address1: {{vm.place.address1}},        
        address2: {{vm.place.address2}},
        city: {{vm.place.city}},
        state: {{vm.place.state}},
        zip: {{vm.place.zip}},
        url: {{vm.place.url}},
        description: {{vm.place.description}},
        courseSchedule: {{vm.place.courseSchedule}},
        wifi: {{vm.place.wifi}},
        categories: {{vm.place.categories}},
        primaryCategory: {{vm.place.primaryCategory}}
      }
    </pre>
    <pre ng-show="{{customerWifi}}">

      {
        _id: {{ vm.place._id }},        
        title: {{ vm.place.title }},
        phone: {{vm.place.phone}},
        address1: {{vm.place.address1}},        
        address2: {{vm.place.address2}},
        city: {{vm.place.city}},
        state: {{vm.place.state}},
        zip: {{vm.place.zip}},
        url: {{vm.place.url}},
        description: {{vm.place.description}},
        courseSchedule: {{vm.place.courseSchedule}},
        wifi: {{vm.place.wifi}},
        categories: {{vm.place.categories}},
        primaryCategory: {{vm.place.primaryCategory}}
      }
    </pre>
  </section> -->
</section>

<!-- <section class="object-view">
<h2>Location Object</h2>
    <pre>
        {{ vm.place }}
    </pre>
</section>