<span ng-controller="PlacesController">
  <span ng-controller="MapController">
      <form name="searchForm" novalidate class="search-form">
        <div class="form-group inline-group">
            <input type="text" class="form-control fc-sm" name="zip" ng-model="place.zip" placeholder="Zip">
          </div>
          <div class="text-center inline-group">
            <button id="searchButton" type="submit" class="fc-in btn-search small" ng-click="searchByZip(place.zip)">Search</button>
          </div>
      </form>
    </span>
</span>