<footer id="footer">
           <!--  -->
          <!--   <section class="contact-footer-section">
              <h2 class="contact">Contact</h2>
              <dl class="alt">
                <dt>Address</dt>
                <dd>Kansas City, MO &bull; USA</dd>
                <dt>Phone</dt>
                <dd>(816) 000-0000</dd>
                <dt>Email</dt>
                <dd><a href="#">--</a></dd>
              </dl> -->
        <!--       <ul class="icons">
                <li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
              </ul> -->
            <!-- </section> -->
            <p>&copy; KC Digital Drive &bull; 
              <a class="links" ng-href="/terms-of-service">Terms of Service</a> &bull; 
              <a class="links" ng-href="/privacy-policy">Privacy Policy</a> 
              <!-- <a class="links" ng-href="/authentication/signin">Portal</a> -->
            </p>
          </footer>