<div id="wrapper" ng-controller="UibTabsetController">
          <header id="header">
         
             <form name="outerForm" class="tab-form">
              <uib-tabset active="activeForm">
                <uib-tab index="0" heading="MAP OF FREE SERVICES">
                  <!-- <ng-form name="nestedForm">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" required ng-model="model.name"/>
                    </div>
                  </ng-form> -->
                  <section ng-include="'/modules/core/client/views/tabs/main.client.view.html'"></section>
                </uib-tab>
                <uib-tab index="1" heading="ADD SERVICE">
                   <section ng-include="'/modules/core/client/views/tabs/new-services.client.view.html'"></section>
                </uib-tab>
                <uib-tab index="2" heading="INTERNET AT HOME (ISPs)">
                  <section ng-include="'/modules/core/client/views/tabs/internet.client.view.html'"></section>
                </uib-tab>

                <uib-tab index="3" heading="TRAINING ONLINE">
                  <section ng-include="'/modules/core/client/views/tabs/training.client.view.html'"></section>
                </uib-tab>
                <uib-tab index="4" heading="ABOUT">
                  <section ng-include="'/modules/core/client/views/tabs/about.client.view.html'"></section>
                </uib-tab>
                <uib-tab index="5" heading="CONTACT">
                  <section ng-include="'/modules/core/client/views/tabs/contact.client.view.html'"></section>
                </uib-tab>

              </uib-tabset>
            </form>
           <!--  <p>Ipsum dolor sit amet nullam</p> -->
          </header>

        <!-- Header -->
         <!--  <header id="header" class="alt">
            <span class="logo"><img src="images/logo.svg" alt="" /></span>
            <h1>Stellar</h1>
            <p>Just another free, fully responsive site template<br />
            built by <a href="https://twitter.com/ajlkn">@ajlkn</a> for <a href="https://html5up.net">HTML5 UP</a>.</p>
          </header>
 -->
        <!-- Nav -->
        <!--   <nav id="nav">
            <ul>
              <li><a href="#intro" class="active">Introduction</a></li>
              <li><a href="#first">First Section</a></li>
              <li><a href="#second">Second Section</a></li>
              <li><a href="#cta">Get Started</a></li>
            </ul>
          </nav> -->

        <!-- Main -->
         </div>