<!-- <div ng-if="bool" class="fade">
   Fade me in out
</div>
<button ng-click="bool=true">Fade In!</button>
<button ng-click="bool=false">Fade Out!</button>
 -->
<section ng-controller="TestController">
<!-- <div ng-show="bool" class="fade">
  Show and hide me
</div>
<button ng-click="bool=!bool">Toggle</button>

<div ng-class="{on:onOff}" class="highlight">
  Highlight this box
</div>
<button ng-click="onOff=!onOff">Toggle</button>

<div ng-class="{red: myProp}">
  <div ng-class="{blue: myProp}">
    <div class="message" ng-if="myProp"></div>
  </div>
</div>
 -->
<div class="jumbotron content" back-animation>
			<div ng-view ng-class="[effect, pageClass]" class="page"></div>
		</div>


<!-- <a ng-click="backToPages($event)" class="back" href="#">Back to index</a> -->
<a ng-href="/" class="back" href="#">Back to index</a>
<div ng-include="'views/code/effect-' + effect + '.html'"></div>
<!-- <div ng-view class="slide-pop"></div> -->

<!-- <div class="box rotate"></div> -->
<!-- <div class="r">
    <input type="checkbox" ng-model="boxClass" />
    <div class="box rotate" ng-class="{'box': boxClass, 'circle': !boxClass} "></div>
  </div> -->


</section>