<!-- <div layout="column" class="zero">
  <div flex="33" flex-md="{{ vm.box1Width }}" class="one">i</div>
  <div flex="33" layout="{{ vm.direction }}" layout-md="row" class="two">
    <div flex="20" flex-md="10" hide-lg class="two_one">have</div>
    <div flex="30px" show hide-md="{{ vm.hideBox }}" flex-md="25" class="two_two">no</div>
    <div flex="20" flex-md="65" class="two_three">real</div>
  </div>
  <div flex class="three">content</div>
</div> -->

<div layout="row">
<div flex="50">

  </div>
<div flex id="fix-flex">
    Second Half
  </div>
</div>