<header id="header">
  <h1>Map of Free Services</h1>
  <p>Kansas City</p>
</header>
<div id="main" class="fix-height" ng-controller="PlacesController">
  <section id="first" class="main special" ng-controller="MapController">
    <main id="main-page">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <ul class="actions fit small">
            <li><a ng-click="toggleWifiMarkers(); getData('wifi-free');" id="e1" href="#" class="button special fit small">Free WiFi</a></li>
            <li><a ng-click="toggleComputersMarkers();" id="e3" href="#" class="button normal fit small">Public Computers</a></li>
          </ul>
          <ul class="actions fit small">
            <li><a id="e2" ng-click="toggleTrainingMarkers();" href="#" class="button normal fit small">Computer Training</a></li>
            <li><a id="e4" ng-click="toggleRefurbsMarkers();" href="#" class="button normal fit small">Low Cost Computers</a></li>
          </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="table-wrapper">
            <table class="legend-table">
              <thead>
                <tr>
                  <th>Map Legend</th>
                </tr>
              </thead>
              <tbody class="tbody-legend">
                <tr>
                  <td><img class="small-img" src="modules/core/client/img/wifi-free.svg"> Public WiFi</td>
                  <td class="toleft"><img class="small-img" src="modules/core/client/img/user-orange2.png"> Computer training (daytime)</td>
                </tr>
                <tr>
                  <td class="move-up"><img class="small-img" src="modules/core/client/img/wifi-purchase.svg"> Customer WiFi</td>
                  <td class="toleft move-up"><img class="small-img" src="modules/core/client/img/user-blue2.png"> Computer Training<br>(after 6pm)</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row"">
         <div class="col-md-1"></div>
        <div class="col-md-6">
        <section id="queryForm" ng-include="'modules/places/client/views/search-map.client.view.html'"></section>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
      </div>

      
        <div class="row map-row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-md-12">

            <section id="rcMap" class="fullmap">

                  </section>
      
            <section id="sw" class="full-side sidewin-ctrl">
              <a id="winCtrl" ng-click="removeWindow()" class="rmv">
                 <span id="rmv-glyph" class="glyphicon glyphicon-remove"></span>
              </a>
              <div id="info-wrapper">
                <!-- category -->
                <div id="placeCategory" class="f1"></div>
                <!--  -->
                <div id="placeTitle" class="f2"></div>
                <!--  -->
                <div id="placePhone"></div>
                <div id="placeAddress" class="f3"></div>
         

                <div>
                <span id="placeCity" class="f3"></span>, <span id="placeState" class="f3"></span><span id="placeZip" class="f3"></span></div>
                 <a ng-click="getDirections(addr, city, state, zip)" class="f6 lnk-hov">View directions on Google Maps</a><br>
                <div id="placeHours"></div>
                <!--  -->
                <div class="f4" id="placeDescription"></div>
                <!--  -->
                <div id="placeUrl"></div>
              </div>
            </section>
      
          </div>
        </div>



      </main>
    </section>    
  </div>
  <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>
</div>