<header id="header">
	<h1>Add Service</h1>
	<p>Choose which type of service you would like to add to service map</p>
</header>
<div id="main">
	<section id="content" class="main">
		<!-- <h2>Map Categories</h2> -->
		<section id="add-resources" ng-controller="ModalController">							
			<!-- <h3 class="pad-list">Alternate</h3> -->
					
			<div class="row">
		
                    <script type="text/ng-template" id="newHotspotModal.html">
                      <div class="modal-header">
                          <h3 class="modal-title">New WiFi Hotspot</h3>
                      </div>
                      <div class="modal-body">
                        <section ng-controller="PlacesController">
                            <form name='placeForm' class='form-horizontal' ng-submit='create(placeForm.$valid, 
                            "public", "wifi")' novalidate>
                            <fieldset class="fieldset-override">
                              <div class='form-group' show-errors><label for='title'>Location Name</label><input name='title' type='text' ng-model='title' id='title' class='form-control' required><div ng-messages='placeForm.title.$error' role='alert'></div></div>
                              <div class="form-group"><label for="address1" class="">Street Address</label><input name="address1" type="text" ng-model="address1" id="address1" class="form-control"><div ng-messages="placeForm.address1.$error" role='alert'></div></div>
                              <div class="form-group"><input name="address2" type="text" ng-model="address2" class="form-control"></div>
                              <div class="form-group"><label for="city">City</label><input name="city" type="text" ng-model="city" class="form-control cru"></div>
                              <div class="form-group"><label for="state">State</label><input name="state" type="text" ng-model="state" class="form-control"></div>
                              <div class="form-group"><label for="zip">Zip</label><input name="zip" type="text" ng-model="zip" class="form-control"></div>
                                <div class="form-group">
                                  <label for="phone" class="">Phone</label>
                                  <input type="text" name="phone" ng-model="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                  
                                  <label for="url" class="">Website</label>
                                  <input type="text" name="url" ng-model="url" class="form-control">
                                </div>
                                <div class='form-group'><label for='desc'>Description</label><textarea name='desc' ng-model='desc' id='desc' class='form-control' cols='30' rows='6'></textarea></div>
                              <!-- </aside> -->
                              <div class="form-group">
                                <input class="btn special" type="submit" ng-click="ok(); showme=true">
                                <button class="btn normal fill-norm" type="button" ng-click="cancel()">Cancel</button>
                              </div>
                              </fieldset>
                           </form>  
                          </section>
                        </div>
                         <div class="modal-footer"></div>
                    </script>

                    <script type="text/ng-template" id="newTrainingLocationModal.html">
                      <div class="modal-header">
                          <h3 class="modal-title">New Computer Training Location</h3>
                      </div>
                      <div class="modal-body">
                        <section ng-controller="PlacesController">
                            <form name='placeForm' class='form-horizontal' ng-submit='create(placeForm.$valid, 
                            "", "training")' novalidate>
                            <fieldset class="fieldset-override">
                              <div class='form-group' show-errors><label for='title'>Location Name</label><input name='title' type='text' ng-model='title' id='title' class='form-control' required><div ng-messages='placeForm.title.$error' role='alert'></div></div>
                              <div class="form-group"><label for="address1" class="">Street Address</label><input name="address1" type="text" ng-model="address1" id="address1" class="form-control"><div ng-messages="placeForm.address1.$error" role='alert'></div></div>
                              <div class="form-group"><input name="address2" type="text" ng-model="address2" class="form-control"></div>
                              <div class="form-group"><label for="city">City</label><input name="city" type="text" ng-model="city" class="form-control cru"></div>
                              <div class="form-group"><label for="state">State</label><input name="state" type="text" ng-model="state" class="form-control"></div>
                              <div class="form-group"><label for="zip">Zip</label><input name="zip" type="text" ng-model="zip" class="form-control"></div>
                                <div class="form-group">
                                  <label for="phone" class="">Phone</label>
                                  <input type="text" name="phone" ng-model="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                  
                                  <label for="url" class="">Website</label>
                                  <input type="text" name="url" ng-model="url" class="form-control">
                                </div>
                                <div class='form-group'><label for='desc'>Description</label><textarea name='desc' ng-model='desc' id='desc' class='form-control' cols='30' rows='6'></textarea></div>
                              <!-- </aside> -->
                              <div class="form-group">
                                <input class="btn special" type="submit" ng-click="ok(); showme=true">
                                <button class="btn normal fill-norm" type="button" ng-click="cancel()">Cancel</button>
                              </div>
                              </fieldset>
                           </form>  
                          </section>
                        </div>
                         <div class="modal-footer"></div>
                    </script>

                    <script type="text/ng-template" id="newPublicAccessLocationModal.html">
                      <div class="modal-header">
                          <h3 class="modal-title">New Computer Access Location</h3>
                      </div>
                      <div class="modal-body">
                        <section ng-controller="PlacesController">
                            <form name='placeForm' class='form-horizontal' ng-submit='create(placeForm.$valid, 
                            "", "computers")' novalidate>
                            <fieldset class="fieldset-override">
                              <div class='form-group' show-errors><label for='title'>Location Name</label><input name='title' type='text' ng-model='title' id='title' class='form-control' required><div ng-messages='placeForm.title.$error' role='alert'></div></div>
                              <div class="form-group"><label for="address1" class="">Street Address</label><input name="address1" type="text" ng-model="address1" id="address1" class="form-control"><div ng-messages="placeForm.address1.$error" role='alert'></div></div>
                              <div class="form-group"><input name="address2" type="text" ng-model="address2" class="form-control"></div>
                              <div class="form-group"><label for="city">City</label><input name="city" type="text" ng-model="city" class="form-control cru"></div>
                              <div class="form-group"><label for="state">State</label><input name="state" type="text" ng-model="state" class="form-control"></div>
                              <div class="form-group"><label for="zip">Zip</label><input name="zip" type="text" ng-model="zip" class="form-control"></div>
                                <div class="form-group">
                                  <label for="phone" class="">Phone</label>
                                  <input type="text" name="phone" ng-model="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                  
                                  <label for="url" class="">Website</label>
                                  <input type="text" name="url" ng-model="url" class="form-control">
                                </div>
                                <div class='form-group'><label for='desc'>Description</label><textarea name='desc' ng-model='desc' id='desc' class='form-control' cols='30' rows='6'></textarea></div>
                              <!-- </aside> -->
                              <div class="form-group">
                                <input class="btn special" type="submit" ng-click="ok(); showme=true">
                                <button class="btn normal fill-norm" type="button" ng-click="cancel()">Cancel</button>
                              </div>
                              </fieldset>
                           </form>  
                          </section>
                        </div>
                         <div class="modal-footer"></div>
                    </script>

                    <script type="text/ng-template" id="newLowCostResellerLocationModal.html">
                      <div class="modal-header">
                          <h3 class="modal-title">New Low Cost/Refurbished Reseller</h3>
                      </div>
                      <div class="modal-body">
                        <section ng-controller="PlacesController">
                            <form name='placeForm' class='form-horizontal' ng-submit='create(placeForm.$valid, 
                            "", "computers")' novalidate>
                            <fieldset class="fieldset-override">
                              <div class='form-group' show-errors><label for='title'>Location Name</label><input name='title' type='text' ng-model='title' id='title' class='form-control' required><div ng-messages='placeForm.title.$error' role='alert'></div></div>
                              <div class="form-group"><label for="address1" class="">Street Address</label><input name="address1" type="text" ng-model="address1" id="address1" class="form-control"><div ng-messages="placeForm.address1.$error" role='alert'></div></div>
                              <div class="form-group"><input name="address2" type="text" ng-model="address2" class="form-control"></div>
                              <div class="form-group"><label for="city">City</label><input name="city" type="text" ng-model="city" class="form-control cru"></div>
                              <div class="form-group"><label for="state">State</label><input name="state" type="text" ng-model="state" class="form-control"></div>
                              <div class="form-group"><label for="zip">Zip</label><input name="zip" type="text" ng-model="zip" class="form-control"></div>
                                <div class="form-group">
                                  <label for="phone" class="">Phone</label>
                                  <input type="text" name="phone" ng-model="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                  
                                  <label for="url" class="">Website</label>
                                  <input type="text" name="url" ng-model="url" class="form-control">
                                </div>
                                <div class='form-group'><label for='desc'>Description</label><textarea name='desc' ng-model='desc' id='desc' class='form-control' cols='30' rows='6'></textarea></div>
                              <!-- </aside> -->
                              <div class="form-group">
                                <input class="btn special" type="submit" ng-click="ok(); showme=true">
                                <button class="btn normal fill-norm" type="button" ng-click="cancel()">Cancel</button>
                              </div>
                              </fieldset>
                           </form>  
                          </section>
                        </div>
                         <div class="modal-footer"></div>
                    </script>
              
				<ul class="alt">
						<li><a class="lks" ng-click="newHotspot();">Free WiFi</a></li>
						<li><a class="lks" ng-click="newTrainingLocation();">Computer Training</a></li>
						<li><a class="lks" ng-click="newPublicAccessLocation();">Public Access Computers</a></li>
						<li><a class="lks" ng-click="newLowCostResellerLocation();">Low Cost/Refurbished Reseller</a></li>
					</ul>
			</div>

		</section>
	</section>
</div>
<!-- <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>	 -->