


<!-- <main ng-controller="ModalController"> -->

<!-- <div class="row mkinvs fruStr"> -->
	<!-- <section id="content" class="main"> -->
		<!-- <h2>Map Categories</h2> -->
		<!-- <section id="add-resources" ng-controller="ModalController">	 -->

			<!-- <h3 class="pad-list">Alternate</h3> -->
<!-- <header id="new-service-button">

       <md-button class="md-raised md-button new-service-button" ng-click="newLocation();">
            Add New Place to Map
       </md-button>
</header>  -->
<div layout="row" ng-controller="ModalController">
  <div flex="50"></div>
  <div flex id="fix-flex">
    <md-button class="md-raised md-button" ng-click="newLocation();">
    Add New Place to Map
    </md-button>
  </div>
</div>













			<div class="container">

                    

                    <script type="text/ng-template" id="newLocationModal.html">
                      <div class="modal-header">
                          <h3 class="modal-title">New Location</h3>
                      </div>
                      <div class="modal-body">
                        <section>
                          <!-- <div ng-include="'/modules/places/client/views/form-modal.client.view.html'"></div> -->
                          <section>
                            <div class="col-md-12">
                           <!--    <form name="vm.form.placeForm" class="form-horizontal c-modal-form" ng-submit="vm.save(vm.form.placeForm.$valid)" novalidate> -->
                           <form name="placeForm" class="form-horizontal c-modal-form" ng-submit="create(placeForm)" novalidate>
                                <fieldset id="modalFs">
                                  <!-- <h3 class="custom-form-header">1. Basic Information</h3> -->
                                  <div class="form-section-custom">
                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="title">Name *</label>
                                      <input name="title" type="text" ng-model="vm.place.title" id="title" class="form-control">
                                      <div ng-messages="vm.form.placeForm.title.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Place title is required.</p>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="phone">Phone *</label>
                                      <input name="phone" type="text" ng-model="vm.place.phone" id="phone" class="form-control">
                                      <div ng-messages="vm.form.placeForm.phone.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Place phone number is required.</p>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="url">Website (<em>optional</em>)</label>
                                      <input name="url" type="text" ng-model="vm.place.url" id="url" class="form-control">
                                    </div>

                                     <!-- <div class="form-group"> -->
                                      <!-- <label class="control-label" for="hoursOpen">Hours Open</label>
                                      <input name="hoursOpen" type="text" ng-model="vm.place.hoursOpen" id="hoursOpen" class="form-control"> -->
                                  <!--     <div ng-controller="TimepickerCtrl">
                                        <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                                         <button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>
                                      </div>
                                    </div>
 -->
                                    
                                   
                                    

          
                                    
                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="address1">Address *</label>
                                      <input name="address1" type="text" ng-model="vm.place.address1">


                                      <div ng-messages="vm.form.placeForm.address1.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Address is required.</p>
                                      </div>
                                 
                          
                                      <input name="address2" type="text" ng-model="vm.place.address2" id="address2" class="form-control">
                                    </div>
                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="city">City *</label>
                                      <input name="city" type="text" ng-model="vm.place.city" id="city" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label" for="state">State *</label>
                                      <select name="state" ng-model="vm.place.state" id="state" class="form-control">
                                        <option value="MO">Missouri</option>
                                        <option value="KS">Kansas</option>
                                      </select>
                                    </div>
                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="zip">Zip Code *</label>
                                      <input name="zip" type="text" ng-model="vm.place.zip" id="zip" class="form-control">
                                    </div>

                 

                                    <div class="form-group" show-errors>
                                      <label class="control-label" for="categories">Select all services offered (choose all that apply from list) *</label>
                              
                                      <select selector
                                        multi="true"
                                        model="vm.place.categories"
                                        name="categories"
                                        options="categoryOptions"
                                        value-attr="value"></select>
                                    </div>


                                    <div class="form-group">
                                      <label class="control-label" for="primaryCategory">Select a primary service category (choose one) *</label>
                                      <select selector
                                        model="vm.place.primaryCategory"
                                        id="primaryCategory"
                                        name="primaryCategory"
                                        options="categoryOptions"
                                        value-attr="value"></select>
                                    </div>
                                    

                           

                                    <div class="form-group">
                                      <label class="control-label" for="description">Description (<em>optional</em>)</label>
                                      <textarea name="description" data-ng-model="vm.place.description" id="description" class="form-control" cols="30" rows="4"></textarea>
                                    </div> 

                                   <!--  <div class="form-group">
                                      <label class="control-label" for="caption">Caption or Tagline</label>
                                      <input name="caption" type="text" ng-model="vm.place.caption" id="caption" class="form-control">
                                      
                                    </div>
                               -->
                            
                                    

                                  
                               <!--      <div class="form-group">
                                      <label class="control-label" for="courseSchedule">Training Courses &bull; Calendar Schedule</label>
                                      <input name="courseSchedule" type="text" ng-model="vm.place.courseSchedule" id="courseSchedule" class="form-control">
                                      
                                    </div> -->

                                   
                                  <!-- </div> -->

                                  
                                 
                                  <!-- </div> -->
                                  <!-- <h3 class="custom-form-header"></h3> -->

                                  <!-- <div class="form-section-custom"> -->

                                    <div class="form-group">
                                         <div class="form-group">
                                      <button type="submit" class="btn btn-default left-7">Submit</button>
                                    </div>
                                    <div ng-show="vm.error" class="text-danger">
                                      <strong ng-bind="vm.error"></strong>
                                    </div>
                                    <h3 class="custom-form-header"></h3>
                                    </div>
                                  </div>
                                </fieldset>
                              </form>
                            </div>
                          </section>

                        </section>
                      </div>
                      <div class="modal-footer"></div>
                    </script>
        







<!--     <ul class="alt">
            <li><a ng-click="newLocation();" class="myButton">New Map Location</a></li>
   </ul>
 -->
      <!--   <ul class="alt">
            <li><a ng-click="newLocation();" class="">New Map Location</a></li>
        </ul> -->
       <!--  <md-button class="md-raised md-button new-service-button" ng-click="newLocation();">
            Add New Place to Map
       </md-button> -->

				
			</div>

		</section>
	</section>
</div>
<!-- <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>	 -->

<!-- </main> -->