@media (min-width: 1660px) {
	/*a.button.fit.small.fit-cx {
	    width: 12em;
	}*/
	h1.tab-head {
	    position: relative;
	    top: -5em;
	}
	p.tab-p {
	    position: relative;
	    top: -10.5em;
	}
	.nav-tabs {
	    border: none;
	    border-radius: .125em;
	    box-shadow: inset 0 0 0 300px #ffffff, 0 0 0 1px #c7cec7, 0 0 3px #3c3c3c;
	    opacity: 1;
	    padding: .65em .125em .15em 5em;
	    position: relative;
	    width: 119%;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    top: -10.4em;
	    height: 2.8em;
	    border-radius: 64px;
	    left: -4.25em;
	    background: linear-gradient(to left, #f3f0df , #fffeeb, #eae8d8 );
	    box-shadow: inset 0 0 85px #e2ecc6, 0 0 0 1px #868686, 0 0 3px #353535;
	}
	#main {
	    border-radius: .1em;
	    outline: 0;
	    background-color: #eaeaea;
	    background-image: url(https://www.transparenttextures.com/patterns/brilliant.png);
	    border: 1px solid #3c3434;
	    box-shadow: 0 0 0 1px #d2d2d2,inset 0 0 100px #eaeaea,0 0 2.5px #757575, 0 0 10px #dedede, inset 0 0 7px ivory;
	    box-shadow: none;
	    /* background: none; */
	    background: transparent;
	    /* box-shadow: none; */
	    top: -15.5em;
	    position: relative;
	    padding-top: 12.6em;
	    height: 43.5em;
	    border: none;
	    border-radius: 18px;
	}
	.f2 {
	    font-size: .9em;
	    font-weight: 600;
	    line-height: 18px;
	    margin: .7em 0 .2em;
	}
	.toleft {
		position: relative;
		left: 2.81em;
		padding-right: .1em;
	}
	div#info-wrapper {
		background: #f3f3f3;
		border: 1px solid #bbbaba;
		/* box-shadow: inset 0 0 100px #f3f3f3; */
		width: 98%;
		display: inline-block;
		height: 626px;
		border: 1px solid #e2e2e2;
		font-weight: 400;
		position: relative;
		box-shadow: 0 0 12px #3e3e3e;
		top: -1.5em;
	}
	.f-desc {
	    border: none;
	    padding: .5em 1em;
	    text-align: start;
	    margin-left: 1.15em;
	    width: 85%;
	    line-height: 16px;
	    font-size: .575em;
	    border: 1px solid gainsboro;
	    background: #ececec;
	}
	form.pure-form.rangr {
	    background: whitesmoke;
	    width: 60%;
	    box-shadow: 0 0 1px black;
	    margin-top: -.92em;
	    margin-left: 12em;
	    padding: 1em 1.5em 0 3em;
	}

	li.right {
		position: relative;
		left: 2.25em;
	}

	.mission {
	    line-height: 28px;
	}

	#wrapper {
	    width: 74em;
	    max-width: calc(100% - .1em);
	    margin: 0 auto;
	    height: 50em;
	    position: relative;
	    top: -7em;
	    padding-left: 2.4em;
	    background: radial-gradient(#eff6ff,#f5ffe5);
	    box-shadow: inset 0 0 800px #eef3e5, inset 0 0 0 800px #dce6c8, 0 0 0 1px #baccba, 0 0 10px black;
	    /* padding-left: .1em; */
	    border: none;
	    box-shadow: none;
	    background: linear-gradient(to left, #6e7b92 , #CFDEF3, #CFDEF3,#6e7b92);
	}


	#header p {
	    font-size: .75em;
	    letter-spacing: -0.025em;
	    color: #545353;
	    margin-top: -.-5em;
	    position: relative;
	    top: -7.5em;
	}

	.nav-tabs > li > a {
	    margin-right: 2px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    color: gray;
	    border-radius: 4px 4px 0 0;
	    margin-top: -.3em;
	    color: #798061;
	    letter-spacing: .1pc;
	    padding-bottom: 10px;
	    text-shadow: none;
	    font-size: .46em;
	}

	#footer > * {
	    width: calc(50% - 2em);
	    margin-left: 12em;
	    font-size: .9em;
	        border-radius: 64px;
	}

	main#main-page {
	    position: relative;
	    top: -11.4em;
	    margin-left: -5em;
	    width: 51.5em;
	    background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
	    outline: .125em solid #868686;
	    box-shadow: 0 0 5px #848484;
	    background: silver;
	    background: radial-gradient(#c7e2ff,#b8d4e6,#b4cdd6);
	    border: none;
	    outline: none;
	    background: background: #ADD100;
	    background: -webkit-linear-gradient(to left, #ADD100 , #7B920A);
	    background: linear-gradient(to left, #eaecdb , #c1c5ac);
	    height: 610px;
	    border-radius: 18px;
	    box-shadow: 0 0 2px #2d2c2c, inset 0 0 200px #90928c, 0 0 0 1px #a0a0a0, 0 0 2px #444444;
	}

	a.lks {
	    color: cornflowerblue;
	    color: #557692;
	    text-align: left;
	    text-decoration: underline;
	    font-weight: 600;
	    letter-spacing: 1px;
	    margin-left: 1em;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	    color: #638a13;
	    /* color: #c7ffbf; */
	    /* text-shadow: 0 0 10px whitesmoke; */
	    cursor: default;
	    background: olive;
	    border: 1px solid #ddd;
	    margin-top: .1em;
	    margin-bottom: .2em;
	    padding-top: .79925em;
	    height: 3.2em;
	    border: 1px solid #638a13;
	    box-shadow: 0 0 145px #e8ff90;
	    border-top-left-radius: .5em;
	    box-shadow: inset 0 0 85px olive, 0 0 4px olivedrab;
	    /* border-bottom-color: transparent; */
	    border-top-right-radius: .5em;
	    border-radius: 1.5em;
	    box-shadow: inset 0 0 55px #ffffdf, 0 0 1px olivedrab;
	    background: #f5ffe2;
	    text-shadow: none;
	}

	#wrapper {
		box-shadow: inset 0 0 200px #e2eff1, 0 0 1px #5a5959;
		height: 52.5em;
		background: linear-gradient(#eef2f3,#dfe6ea);
		box-shadow: none;
		padding-top: 4.3em;
		background: linear-gradient(to left, #6e7b92 , #CFDEF3, #CFDEF3,#6e7b92);
		box-shadow: 0 0 3px #191919, inset 0 0 100px #d4d4d4;
		background: linear-gradient(to left, #ECE9E6 , #FFFFFF);
	}

	section.meta-w-form {
	    background: #464646;
	    left: -3.3em;
	    padding: 1em .1em 1em 4em;
	    position: absolute;
	    height: 9.25em;
	    top: -2.3em;
	    border: 1px solid #1f1703;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    width: 233%;
	    box-shadow: inset 0 0 160px #717070, 0 0 0 1px #5a5a5a;
	    background: linear-gradient(to left, #7b7d82 , #d2d2d2,#818590);
	    box-shadow: inset 0 0 5px gainsboro, inset 0 0 160px #efefef, 0 0 0 1px #f7f7f7;
	    background: linear-gradient(to left, #e6e6e6 , #ececec,#f3f3f3);
	    background: none;
	    border: none;
	    box-shadow: none;
	}

	ul.actions.fit.small {
	    margin-left: -5.5em;
	    width: calc(80% + -5.95em);
	    margin-top: -1.25em;
	}

	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    padding: .7em 1.5em 0 2.85em;
	    top: -.1em;
	    border: none;
	    height: 6.85em;
	    width: 19.5em;
	    left: -2.94em;
	    box-shadow: 0 0 2px black;
	    background: white;
	    margin-top: -1em;
	    margin-right: .05em;
	}
	#footer {
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;
	    -moz-flex-wrap: wrap;
	    position: relative;
	    text-align: center;
	    width: 100%;
	    left: 17.5em;
	    top: -70em;
	    font-size: .7em;
	    color: black;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 5em 5em 3em 5em;
	    /* width: calc(100% + 2em); */
	    margin: 0;
	}
/*
	a.button.special.fit.small.fit-cx {
	    width: 12em;
	}*/
}

@media (min-width: 1680px) {
	
	section#first {
	    height: 880px;
	}

	ul.actions.fit.small {
	    margin-left: -4em;
	    width: calc(100% + -9.5em);
	    margin-top: -.924em;
	}

	table td {
	    padding: 1.7em .3em .75em 1.3em;
	    border: none;
	    /* font-weight: 300; */
	    line-height: 12px;
	    font-size: .75em;
	}
	.legend-table {
	    width: 17.5em;
	    font-size: .6em;
	    position: relative;
	    top: .1em;
	    left: 3.75em;
	}
	.toleft {
		position: relative;
		left: -.5em;
		padding-right: .1em;
	}
	section#queryForm {
	    position: relative;
	    top: -4em;
	    left: -1em;
	    height: 3em;
	}
	td.rbor {
		position: relative;
		left: -1.25em;
	}
	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    padding: 1.5em .83em 0 1.25em;
	    top: .3em;
	    border: 1px solid #c3c3c3;
	    left: -2.75em;
	    background: none;
	    background: whitesmoke;
	    margin-top: -1.25em;
	    margin-right: -3em;
	    box-shadow: none;
	    padding-right: 3em;
	}

	#pac-input {
	    background-color: #fff;
	    font-family: Roboto;
	    font-size: 15px;
	    font-weight: 300;
	    position: relative;
	    margin-left: 12px;
	    padding: 0 11px 0 13px;
	    text-overflow: ellipsis;
	    width: 24%;
	    height: 30px;
	    left: 69%;
	    top: 4.2em;
	}

	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	padding-right: 1.5em;
	}

	#main input[type="submit"].special, #main input[type="reset"].special, #main input[type="button"].special, #main button.special, #main .button.special {
	    /* background-color: #80d2ff; */
	    /* color: #357192 !important; */
	    /* box-shadow: 0 0 0 1px #67b2ff, 2px 2px 2px black, 3px 3px 3px #805f0c; */
	    /* height: 34px; */
	    /* width: 155px; */
	    /* text-shadow: 0 0 4px #f1f1f1; */
	    /* box-shadow: 0 0 0 1px #7ef3ff, 1px 1px 1px #3c3b3b, 1px 1px 1px #805f0c; */
	    /* border-radius: 12px; */
	    /* border: 1px solid #a1e8ff; */
	}

	ul.actions.fit.small li {
	    padding: 0 0 0 2em;
	    width: 150px;
	    font-size: .8em;
	}

	#sw {
	    display: none;
	    position: absolute;
	    left: 81%;
	    height: 639px;
	    width: 9.2em;
	    background: radial-gradient(#e1ecf5,#e4eef1,#dff6ff);
	    clear: both;
	    border-top: 4px solid #c0d8dc;
	    box-shadow: 0 0 0 1px #9bbbba, 0 0 0 2px #bdefef, 0 0 5px black;
	    border-left: .2em solid gray;
	    top: -1px;
	    border-left: 1px solid #070a0a;
	    border-left: 4px solid #c0d8dc;
	    border-right: 4px solid #c0d8dc;
	    border-bottom: 4px solid #c0d8dc;
	    margin-left: 0;
	    /* box-shadow: 0 0 0 3px gray; */
	    padding: 0 0 2em 0;
	}

	.codrops-top a {
		padding: 0 1em;
		letter-spacing: .42em;
		color: #cbceae;
		font-weight: 900;
		font-size: 75%;
		display: inline-block;
	}

	input[type="submit"].small, input[type="reset"].small, input[type="button"].small, button.small, .button.small {
		font-size: 0.65em;
	}

	.tbody-legend {
		padding-left: .2em;
		padding: 1em 1em 2em 0;
		position: relative;
		background: radial-gradient(#e5ecf1,#f8fcff);
		left: 1em;
		box-shadow: inset 0 0 100px black;
		background: transparent;
		top: -8.4em;
		border: none;
		border: none;
		outline: none;
	}

	p#headerP {
		margin-top: -3.95em;
		margin-bottom: 6em;
		top: -3.995em;
		font-size: .7em;
	}

	header .sh-up {
	    position: relative;
	    top: -4em;
	}
	html {
	    max-height: 2600px;
	    background: none #d0d0d0;
	    overflow-x: hidden;
	    background: #8e9eab;
	    box-shadow: inset 0 0 600px #6f6f6f;
	    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	    background-repeat: repeat-x;
	    background: linear-gradient(to left, #8e9eab , #c3d9de,#8e9eab );
	}
	section#customMap {
	    height: 640px;
	    border-left: 1px solid #626f64;
	    border-right: 1px solid #637766;
	    box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
	    border: 2px solid #676f03;
	    /* box-shadow: 0 0 50px black; */
	    margin-top: 1.24em;
	    margin-bottom: -2.7em;
	    border: none;
	    border-bottom: none;
	    border-top: none;
	    top: -1.3em;
	    position: relative;
	}

	main#main-page {
	    position: relative;
	    top: -9.4em;
	    margin-left: -2.5em;
	    width: 40.5em;
	    background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
	    outline: none;
	    box-shadow: 0 0 5px #848484;
	    background: silver;
	    background: radial-gradient(#c7e2ff,#b8d4e6,#b4cdd6);
	    border: none;
	    background: background: #ADD100;
	    background: -webkit-linear-gradient(to left, #ADD100 , #7B920A);
	    background: linear-gradient(to left, #eaecdb , #d7d8d0);
	    height: 610px;
	    box-shadow: 0 0 5px #afafaf, inset 0 0 200px #d6d6d6, 0 0 0 1px #b5b5b5, 0 0 6px #8c8c8c;
	}
	.row.butane {
	    margin-left: .01em;
	    margin-bottom: .1em;
	    margin-top: .05em;
	    top: .002em;
	    padding-top: 2.95em;
	    height: 246.5px;
	    padding-right: .5em;
	    padding-bottom: 2.7em;
	    box-shadow: inset 0 0 250px black;
	    background: none;
	    /* border-bottom: none; */
	    background: url("https://www.transparenttextures.com/patterns/black-thread.png");
	    display: inherit;
	    background: linear-gradient(to left, #c2e59c , #64b3f4);
	    background: #83a4d4;
	    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff);
	    background: linear-gradient(#83a4d4 , #b6fbff);
	    box-shadow: inset 0 0 150px #fffffb;
	    background: #ececec;
	}
	.move-up {
	    position: relative;
	    top: 1.5em;
	}
	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	    letter-spacing: .05em;
	    width: 135px;
	    height: 29px;
	    background-color: #e3fbfd;
	    color: #5b969a!important;
	    text-shadow: 0 0 12px #aeeeff;
	    box-shadow: none;
	    padding-top: .01em;
	    margin: 0 auto;
	    display: block;
	    border: 1px solid rgba(144, 144, 144, .2);
	    border-radius: 3px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	    letter-spacing: 0;
	    width: 136px;
	    height: 31px;
	    background-color: #ffffff;
	    color: #525252!important;
	    text-shadow: none;
	    box-shadow: none;
	    padding-top: .23em;
	    margin: 0 auto;
	    display: block;
	    border: 1px solid rgba(86, 85, 85, .3);
	    border: 1px solid #c7c7c7;
	    border-radius: 24px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	}
	#main .button.special, #main button.special, #main input[type=button].special, #main input[type=reset].special, #main input[type=submit].special {
	    background-color: #71e08f;
	    color: #1c561c!important;
	    text-shadow: none;
	    box-shadow: 0 0 0 1px #70e840,inset 0 0 80px #70d070;
	    border-radius: 12px;
	    border: 1px solid #bdf8ff;
	    padding-top: 0;
	    text-shadow: 0 0 32px lime;
	    letter-spacing: .35px;
	    margin: 0 auto;
	    /* font-size: 2.0rem; */
	    /* padding: 0; */
	    width: 136px;
	    height: 25px;
	    display: block;
	    /* background-color: #ffffff; */
	    border: 1px solid rgb(123, 154, 120);
	    color: #ffffff;
	    font-weight: 300;
	    -webkit-border-radius: 3px;
	    border-radius: 24px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	    color: #145858!important;
	    text-shadow: 0 0 12px #aeeeff;
	    box-shadow: 0 0 0 1px cyan, 0 0 5px black;
	    border: 1px solid transparent;
	}
	#main {
		margin-left: -2.35em;
	}
	#wrapper {
		padding-top: .4em;
	}
	.nav-tabs {
		top: -6.8em;
	}
	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		position: relative;
		overflow-x: auto;
		padding: .7em 1.5em 0 2.85em;
		top: .15em;
		border: none;
		height: 6.85em;
		width: 16.5em;
		left: -2.94em;
		box-shadow: 0 0 2px black;
		background: white;
		margin-top: -1em;
		margin-right: .05em;
	}
	li.realign {
	    position: relative;
	    left: -10.1em;
	}

}