@media (min-width: 1001px) {
	div#buttons-wrapper {
	    position: absolute;
	    top: 11.1em;
	    left: 7em;
	    z-index: 99999;
	}
	md-card#hacksalot {
	    height: 660px;
	    font-family: "Source Sans Pro", Helvetica, sans-serif;
	    background: #FAFAFA;
	    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	    box-shadow: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px solid #ccc;
	}
	img.md-card-image.sw-icon {
	    position: relative;
	    left: 10em;
	    top: -1.75em;
	    width: 50%;
	}
	md-divider#top-divider {
	    top: -9.2em;
	    position: relative;
	    color: #E0E0E0;
	}
	#new-service-button {
	    position: relative;
	    left: 15em;
	    top: 10em;
	}
	md-card md-card-header#defaultGray {
	    background: #F5F5F5;
	    padding: 2em 0 0 0;
	}
	md-card-header#defaultGray {
	    height: 1em;
	}
	div#buttons-wrapper {
	    position: absolute;
	    top: 6.6em;
	    left: 9.8em;
	    z-index: 99999;
	}
	#main {
	    border-radius: .1em;
	    outline: 0;
	    background-color: #eaeaea;
	    background-image: url(https://www.transparenttextures.com/patterns/brilliant.png);
	    border: 1px solid #3c3434;
	    box-shadow: 0 0 0 1px #d2d2d2,inset 0 0 100px #eaeaea,0 0 2.5px #757575, 0 0 10px #dedede, inset 0 0 7px ivory;
	    /* background: none; */
	    background: transparent;
	    box-shadow: none;
	    top: -12.1em;
	    position: relative;
	    padding-top: 12.6em;
	    height: 45em;
	    border: none;
	    border-radius: 18px;
	}
	i.fa.fa-bus {
	    margin-right: .4em;
	}
	span#training-day-user {
   		margin-left: 1.8em;
	    color: #c58000;
	    font-size: 1.2em;
	}
	section.meta-w-form {
		background: #464646;
		 left: 4.75em;
		padding: 1em .1em 1em 4em;
		position: absolute;
		height: 9.7em;
		border-radius: 2px;
		/* border-bottom-left-radius: 6px; */
		/* border-bottom-right-radius: 6px; */
		top: -2.5em;
		border: 1px solid #e2e2e2;
		box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
		width: 164.4%;
		box-shadow: inset 0 0 5px gainsboro, inset 0 0 160px #efefef, 0 0 0 1px #f7f7f7, 0 0 5px black;
		background: linear-gradient(to left, #e6e6e6 , #ececec,#f3f3f3);
		background: white;
	}
	#wrapper{
	   background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEqRgDDwAAAABJRU5ErkJggg==') repeat;
	}

	a.pure-button.x-small-custom {
		font-size: .625em;
		position: relative;
		top: -5em;
		margin-left: -.35em;
		width: 92px;
	}
	aside#opHours {
    font-size: .6em;
    text-align: left;
    position: relative;
    top: -6em;
    margin: 0 auto 0 11em;
    line-height: 12px;
        top: -9em;
    margin: 0 auto 0 12.5em;
}
aside#opHoursNA {
    position: relative;
    font-size: .75em;
    top: -7em;
}
#header p#hrsHead {
    letter-spacing: normal;
    position: relative;
    top: -6em;
}
#header p#dscHead {
    letter-spacing: normal;
    position: relative;
    top: -6em;
}
aside#opHours p.opDay {
    font-size: .9em;
    color: black;
    opacity: .8;
    margin-left: .7em;
}
.simg {
    width: 5%;
    margin-left: -8em;
    position: relative;
    top: .25em;
}
	a#map-directions {
		color: #0c375a;
		font-size: .6em;
		position: relative;
		line-height: 1px;
		top: -7.7em;
	}
	div#placeAddress {
		margin-top: .84em;
    position: relative;
    top: -6em;
    font-size: .8em;
    width: 12em;
    margin: .84em auto 0 auto;
	}
	.f3 {
		font-size: .7em;
	}
		
	span#placeZip {
		position: relative;
		top: -1em;
	}
div#placeCategory {
    margin-top: 3.5em;
    font-size: .55em;
    width: 20em;
    line-height: 10px;
    margin-left: 3.3em;
    margin-bottom: 2.02em;
    position: relative;
    top: -4.75em;
    left: 2em;
    font-size: .7em;
}
	div.cist {
	    border-bottom: none;
	    /* border-bottom: 1px solid lightgray; */
	    margin: 0 .1em 6em .1em;
	    background: #F5F5F5;
	    border: 1px solid #ccc;
	}
	i.fa.fa-phone {
	position: relative;
    top: -5.75em;
    left: -.2em;
    color: darkgreen;
    font-size: .8em;
	}
	.myButton {

	    position: relative;
	    left: -7em;

	}
	div#placeHours {
    font-size: .6em;
    line-height: 10px;
    margin-left: .22em;
    letter-spacing: .6px;
    text-align: center;
    position: relative;
    width: 97%;
 top: -5em;
    padding: .8em 9em;
    border-bottom: none;
}
	.f2 {
		font-size: .9em;
		font-weight: 600;
		line-height: 15px;
		letter-spacing: .5px;
		margin: .7em 0 .2em;
	}
.cest {
    border-bottom: none;
    /* border-bottom: 1px solid lightgray; */
    margin: 0 1.83em 1em 1.83em;
    background: #F5F5F5;
    border: 1px solid #ccc;
    background: #fffefb;
    /* border: 2px solid lightgray; */
    /* border-bottom: 1px solid lightgray; */
    border-right: none;
    border: none;
    position: relative;
    padding-bottom: 2em;
    top: 1.4em;
    border-left: none;
    box-shadow: 0 0 .5px #adadad;
}
	div#placeTitle {
font-size: 1em;
    background: #fffef8;
    background: none;
    /* border: 2px solid lightgray; */
    /* border-bottom: 1px solid lightgray; */
    border-right: none;
    border-left: none;
    box-shadow: 0 0 .5px black;
    position: relative;
    box-shadow: none;
    top: -3em;
    padding: 1em 1em 2.4em 1em;
	}
	div#info-wrapper {
    background: none;
    border: none;
    /* box-shadow: inset 0 0 100px #f3f3f3; */
    width: 112%;
    display: inline-block;
    height: 613px;
    /* border: 1px solid #e2e2e2; */
    font-weight: 400;
    position: relative;
    box-shadow: none;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
    top: -3.7em;
    color: black;
    left: -1.6em;
    font-family: DinLight;
}
	.cist {
		position: relative;
		top: -5.35em;
	}
	span#placePhone {
	font-size: .85em;
    text-decoration: underline;
    color: #0b5d77;
    position: relative;
    top: -5.5em;
	}
	#winCtrl {
		display: inline;
		z-index: 99999;
		position: relative;
		top: -.5em;
		color: #443101;
		left: 7.5em;
		background: none;
		border-radius: 5em;
		border-color: black;
		border: none;
		height: 10em;
		width: 10em;
	}

.f-desc {
    border: none;
    padding: .5em 7em;
    text-align: start;
    margin-left: 0.65em;
    width: 95%;
    position: relative;
    top: -7em;
    line-height: 13px;
    font-size: .75em;
    border: none;
    background: none;
}
	.row.butane {
	    margin-left: .01em;
	    margin-bottom: .1em;
	    margin-top: .05em;
	    top: .002em;
	    padding-top: 2.95em;
	    /*height: 186.5px;*/
	    padding-right: .5em;
	    padding-bottom: 2.7em;
	    box-shadow: inset 0 0 250px black;
	    background: none;
	    /* border-bottom: none; */
	    /*url("https: //www.transparenttextures.com/patterns/black-thread.png");*/
	    background: url("https://www.transparenttextures.com/patterns/black-thread.png");
	    display: inherit;
	    background: linear-gradient(to left, #c2e59c , #64b3f4);
	    background: #83a4d4; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(#83a4d4,#83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	ul.actions.fit.small.lower-btns {
	    margin-top: .531em;
	    clear: both;
	}

	ul.actions.fit.small.upper-btns {
	    margin-bottom: .1em;
	    clear: both;
	    dominant-baseline: mathematical;
	}

	.nav-tabs > li > a {
		margin-right: 2px;
		line-height: 1.42857143;
		border: 1px solid transparent;
		color: #393c2e;
		color: #010a01;
		letter-spacing: .15pc;
		text-shadow: 0 0 10px #716e04;
		font-weight: 500;
		text-shadow: none;
		border-radius: 4px 4px 0 0;
		font-size: .675em;
		font-family: 'Raleway';
		margin-bottom: 1.5px;
		margin-top: -.925em;
		font-family: DinLight;
		font-family: Georgia;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		padding-top: 18px;
	}
	input#pac-input {
	    position: relative;
	    left: 7.5em;
	    top: -1.5em;
	}
	table td {
		text-indent: -1.35em;
	}
	#header {
	    padding: 1em 4em 8em 4em;
	}

	#header h1 {
	    padding: .7em 0 1.75em 0;
	    left: -8em;
	    border-bottom: 3px double gray;
	    width: 58.5em;
	        width: 58.65em;
	    top: -4.55em;
	    height: 4em;
	}
	section#first {
	    height: 870px;
	}

	main#main-page {
		position: relative;
		top: -16.4em;
		left-: 10em;
		margin-left: .3em;
		background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
		outline: none;
		box-shadow: 0 0 5px #848484;
		background: silver;
		background: radial-gradient(#c7e2ff,#b8d4e6,#b4cdd6);
		border: none;
		background: background: #ADD100;
		background: -webkit-linear-gradient(to left, #ADD100 , #7B920A);
		background: linear-gradient(to left, #eaecdb , #c1c5ac);
		border-radius: 18px;
		height: 610px;
		left: -4em;
		width: 117.25%;
		box-shadow: 0 0 2px #cccccc, inset 0 0 200px #90928c, 0 0 3px #a0a0a0, 0 0 5px #6d6d6d;
		box-shadow: none;
	}
	.row.butane {
		margin-left: .05em;
		margin-bottom: .1em;
		margin-top: .001em;
		top: -.38em;
		padding-top: 3.75em;
		padding-right: .5em;
		box-shadow: inset 0 0 200px #ffffe8;
		background: #fafbee;
		border-bottom: 1px solid #6d6d66;
	}

	section#queryForm {
	    position: relative;
	    top: -8.5em;
	    left: 1.25em;
	    height: 3em;
	}

	header .sh-up {
		position: relative;
		top: -5em;
	}

	p#headerP {
		margin-top: -6.85em;
	}

	ul.alt {
	    list-style: none;
	    padding-left: 0;
	    margin-left: 0;
	    text-align: center;
	    position: relative;
	    left: -10.8em;
	}
	li.realign {
		position: relative;
		left: -8.9em;
	}
	#wrapper {
		width: 64em;
		max-width: calc(100% - -.4em);
		margin: 0 auto;
		top: -9.4em;
    	left: -.5em;
		background: #b0b990;
		box-shadow: inset 0 0 200px #e2eff1, 0 0 1px #5a5959;
		border: 1px double #747879;
		/* background: radial-gradient(lightgrey,black); */
		min-height: 760px;
		/* background: radial-gradient(#eff6ff,#d3d8de); */
		/* border-right: none; */
		/* border-left: none; */
		border-radius: .125em;
		height: 58em;
		outline: none;
		background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
		/* border-color: transparent; */
		border: none;
		background: #8e9eab;
		background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
		z-index: 99999;
		background: linear-gradient(#eef2f3,#dfe6ea);
		background: #E0EAFC;
		box-shadow: 0 0 3px #191919, inset 0 0 100px #d4d4d4;
		border-radius: 18px;
		background: linear-gradient(to left, #f0f5ff , #eaf3ff, #ebf3ff,#f5f8ff);
		background: #e43a15;
		background: #ECE9E6;
		background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF);
		background: linear-gradient(to left, #ECE9E6 , #FFFFFF);
		border-radius: 0;
	}

	.nav-tabs {
   		border: none;
		border-radius: 64px;
		box-shadow: box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
		opacity: 1;
		padding: .1em .125em .3em 1.75em;
		position: relative;
		width: 108%;
		outline: none;
		border: none;
		/* box-shadow: inset 0 0 65px #3a4035, 0 0 6px #656464; */
		top: -4.5em;
		left: -2em;
		background: #e4efe4;
		background: -webkit-linear-gradient(to left, #C9FFBF , #FFAFBD);
		/* background: linear-gradient(to left, #C9FFBF , #ecb9c2); */
		/* box-shadow: inset 0 0 65px #3a4035, 0 0 6px #656464; */
		/* background: #e7f9e7; */
		/* box-shadow: inset 0 0 65px #fbfff6, 0 0 1px #a7a7a7, 0 0 3px black; */
		/* box-shadow: inset 0 0 85px #182103, 0 0 0 1px #5a5a5a, 0 0 1px black; */
		/* background: linear-gradient(to left, #f3f0df , #fffeeb, #eae8d8 ); */
		/* box-shadow: 0 0 2px black, inset 0 0 20px #dadabe; */
		box-shadow: 0 0 0 1px #768476, 0 0 3px black;
		border-radius: 4px;
		/* border: 1px solid #768476; */
	}

	p.tab-p {
	    position: relative;
	    top: -5em;
	}
	.row.butane {
	    /* height: 186.5px; */
	    box-shadow: inset 0 0 250px black;
	    background: none;
	    /* border-bottom: none; */
	    background: url("https://www.transparenttextures.com/patterns/black-thread.png");
	    display: inherit;
	    background: linear-gradient(to left, #c2e59c , #64b3f4);
	    background: #83a4d4;
	    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff);
	    background: linear-gradient(#83a4d4,#83a4d4);
	}
	.c-form-label {
		color: #838483;
		font-weight: 300;
		position: relative;
		font-family: Harmattan;
		top: -.5em;
		text-align: center;
		margin-left: -1em;
		text-shadow: none;
	}
.row.butane {
    /* height: 186.5px; */
    box-shadow: inset 0 0 150px #fffffb, 0 0 3px dimgrey;
    background: #f1f1f1;
    /* border-bottom: none; */
    /* background: url("https://www.transparenttextures.com/patterns/black-thread.png"); */
    display: inherit;
    /* background: linear-gradient(to left, #c2e59c , #64b3f4); */
    /* background: #83a4d4; */
    top: -2.2em;
    left: -4.35em;
    border-radius: 0;
    width: 938px;
    border-bottom-right-radius: 0;
    border: none;
    outline: none;
    border-bottom-left-radius: 0;
    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff);
    /* background: linear-gradient(#83a4d4,#83a4d4); */
    /* background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAQ0lE…8R+4+IoL3HswM1N0TEchM3HtBVTUrzIydpKqzcs7Bzg++WR+Le2A33AAAAABJRU5ErkJggg==') repeat; */
}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
 
	      margin-top: -.35em;
	      margin-top: -.01em;

	}
#sw {
    display: none;
    position: absolute;
    left: 57.25%;
    height: 420px;
    width: 26.75em;
    background: radial-gradient(#e1ecf5,#e4eef1,#dff6ff);
    background: white;
    clear: both;
    border: 1px solid #a9a9ad;
    box-shadow: 0 0 0 1px #c5c5c5;
    border-left: .2em solid gray;
    top: -6.05em;
    border-left: none;
    /* border-left: none; */
    border-right: none;
    margin-left: 0;
    box-shadow: none;
    padding: 0 0 2em 0;
    background: none;
    padding: 1em .4em;
    border: none;
}
	li.realign {
	    left: -13.7em;
	}

	.navbar {
		    top: -1em;
	}
	.nav-tabs {
	  
	    padding: .265em .125em .01em 2em;

	}

	.nav > li > a:hover, .nav > li > a:focus {
	    margin-top: -.2575em;
	}

	section#customMap {
		height: 660px;
		top: -6.85em;
	    width: 938px;
	    left: -4.3em;
	}
	button.md-button span.ng-scope {
	    position: relative;
	    top: -.35em;
	}
	.nav-tabs {
		left: -11.5em;
		padding-left: 12em;
    	width: 80em;
    	    top: -5.5em;
	}
	.table-wrapper {
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    padding: .95em .82em 0 1.4em;
    top: .25em;
    border: none;
    width: 14.5em;
    left: -1.9em;
    box-shadow: 0 0 0 1px #d4d4d4;
    background: white;
    margin-top: -1.25em;
    margin-right: .02em;
    background: #ddd6f3;
    background: -webkit-linear-gradient(to left, #ddd6f3 , #faaca8);
    background: linear-gradient(to left, #ddd6f3 , #faaca8);
    background: #EFEFBB;
    background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD);
    background: linear-gradient(to left, #EFEFBB , #D4D3DD);
    background: #ECE9E6;
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF);
    background: #f3f3f3;
    /* background: #E0EAFC; */
    background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3);
    /* background: linear-gradient(to left, #dfe6f5 , #eff4fb); */
    border-radius: 8px;
}
}
