@media (min-width: 1001px) {
	
	#main {
		border-radius: .1em;
		outline: 0;
		background-color: #eaeaea;
		background-image: url(https://www.transparenttextures.com/patterns/brilliant.png);
		border: 1px solid #3c3434;
		box-shadow: 0 0 0 1px #d2d2d2,inset 0 0 100px #eaeaea,0 0 2.5px #757575, 0 0 10px #dedede, inset 0 0 7px ivory;
		/* background: none; */
		/* background: transparent; */
		/* box-shadow: none; */
		top: -8em;
		position: relative;
		padding-top: 12.6em;
		height: 45em;
		border: none;
		border-radius: 18px;
	}
	i.fa.fa-bus {
	    margin-right: .4em;
	}
	span#training-day-user {
   		margin-left: 1.8em;
	    color: #c58000;
	    font-size: 1.2em;
	}

	#wrapper{
	   background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEqRgDDwAAAABJRU5ErkJggg==') repeat;
	}

	a.pure-button.x-small-custom {
		font-size: .625em;
		position: relative;
		top: -16.7em;
		margin-left: -.35em;
		width: 92px;
	}
	a#map-directions {
		color: #0c375a;
		font-size: .6em;
		position: relative;
		line-height: 1px;
		top: -18.7em;
	}
	div#placeAddress {
		margin-top: .84em;
		position: relative;
		top: .8em;
		left:	.6em;
	}
	.f3 {
		font-size: .7em;
	}
		
	span#placeZip {
		position: relative;
		top: -1em;
	}
	div#placeCategory {
	    margin-top: .75em;
	    font-size: .55em;
	    width: 10em;
	    line-height: 10px;
	    margin-left: 3.3em;
	    margin-bottom: 2.02em;
	}
	div.cist {
		border-bottom: none;
/* 		border-bottom: 1px solid lightgray; */
		margin: 2.3em .1em 6em .1em;


	}
	i.fa.fa-phone {
		position: relative;
		top: -3.95em;
		left: -.2em;
		color: darkgreen;
		font-size: .7em;
	}
	.myButton {

	    position: relative;
	    left: -7em;

	}
	div#placeHours {
    font-size: .47em;
    line-height: 10px;
    margin-left: .22em;
    letter-spacing: .6px;
    text-align: center;
    position: relative;
    width: 97%;
    top: -23.85em;
    padding: .8em 1.35em;
    border-bottom: none;
}
	.f2 {
		font-size: .9em;
		font-weight: 600;
		line-height: 15px;
		letter-spacing: .5px;
		margin: .7em 0 .2em;
	}
	div#placeTitle {
		font-size: .8em;
		background: #fffef8;
		/*     	border: 2px solid lightgray; */
		/* 		border-bottom: 1px solid lightgray; */
		border-right: none;
		border-left:none;
		box-shadow: 0 0 .5px black;
		position: relative;
		top: -.74em;
		padding: 1em 0 2.4em 0;
	}
	div#info-wrapper {
		background: none;
		border: none;
		/* box-shadow: inset 0 0 100px #f3f3f3; */
		width: 98%;
		display: inline-block;
		height: 36px;
/* 		border: 1px solid #e2e2e2; */
		font-weight: 400;
		position: relative;
		box-shadow: none;
		top: -2.5em;
		color: black;
		font-family: DinLight;
	}
	
	.cist {
		position: relative;
		top: -4.35em;
	}
	span#placePhone {
		font-size: .7em;
		text-decoration: underline;
		color: #0b5d77;
		position: relative;
		top: -3.94em;
	}
	#winCtrl {
	    display: inline;
	    z-index: 99999;
	    position: relative;
	    top: -.5em;
	    color: #443101;
	    left: 4.5em;
	    background: none;
	    border-radius: 5em;
	    border-color: black;
	    border: none;
	    height: 10em;
	    width: 10em;
	}
/*}
*/
	.f-desc {
	    border: none;
	    padding: .5em 1em;
	    text-align: start;
	    margin-left: .3em;
	    width: 95%;
	    position: relative;
	    top: -14.75em;
	    line-height: 11px;
	    font-size: .6em;
	    border: none;
	    background: none;
	}
	.row.butane {
	    margin-left: .01em;
	    margin-bottom: .1em;
	    margin-top: .05em;
	    top: .002em;
	    padding-top: 2.95em;
	    /*height: 186.5px;*/
	    padding-right: .5em;
	    padding-bottom: 2.7em;
	    box-shadow: inset 0 0 250px black;
	    background: none;
	    /* border-bottom: none; */
	    /*url("https: //www.transparenttextures.com/patterns/black-thread.png");*/
	    background: url("https://www.transparenttextures.com/patterns/black-thread.png");
	    display: inherit;
	    background: linear-gradient(to left, #c2e59c , #64b3f4);
	    background: #83a4d4; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(#83a4d4,#83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	ul.actions.fit.small.lower-btns {
	    margin-top: .531em;
	    clear: both;
	}

	ul.actions.fit.small.upper-btns {
	    margin-bottom: .1em;
	    clear: both;
	    dominant-baseline: mathematical;
	}

	.nav-tabs > li > a {
	    margin-right: 2px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    color: #393c2e;
	    color: #010a01;
	    letter-spacing: .15pc;
	    text-shadow: 0 0 10px #716e04;
	    font-weight: 500;
	    text-shadow: none;
	    border-radius: 4px 4px 0 0;
	    font-size: .56em;
	    font-family: 'Raleway';
	    margin-bottom: 1.5px;
	    font-family: DinLight;
	    font-family: Georgia;
	    padding-top: 12px;
	}
	input#pac-input {
	    position: relative;
	    left: 7.5em;
	    top: -1.5em;
	}

	#header {
	    padding: 1em 4em 8em 4em;
	}
		
	section#first {
	    height: 870px;
	}

	main#main-page {
	    position: relative;
	    top: -13.4em;
	    margin-left: .3em;
	    background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
	    outline: none;
	    box-shadow: 0 0 5px #848484;
	    background: silver;
	    background: radial-gradient(#c7e2ff,#b8d4e6,#b4cdd6);
	    border: none;
	    background: background: #ADD100; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #ADD100 , #7B920A); /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(to left, #eaecdb , #c1c5ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    border-radius: 18px;
	    height: 610px;
	    box-shadow: 0 0 2px #cccccc, inset 0 0 200px #90928c, 0 0 3px #a0a0a0, 0 0 5px #6d6d6d;
	    box-shadow: none;
	}

	.row.butane {
	    margin-left: .01em;
	    margin-bottom: .1em;
	    margin-top: .05em;
	    top: .002em;
	    padding-top: 3.15em;
	    padding-right: .5em;
	     /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	    box-shadow: inset 0 0 200px #ffffe8;
	    background: #fafbee;
	     /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	     /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	     /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	    border-bottom: 1px solid #6d6d66;
	}

	section#queryForm {
	    position: relative;
	    top: -5.5em;
	    left: -1.75em;
	    height: 3em;
	}

	header .sh-up {
	    position: relative;
	    top: -3em;
	}

	p#headerP {
	    margin-top: -7.05em;
	}

	ul.alt {
	    list-style: none;
	    padding-left: 0;
	    margin-left: 0;
	    text-align: center;
	    position: relative;
	    left: -10.8em;
	}
	li.realign {
		position: relative;
		left: -8.9em;
	}

	#wrapper {
	    width: 64em;
	    max-width: calc(100% - -.4em);
	    margin: 0 auto;
	    top: -6.4em;
	    background: #b0b990;
	    box-shadow: inset 0 0 200px #e2eff1, 0 0 1px #5a5959;
	    border: 1px double #747879;
	    /* background: radial-gradient(lightgrey,black); */
	    min-height: 760px;
	    /* background: radial-gradient(#eff6ff,#d3d8de); */
	    /* border-right: none; */
	    /* border-left: none; */
	    border-radius: .125em;
	    height: 60em;
	    outline: none;
	    background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
	    /* border-color: transparent; */
	    border: none;
	    background: #8e9eab;
	    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	    z-index: 99999;
	    background: linear-gradient(#eef2f3,#dfe6ea);
	    background: #E0EAFC; /* fallback for old browsers */
	     /* Chrome 10-25, Safari 5.1-6 */
	    box-shadow: 0 0 3px #191919, inset 0 0 100px #d4d4d4;
	    border-radius: 18px;
	    background: linear-gradient(to left, #f0f5ff , #eaf3ff, #ebf3ff,#f5f8ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    background: #e43a15; /* fallback for old browsers */
	     /* Chrome 10-25, Safari 5.1-6 */
	     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	     /* fallback for old browsers */
	     /* Chrome 10-25, Safari 5.1-6 */
	     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	     /* fallback for old browsers */
	     /* Chrome 10-25, Safari 5.1-6 */
	     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    background: #ECE9E6; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	p.tab-p {
	    position: relative;
	    top: -5em;
	}
	.row.butane {
	    /* height: 186.5px; */
	    box-shadow: inset 0 0 250px black;
	    background: none;
	    /* border-bottom: none; */
	    background: url("https://www.transparenttextures.com/patterns/black-thread.png");
	    display: inherit;
	    background: linear-gradient(to left, #c2e59c , #64b3f4);
	    background: #83a4d4;
	    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff);
	    background: linear-gradient(#83a4d4,#83a4d4);
	}
	.c-form-label {
    color: #838483;
    font-weight: 300;
    position: relative;
    font-family: Harmattan;
    top: -.5em;
    text-align: center;
    margin-left: -1em;
    text-shadow: none;
}
	.row.butane {
	    /* height: 186.5px; */
	    box-shadow: inset 0 0 150px #fffffb;
	    background: #f1f1f1;
	    /* border-bottom: none; */
	    /* background: url("https://www.transparenttextures.com/patterns/black-thread.png"); */
	    display: inherit;
	    /* background: linear-gradient(to left, #c2e59c , #64b3f4); */
	    /* background: #83a4d4; */
	    border-radius: 18px;
	    border-bottom-right-radius: 0;
	    border: none;
	    outline: none;
	    border-bottom-left-radius: 0;
	    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff);
	    /* background: linear-gradient(#83a4d4,#83a4d4); */
	    /* background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAQ0lE…8R+4+IoL3HswM1N0TEchM3HtBVTUrzIydpKqzcs7Bzg++WR+Le2A33AAAAABJRU5ErkJggg==') repeat; */
	}
}

@media (min-width: 1200px) {
	li.realign {
	    position: relative;
	    left: -11.7em;
	}
}