
@media (min-width: 1200px) {
	li.realign {
	    position: relative;
	    left: -11.7em;
	}
	main#main-page {
		position: relative;
		top: -16.4em;
		left-: 10em;
		margin-left: .3em;
		background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
		outline: none;
		box-shadow: 0 0 5px #848484;
		background: silver;
		background: radial-gradient(#c7e2ff,#b8d4e6,#b4cdd6);
		border: none;
		background: background: #ADD100;
		background: -webkit-linear-gradient(to left, #ADD100 , #7B920A);
		background: linear-gradient(to left, #eaecdb , #c1c5ac);
		border-radius: 18px;
		height: 610px;
		left: -4em;
		width: 115.56%;
		box-shadow: 0 0 2px #cccccc, inset 0 0 200px #90928c, 0 0 3px #a0a0a0, 0 0 5px #6d6d6d;
		box-shadow: none;
	}
	.nav-tabs {
	    padding: .3em .125em .3em 4.5em;
	}
	section.meta-w-form {
	    background: #464646;
	    left: -3.7em;
	    padding: 1em .1em 1em 4em;
	    position: absolute;
	    height: 9.9em;
	    border-radius: 9px;
	    /* border-bottom-left-radius: 6px; */
	    /* border-bottom-right-radius: 6px; */
	    top: -2.42em;
	    border: 1px solid #e2e2e2;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    width: 234.4%;
	    box-shadow: inset 0 0 5px gainsboro, inset 0 0 160px #efefef, 0 0 0 1px #f7f7f7;
	    background: linear-gradient(to left, #e6e6e6 , #ececec,#f3f3f3);
	    background: white;
	}
	#sw {

	    left: 75.9%;

	    width: 14em;

	}
}