
@media (min-width: 1680px) {

	aside#opHours p#opSun {
		margin-left: 4.4em;
	}
	aside#opHours p#opMon {
		margin-left: 4.3em;
	}
	aside#opHours p#opTue {
		margin-left: 4em;
	}
	aside#opHours p#opWed {
		margin-left: 2.5em;
	}
	aside#opHours p#opThu {
		margin-left: 3.65em;
	}
	aside#opHours p#opFri {
		margin-left: 5.15em;
	}
	aside#opHours p#opSat {
		margin-left: 3.9em;
	}

	div.cest a#phoneNumb {
	    position: relative;
	    top: -.55em;
	}
	i.legend-icon-a {
	    position: relative;
	    top: .5em;
	    left: .75em;
	}
	i.legend-icon-b {
		position: relative;
    top: .5em;
    left: -.1em;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		padding-top: .25em;
	}
	.nav > li > a:hover, .nav > li > a:focus {
	    margin-top: .55em;
	}
	div#buttons-wrapper {
    left: 10.5em;
    top: 5.1em;
    width: 16em;
}
	#main input[type=text], #main input[type=password], #main input[type=email], #main select, #main textarea {
    background: rgba(245, 251, 255, 0.99);
    border-color: #bdced4;
    height: 1.75em;
    border-radius: 20px;
}
	section#first {
	    height: 880px;
	}

	ul.actions.fit.small {
	    margin-left: -4em;
	    width: calc(100% + -9.5em);
	    margin-top: -.924em;
	}

	table td {
	    padding: 1.7em .3em .75em 1.3em;
	    border: none;
	    line-height: 12px;
	    font-size: .75em;
	}
.legend-table {
    width: 14em;
    font-size: .65em;
    position: relative;
    top: -.31em;
    left: .3em;
}
	.toleft {
    position: relative;
    left: -.3em;
    top: -.2em;
    padding-right: .1em;
}
	section#queryForm {
    position: relative;
    top: -8em;
    left: 4em;
    height: 3em;
}
	td.rbor {
		position: relative;
		left: -1.25em;
	}
	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    padding: 1.5em .83em 0 1.25em;
	    top: .3em;
	    border: 1px solid #c3c3c3;
	    left: -2.75em;
	    background: none;
	    background: whitesmoke;
	    margin-top: -1.25em;
	    margin-right: -3em;
	    box-shadow: none;
	    padding-right: 3em;
	}

	#pac-input {
	    background-color: #fff;
	    font-family: Roboto;
	    font-size: 15px;
	    font-weight: 300;
	    position: relative;
	    margin-left: 12px;
	    padding: 0 11px 0 13px;
	    text-overflow: ellipsis;
	    width: 24%;
	    height: 30px;
	    left: 69%;
	    top: 4.2em;
	}

	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	padding-right: 1.5em;
	}

	#main input[type="submit"].special, #main input[type="reset"].special, #main input[type="button"].special, #main button.special, #main .button.special {

	}

	ul.actions.fit.small li {
	    padding: 0 0 0 2em;
	    width: 150px;
	    font-size: .8em;
	}

#sw {
    position: absolute;
    left: 66.2%;
    height: 642px;
    width: 17.3em;
    background: none;
    clear: both;
    box-shadow: none;
    top: -67px;
    border: none;
    margin-left: 0;
    padding: 0 0 2em 0;
}
	.codrops-top a {
		padding: 0 1em;
		letter-spacing: .42em;
		color: #cbceae;
		font-weight: 900;
		font-size: 75%;
		display: inline-block;
	}

	input[type="submit"].small, input[type="reset"].small, input[type="button"].small, button.small, .button.small {
		font-size: 0.65em;
	}

	.tbody-legend {
		padding-left: .2em;
		padding: 1em 1em 2em 0;
		position: relative;
		background: radial-gradient(#e5ecf1,#f8fcff);
		left: 1em;
		box-shadow: none;
		background: transparent;
		top: -8.4em;
		border: none;
		border: none;
		outline: none;
	}

	p#headerP {
    margin-top: -3.95em;
    margin-bottom: 6em;
    top: -17.4em;
    left: -2em;
    letter-spacing: .1pc;
    font-size: .55em;
}
	header .sh-up {
	    position: relative;
	    top: -4em;
	}
	html {
	    max-height: 2600px;
	    background: none #d0d0d0;
	    overflow-x: hidden;
	    background: #8e9eab;
	    box-shadow: inset 0 0 600px #6f6f6f;
	    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	    background-repeat: repeat-x;
	    background: linear-gradient(to left, #8e9eab , #c3d9de,#8e9eab );
	}
	section#customMap {
    height: 652px;
    border-left: 1px solid #626f64;
    border-right: 1px solid #637766;
    box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
    border: 2px solid #676f03;
    margin-top: 1.24em;
    margin-bottom: -2.7em;
    border: none;
    border-bottom: none;
    border-top: none;
    top: -4em;
    position: relative;
    left: .05em;
    width: 1135px;
}

	main#main-page {
		position: relative;
		top: -15.35em;
		margin-left: -2.7em;
		width: 50.2em;
		background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
		outline: none;
		box-shadow: 0 0 5px #848484;
		background: silver;
		background: radial-gradient(#c7e2ff,#b8d4e6,#b4cdd6);
		border: none;
		background: background: #ADD100;
		background: -webkit-linear-gradient(to left, #ADD100 , #7B920A);
		background: linear-gradient(to left, #eaecdb , #d7d8d0);
		height: 610px;
		box-shadow: 0 0 5px #afafaf, inset 0 0 200px #d6d6d6, 0 0 0 1px #b5b5b5, 0 0 6px #8c8c8c;
		box-shadow: none;
	}
	.row.butane {
	    margin-left: .05em;
	    margin-bottom: .1em;
	    margin-top: .05em;
	    width: 1132px;
	    top: -2.82em;
	    top: -2.625em;
	    padding-top: 2.95em;
	    height: 246.5px;
	    padding-right: .5em;
	    /* border-top: 1px solid red; */
	    padding-bottom: 2.7em;
	    box-shadow: inset 0 0 250px black;
	    background: none;
	    background: url("https://www.transparenttextures.com/patterns/black-thread.png");
	    display: inherit;
	    background: linear-gradient(to left, #c2e59c , #64b3f4);
	    background: #83a4d4;
	    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff);
	    background: linear-gradient(#83a4d4 , #b6fbff);
	    box-shadow: inset 0 0 150px #fffffb, 0 0 2px black;
	    background: #ececec;
	}
	.move-up {
	    position: relative;
	    top: 1.5em;
	}
	li.realign {
	    left: -14.2em;
	}
	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	    letter-spacing: .05em;
	    width: 135px;
	    height: 29px;
	    background-color: #e3fbfd;
	    color: #5b969a!important;
	    text-shadow: 0 0 12px #aeeeff;
	    box-shadow: none;
	    padding-top: .01em;
	    margin: 0 auto;
	    display: block;
	    border: 1px solid rgba(144, 144, 144, .2);
	    border-radius: 3px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	    letter-spacing: 0;
	    width: 136px;
	    height: 31px;
	    background-color: #ffffff;
	    color: #525252!important;
	    text-shadow: none;
	    box-shadow: none;
	    padding-top: .23em;
	    margin: 0 auto;
	    display: block;
	    border: 1px solid rgba(86, 85, 85, .3);
	    border: 1px solid #c7c7c7;
	    border-radius: 24px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	}
	#main .button.special, #main button.special, #main input[type=button].special, #main input[type=reset].special, #main input[type=submit].special {
		background-color: #71e08f;
		color: #1c561c!important;
		text-shadow: none;
		box-shadow: 0 0 0 1px #70e840,inset 0 0 80px #70d070;
		border-radius: 12px;
		border: 1px solid #bdf8ff;
		padding-top: 0;
		text-shadow: 0 0 32px lime;
		letter-spacing: .35px;
		margin: 0 auto;
		width: 130px;
		height: 25px;
		display: block;
		border: 1px solid rgb(123, 154, 120);
		color: #ffffff;
		font-weight: 300;
		-webkit-border-radius: 3px;
		border-radius: 24px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		font-weight: 600;
		color: #145858!important;
		text-shadow: 0 0 12px #aeeeff;
		box-shadow: 0 0 0 1px cyan, 0 0 5px black;
		border: 1px solid transparent;
	}
	aside#opHours p.opDay {
	    position: relative;
	    top: .01em;
	    margin-left: 2.8em;
	}
	aside#opHours {
	    top: -7.45em;
	    left: -.65em;
	}
	div#placeTitle {
	    top: 1.75em;
	    font-size: .7em;
	}
	span#placePhone {
	    font-size: .575em;
	 
	    top: -3.2em;
	}
	i.fa.fa-phone {
	    position: relative;
	    top: -3.625em;
	    left: -.2em;
	    color: darkgreen;
	    font-size: .5em;
	}
	aside#opHours {
    	font-size: .465em;
    	    margin: 0 auto 0 8.5em;
    }
    #header p#dscHead {
	    top: -6em;
	    font-size: .5em;
	    left: 1.3em;
	}
	div#placeCategory {
	    margin-top: .95em;
	    font-size: .55em;
	    width: 20em;
	    line-height: 10px;
	    background: none;
	    margin-top: -4.9em;
	    top: 2.5em;
	    margin-left: 1.3em;
	    margin-bottom: 0;
	    font-size: .45em;
    letter-spacing: .02pc;
	}
	img#imgPath {
	    
	    top: -.4em;
	}
	span#hrsdsc {
	    position: relative;
	    top: -1.6em;
	}
	div#placeAddress {
	    margin-top: .84em;
	    position: relative;
	    top: -5em;
	    line-height: 15px;
	    font-size: .55em;
	    width: 12em;
	    margin: .84em auto 0 auto;
	}
	a.pure-button.x-small-custom {
	    font-size: .4em;
	    position: relative;
	    top: -2.5em;
	    margin-left: .5em;
	    margin-bottom: -1em;
	    width: 120px;
	}
	.f-desc {
	    padding: .5em 1em;
	    text-align: start;
	    margin-left: 6.25em;
	    width: 60%;
	    line-height: 16px;
	    font-size: .45em;
	    border: none;
	    background: none;
	    max-height: 220px;
	    overflow-x: hidden;
	    overflow-y: scroll;
	    line-height: 12px;
	    letter-spacing: .02pc;
	    font-size: .475em;
	    margin-top: -2.55em;
	}
	#header p#dscHead {
	    top: -6em;
	    font-size: .45em;
	    left: 1.8em;
	    
	}
	#header p#hrsHead {
		line-height: 12px;
	    font-size: .45em;
	    top: -3.3em;
	    left: 1.8em;
	   
	}
	a#map-directions {
    letter-spacing: -.001251pc;
    top: -7.4em;
    font-size: .45em;
}
	#header h1 {
		margin: .4em 0.25em 6.4em 0;
		font-weight: 600;
		letter-spacing: 1.9px;
		font-size: 16px;
		top: -8.4em;
		width: 70.75em;
    	left: -17.6em;
	}
	#main {
		margin-left: -2.35em;
	}
	#wrapper {
		padding-top: .4em;
		height: 42.5em;
	}
	.nav-tabs {
		top: -6.8em;
		top: -9.85em;
	}

	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: hidden;
	    padding: .7em 1.5em 0 2.85em;
	    top: .05em;
	    border: none;
	    height: 6.9em;
	    width: 13.5em;
	    left: -3.4em;
	    box-shadow: 0 0 2px #cccccc;
	    background: #fafafa;
	    margin-top: -1em;
	    margin-right: .05em;
	    	top: .5em;

	    left: -2.5em;
	        height: 5em;
	    width: 10em;
	}
	section.meta-w-form {
		background: #464646;
		left: 3.8em;
		padding: 1em .1em 1em 4em;
		position: absolute;
		height: 8em;
		top: -2em;
		border: 1px solid #9e9b92;
		box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
		width: 165.5%;
		box-shadow: inset 0 0 160px #717070, 0 0 0 1px #5a5a5a;
		background: linear-gradient(to left, #7b7d82 , #d2d2d2,#818590);
		box-shadow: inset 0 0 5px gainsboro, inset 0 0 160px #efefef, 0 0 0 1px #f7f7f7;
		background: linear-gradient(to left, #e6e6e6 , #ececec,#f3f3f3);
		/* background: none; */
		/* border: none; */
		/* box-shadow: none; */
	}
	.nav-tabs {
	    border: none;
	    border-radius: .125em;
	    box-shadow: inset 0 0 0 300px #ffffff, 0 0 0 1px #c7cec7, 0 0 3px #3c3c3c;
	    opacity: 1;
	    padding: .45em .125em .15em 16.8em;
	    position: relative;
	    width: 205.5%;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	       top: -8em;
	    height: 2.2em;
	    border-radius: 4px;
	    left: -20.2em;
	    background: linear-gradient(to left, #f3f0df , #fffeeb, #eae8d8 );
	    box-shadow: inset 0 0 85px #e2ecc6, 0 0 0 1px #868686, 0 0 3px #353535;
	}
	.nav-tabs > li > a {
		font-size: .5em;
	}
	ul.actions.fit.small li.realign {
		left: -17.65em;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		    margin-top: .885em;
	    font-size: .57em;
		}
	.nav-tabs > li > a {
	   margin-top: -.4em;
	}
	#new-service-button {
	    position: relative;
	    left: 9em;
	    top: 6em;
	}
	div.md-list-item-inner div.md-list-item-text h3.isp-title {
	
		font-size: .8em;
	}
	
	div.md-list-item-inner div.md-list-item-text h4.isp-address.ng-binding {
	    margin-top: .2em;
	    font-size: .7em;
	}


	#isp-header {
		position: relative;
		top: -1.5em;
	}

	a.inks {
	    color: #00626b;
	    font-size: .7em;
	    margin-top: -.5em;
	}
	section.isp-main.ng-scope {
	   	left: 7em;
	}
	md-card#hacksalot {
		left: -.65em;
	    height: 646px;

	}
	div.cest {
	    left: 8px;
	    /*width: 290px;*/
	    margin-top: -.75em;
	}
}