@media (min-width: 1660px) {
	/*a.button.fit.small.fit-cx {
	    width: 12em;
	}*/
	h1.tab-head {
	    position: relative;
	    top: -5em;
	}
	p.tab-p {
	    position: relative;
	    top: -10.5em;
	}
	.nav-tabs {
	    border: none;
	    border-radius: .125em;
	    box-shadow: inset 0 0 0 300px #ffffff, 0 0 0 1px #c7cec7, 0 0 3px #3c3c3c;
	    opacity: 1;
	    padding: .65em .125em .15em 5.35em;
	    position: relative;
	    width: 120.5%;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    top: -10.4em;
	    height: 2.8em;
	    border-radius: 4px;
	    left: -6.2em;
	    background: linear-gradient(to left, #f3f0df , #fffeeb, #eae8d8 );
	    box-shadow: inset 0 0 85px #e2ecc6, 0 0 0 1px #868686, 0 0 3px #353535;
	}
	#main {
		border-radius: .1em;
		outline: 0;
		background-color: #eaeaea;
		background-image: url(https://www.transparenttextures.com/patterns/brilliant.png);
		border: 1px solid #3c3434;
		box-shadow: 0 0 0 1px #d2d2d2,inset 0 0 100px #eaeaea,0 0 2.5px #757575, 0 0 10px #dedede, inset 0 0 7px ivory;
		box-shadow: none;
		/* background: none; */
		background: transparent;
		/* box-shadow: none; */
		top: -15.65em;
		position: relative;
		padding-top: 12.6em;
		height: 43.5em;
		border: none;
		left: -2.35em;
		border-radius: 18px;
	}
	.f2 {
	    font-size: .9em;
	    font-weight: 600;
	    line-height: 18px;
	    margin: .7em 0 .2em;
	}
	.toleft {
		position: relative;
		left: 1.1em;
		padding-right: .1em;
		line-height: 6px;
	}
	div#info-wrapper {
		background: #f3f3f3;
		background: transparent;
		border: 1px solid #bbbaba;
		/* box-shadow: inset 0 0 100px #f3f3f3; */
		width: 98%;
		display: inline-block;
		height: 636px;
		border: 1px solid #e2e2e2;
		box-shadow: none;
		font-weight: 400;
		position: relative;
		box-shadow: none;
		top: -1.5em;
	}
	.f-desc {
	    border: none;
	    padding: .5em 1em;
	    text-align: start;
	    margin-left: 1.15em;
	    width: 85%;
	    line-height: 16px;
	    font-size: .575em;
	    border: 1px solid gainsboro;
	    background: #ececec;
	    max-height: 220px;
	    overflow-x: hidden;
	    overflow-y:scroll;
	    margin-top: 1.5em;
	}
	form.pure-form.rangr {
	    background: whitesmoke;
	    width: 60%;
	    box-shadow: 0 0 1px black;
	    margin-top: -.92em;
	    margin-left: 12em;
	    padding: 1em 1.5em 0 3em;
	}

	li.right {
		position: relative;
		left: 2.25em;
	}

	.mission {
	    line-height: 28px;
	}

	#wrapper {
	    width: 74em;
	    max-width: calc(100% - .1em);
	    margin: 0 auto;
	    height: 50em;
	    position: relative;
	    top: -6.5em;
	    padding-left: 2.4em;
	    background: radial-gradient(#eff6ff,#f5ffe5);
	    box-shadow: inset 0 0 800px #eef3e5, inset 0 0 0 800px #dce6c8, 0 0 0 1px #baccba, 0 0 10px black;
	    /* padding-left: .1em; */
	    border: none;
	    box-shadow: none;
	    background: linear-gradient(to left, #6e7b92 , #CFDEF3, #CFDEF3,#6e7b92);
	}

	#header p {
	    font-size: .6em;
	    letter-spacing: .15em;
	    color: #545353;
	    margin-top: -.-5em;
	    position: relative;
	    top: -8.65em;
	    left: -2.1em;
	}
	
	.nav-tabs > li > a {
		margin-right: 2px;
		line-height: 1.42857143;
		border: 1px solid transparent;
		color: gray;
		border-radius: 4px 4px 0 0;

		margin-top: -1.25em;
		color: #3e442c;
		letter-spacing: .125pc;
		padding-bottom: 10px;
		text-shadow: none;
		font-size: .7em;
	}

	#footer > * {
	    width: calc(50% - 2em);
	    margin-left: 12em;
	    font-size: .9em;
	        border-radius: 64px;
	}

	main#main-page {
		position: relative;
		top: -10em;
		margin-left: -5em;
		width: 60.9em;
		background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
		outline: .125em solid #868686;
		box-shadow: 0 0 5px #848484;
		background: silver;
		background: radial-gradient(#c7e2ff,#b8d4e6,#b4cdd6);
		border: none;
		outline: none;
		background: background: #ADD100;
		background: -webkit-linear-gradient(to left, #ADD100 , #7B920A);
		background: linear-gradient(to left, #eaecdb , #c1c5ac);
		height: 610px;
		border-radius: 18px;
		box-shadow: 0 0 2px #2d2c2c, inset 0 0 200px #90928c, 0 0 0 1px #a0a0a0, 0 0 2px #444444;
		box-shadow: none;
	}
	a.lks {
	    color: cornflowerblue;
	    color: #557692;
	    text-align: left;
	    text-decoration: underline;
	    font-weight: 600;
	    letter-spacing: 1px;
	    margin-left: 1em;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: #638a13;
		/* color: #c7ffbf; */
		/* text-shadow: 0 0 10px whitesmoke; */
		cursor: default;
		background: olive;
		border: 1px solid #ddd;

		margin-top: -.35em;
		margin-bottom: .2em;
		padding-top: .275em;
		font-size: .72em;
		height: 3.2em;
		border: 1px solid #638a13;
		letter-spacing: .6px;
		box-shadow: 0 0 145px #e8ff90;
		border-top-left-radius: .5em;
		box-shadow: inset 0 0 85px olive, 0 0 4px olivedrab;
		/* border-bottom-color: transparent; */
		border-top-right-radius: .5em;
		border-radius: 1.5em;
		box-shadow: none;
		background: none;
		border: none;
		text-shadow: none;
	}
	.nav > li > a:hover, .nav > li > a:focus {
		text-decoration: none;
		background-color: #c9e269;
		text-shadow: 0 0 20px #ffffff;
		color: #848439;
		box-shadow: none;
		background: transparent;
		border-radius: 1.5em;
		text-decoration: underline;
		padding-top: .5em;
		margin-top: -.05em;
		margin-top: -.4em;
		height: 3.2em;
	}
	#wrapper {
	    box-shadow: inset 0 0 200px #e2eff1, 0 0 1px #5a5959;
	    height: 52.5em;
	    background: linear-gradient(#eef2f3,#dfe6ea);
	    box-shadow: none;
	    padding-top: 4.3em;
	    background: linear-gradient(to left, #6e7b92 , #CFDEF3, #CFDEF3,#6e7b92);
	   box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
	    background: linear-gradient(to left, #ECE9E6 , #FFFFFF);
	}

	section.meta-w-form {
		background: #464646;
		left: 3em;
		padding: 1em .1em 1em 4em;
		position: absolute;
		height: 10.25em;
		border-radius: 2px;
		top: -2.675em;
		border: 1px solid #b7b5b1;
		box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
		width: 175.5%;
		box-shadow: inset 0 0 160px #717070, 0 0 0 1px #5a5a5a;
		background: linear-gradient(to left, #7b7d82 , #d2d2d2,#818590);
		box-shadow: inset 0 0 5px gainsboro, inset 0 0 160px #efefef, 0 0 0 1px #f7f7f7;
		/* box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12); */
		background: linear-gradient(to left, #e6e6e6 , #ececec,#f3f3f3);
		/* background: none; */
		/* border: none; */
		/* box-shadow: none; */
	}
	
	#sw {
	    display: none;
	    position: absolute;
	    left: 75.75%;
	    height: 420px;
	    width: 14em;
	    background: radial-gradient(#e1ecf5,#e4eef1,#f0fbff);
	    background: #fffbf7;
	    clear: both;
	    border: 1px solid #9e9e9e;
	    box-shadow: 0 0 4px #5d5d5d;
	    border-left: .2em solid gray;
	    top: -1px;
	    border-left: 1px solid #070a0a;
	    /* border-left: none; */
	    border-right: none;
	    margin-left: 0;
	    /* box-shadow: 0 0 0 3px gray; */
	    padding: 0 0 2em 0;
	    border: 2px solid lightgray;
	}

	ul.actions.fit.small {
	    margin-left: -5.5em;
	    width: calc(80% + -5.95em);
	    margin-top: -1.25em;
	}

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		position: relative;
		overflow-x: auto;
		padding: .7em 1.5em 0 2.85em;
		top: .05em;
		border: none;
		height: 6.85em;
		width: 16.5em;
		border-radius: 2px;
		left: -3em;
		box-shadow: 0 0 2px #797979;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
		background: white;
		margin-top: -1em;
		margin-right: .05em;
	}
	#header h1 {
		margin: .4em 0.25em 4em 0;
		font-weight: 600;
		letter-spacing: 1.9px;
		font-size: 16px;
		top: -10.4em;
		font-family: Georgia;
	}
	#header h1 {
		margin: .4em 0.25em 4em 0;
		font-weight: 600;
		letter-spacing: 1.9px;
		font-size: 16px;
		left: -14.55em;
		width: 71.3em;
		border: 1px solid gray;
		top: -9em;
		border-bottom: 3px double gray;
		font-family: Georgia;
		border-color: #ccc;
		padding: .99em 0 1.6em 0;
		width: 70.75em;
	}
	#footer {
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;
	    -moz-flex-wrap: wrap;
	    position: relative;
	    text-align: center;
	    width: 100%;
	    left: 17.5em;
	    top: -70em;
	    font-size: .7em;
	    color: black;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 5em 5em 3em 5em;
	    /* width: calc(100% + 2em); */
	    margin: 0;
	}
	.row.butane {
		top: -1.1em;
		width: 1139px;
		    width: 1131px;
		left: -.05em;
		height: 240px;
		border-radius: 0;
		margin-left: 0;
		border-right: 1px solid gray;
		border-left: 1px solid gray;
		border-color:#ccc;
		width: 1132px;
    left: -.1em;
	}
	div#buttons-wrapper {
		left: 9em;
		top: 5.825em;
	}
	section#customMap {
	    top: .575em;
	    position: relative;
	    border-bottom: 1px solid gray;
	    top: -.9em;
    left: -.05em;
    width: 1130px;
        border-color: #ccc;
    border-top: 1px solid #ccc;
	    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
	}
	.nav-tabs {
		position: absolute;
		width: 100%;
		left: -.001em;
		top: -7.2em;
		    position: absolute;
    width: 160%;
    left: -16em;
    top: -7.8em;
    padding-left: 18em;
    padding-top: .75em;
	}
	.legend-table {
		width: 16.75em;
		font-size: .7em;
		border: none;
		position: relative;
		left: 1.2em;
		background: transparent;
	}
	section#queryForm {
	    position: relative;
	    top: -5.95em;
	    left: .5em;
	    height: 3em;
	}
	.move-up {
	    position: relative;
	    top: 1.5em;
	}
	table td {

	    line-height: 6px;
	    font-size: 1em;
	    letter-spacing: .71px;
	    text-indent: -1.15em;
	    text-indent: -1.4em;
	    /* font-size: .85em; */
	    /* letter-spacing: .71px; */
	}
/*
	a.button.special.fit.small.fit-cx {
	    width: 12em;
	}*/
}
