@media (min-width: 1281px) {
	md-card#hacksalot {
	    background: white;
	    height: 598px;
	    border: 3px double gainsboro;
	    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	    position: relative;
	    left: -.75em;
	    top: -1em;
	    height: 598px;
	        width: 258px;
	    overflow: hidden;
	}
	div#placeTitle {
		font-size: .8em;
		background: #fffef8;
		background-color: #F2FCE2;
		/* border: 2px solid lightgray; */
		/* border-bottom: 1px solid lightgray; */
		border-right: none;
		border-left: none;
		box-shadow: 0 0 .5px black;
		position: relative;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
		top: -.14em;
		padding: 1em .5em 2.4em .5em;
		width: 94.7%;
		margin-left: .3em;
		margin-bottom: 2em;
	}
	div#buttons-wrapper {
	    position: absolute;
	    left: 11em;
	    width: 21.5em;
	    margin: 0;
	    padding: 0;
	    top: 5.15em;
	    z-index: 99999;
	    border: none;
	}

	.glyphicon {
	    position: relative;
	    top: 6.5px;
	    left: -7.25px;
	    display: inline-block;
	    font-family: 'Glyphicons Halflings';
	    font-style: normal;
	    font-weight: 100;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	i.fa.fa-print {
		font-size: 1.15em;
	}
	.f-desc {
	    border: none;
	    padding: .5em 1em;
	    text-align: start;
	    margin-left: .3em;
	    width: 95%;
	    position: relative;
	    top: -17.5em;
	    line-height: 11px;
	    font-size: .55em;
	    border: none;
	    background: none;
	}
	div#placeCategory {
	    margin-top: .95em;
	    font-size: .55em;
	    width: 10em;
	    line-height: 10px;
	    margin-top: -.5em;
	    margin-left: 3.4em;
	    margin-bottom: 0;
	}
	i.fa.fa-phone {
		position: relative;
		top: -5.23em;
		left: -.2em;
		color: darkgreen;
		font-size: .7em;
	}
	span#placePhone {
	    font-size: .7em;
	    text-decoration: underline;
	    color: #0b5d77;
	    position: relative;
	    top: -5.3em;
	}
	.nav > li > a:hover, .nav > li > a:focus {
		text-decoration: none;
		background-color: #c9e269;
		text-shadow: 0 0 20px #ffffff;
		color: #848439;
		box-shadow: none;
		background: transparent;
		border-radius: 1.5em;
		text-decoration: underline;
		padding-top: 1.2em;
		margin-top: .125em;
		height: 3.2em;
	}
	#main {/* background: none; *//* background: transparent; *//* box-shadow: none; */position: relative;top: -8.1em;border-radius: 2px;left: -5.3em;padding-top: 3.6em;background: none;border: none;box-shadow: none;height:39.9em;}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: #638a13;
		/* color: #c7ffbf; */
		/* text-shadow: 0 0 10px whitesmoke; */
		cursor: default;
		background: olive;
		border: 1px solid #ddd;
		margin-top: .25em;
		margin-bottom: .2em;
		padding-top: .95em;
		height: 3.2em;
		border: none;
		box-shadow: 0 0 145px #e8ff90;
		border-top-left-radius: .5em;
		box-shadow: inset 0 0 85px olive, 0 0 4px olivedrab;
		/* border-bottom-color: transparent; */
		border-top-right-radius: .5em;
		border-radius: 1.5em;
		box-shadow: none;
		background: none;
		text-shadow: none;
	}
	#main > .main:first-child {
	    border-top: 0;
	    border-top: 3px double;
	    background: #b7cee2;
	    border-bottom: 3px double;
	    padding-top: 7.5em;
	    border: 1px solid #87a4b3;
	    background-color: #010201;
	    /* background-image: url("https://www.transparenttextures.com/patterns/batthern.png"); */ /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	    background-color: #eef3e4;
	    border-radius: .25em;
	    /* background-image: url("https://www.transparenttextures.com/patterns/black-thread.png"); */ /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	    box-shadow: inset 0 0 300px #f0f1e9;
	    background: transparent;
	    box-shadow: none;
	    border: none;
	}
	.myButton {

	    position: relative;
	    left: -7em;

	}
	.nav-tabs {
		border: none;
		border-radius: .125em;
		box-shadow: inset 0 0 0 300px #ffffff, 0 0 0 1px #c7cec7, 0 0 3px #3c3c3c;
		opacity: 1;
		padding: .1em .125em .1em 4.5em;
		position: relative;
		width: 115%;
		box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
		top: -11.4em;
		/* height: 3.2em; */
		border-radius: 2px;
		left: -4em;
		box-shadow: inset 0 0 85px #e2ecc6,inset 0 0 10px #f0ffc0, 0 0 1px #868686, 0 0 6px #353535;
	}
	#header {
	    padding: 1.5em 5em 1em 5em;
	    text-align: center;
	}
	ul.alt {
	    list-style: none;
	    padding-left: 0;
	    margin-left: 0;
	    text-align: center;
	    position: relative;
	    left: -12.8em;
	}
	section#first {
	    height: 890px;
	}
	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		position: relative;
		overflow-x: auto;
		padding: .5em 1.5em 0 .85em;
		top: .5em;
		border: none;
		width: 15em;
		left: -1.2em;
		box-shadow: 0 0 2px #656565;
		background: white;
		margin-top: -1em;
		margin-right: .05em;
	}

	#sw {
	    display: none;
	    position: absolute;
	    left: 81.05%;
	    height: 412px;
	    width: 9.5em;
	    background: white;
	    clear: both;
	    border: 1px solid #a9a9ad;
	    box-shadow: 0 0 0 1px #9bbbba;
	    border-left: .2em solid gray;
	    top: 29px;
	    border-left: 1px solid #070a0a;
	    /* border-left: none; */
	    border-top: 4px solid #c0d8dc;
	    box-shadow: 0 0 0 1px #727b7b, 0 0 0 2px #113131, inset 0 0 50px #cccbcb, inset 0 0 100px #fefff0;
	    border-left: .2em solid gray;
	    /* top: 118px; */
	    border-left: 1px solid #070a0a;
	    border-left: 4px solid #c0d8dc;
	    border-right: 4px solid #c0d8dc;
	    border-bottom: 4px solid #c0d8dc;
	    /* border-right: none; */
	    margin-left: 0;
	    border-width: 1px;
	    border-right-width: 2px;
	    border-color: #545454;
	    /* box-shadow: 0 0 0 3px gray; */
	    padding: 0 0 2em 0;
	}

	#pac-input {
	    background-color: #fff;
	    font-family: Roboto;
	    font-size: 15px;
	    font-weight: 300;
	    position: relative;
	    margin-left: 12px;
	    padding: 0 11px 0 13px;
	    text-overflow: ellipsis;
	    width: 24%;
	    height: 30px;
	    left: 69%;
	    top: 3.4em;
	}

	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	    letter-spacing: .05em;
	    width: 135px;
	    height: 29px;
	    background-color: #e3fbfd;
	    color: #5b969a!important;
	    text-shadow: 0 0 12px #aeeeff;
	    box-shadow: none;
	    padding-top: .01em;
	    margin: 0 auto;
	    display: block;
	    border: 1px solid rgba(144, 144, 144, .2);
	    border-radius: 3px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	    letter-spacing: .05em;
	    width: 135px;
	    height: 31px;
	    background-color: #ffffff;
	    color: #525252!important;
	    text-shadow: none;
	    box-shadow: none;
	    padding-top: .3em;
	    margin: 0 auto;
	    display: block;
	    border: 1px solid rgba(86, 85, 85, .3);
	    border: 1px solid #7d7d7d;
	    border-radius: 3px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	}
	input#pac-input {
	    position: relative;
	    left: 7.5em;
	    top: .5em;
	}
	button#searchButton {
	  display: inline;
	  width: 65px;
	}
	section#customMap {
		height: 618px;
		border-left: 1px solid #626f64;
		border-right: 1px solid #637766;
		box-shadow: 0 1px 0px 0px #f0f3cb, 0 -1px 0px 0px #7e806f, 4px 0 6px -4px rgba(77, 87, 95, 0.6), -4px 0 5px -2px rgba(52, 58, 68, 0.7);
		border: 2px solid #676f03;
		/* box-shadow: 0 0 50px black; */
		margin-top: 1.24em;
		margin-bottom: -2.7em;
		border: none;
		border-bottom: none;
		border-top: none;
		top: -1.25em;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		position: relative;
	}

	section#queryForm {
		position: relative;
		top: -3.82em;
		left: .5em;
		height: 3em;
	}
	#sw {
    	display: none;
	    position: absolute;
	    left: 75.75%;
	    height: 620px;
	    width: 15.3em;
	    background: radial-gradient(#e1ecf5,#e4eef1,#f0fbff);
	    background: #fffbf7;
	    clear: both;
	    border: 1px solid #9e9e9e;
	    box-shadow: 0 0 4px #5d5d5d;
	    border-left: .2em solid gray;
	    top: -1px;
	    border-left: 1px solid #070a0a;
	    /* border-left: none; */
	    border-right: none;
	    margin-left: 0;
	    /* box-shadow: 0 0 0 3px gray; */
	    padding: 0 0 2em 0;
	    border: 2px solid lightgray;
	}
	section.meta-w-form {
	    background: #464646;
	    left: -2.55em;
	    padding: 1em .1em 1em 4em;
	    position: absolute;
	    height: 9.25em;
	    top: -2.3em;
	    border-radius: 8px;
	    border: 1px solid #ababab;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    width: 232%;
	    box-shadow: inset 0 0 160px #c5c5c5, 0 0 0 1px #848484;
	    background: linear-gradient(to left, #dddfe2 , #d2d2d2,#dadada);
	}

	main#main-page {
	    position: relative;
	    top: -11.35em;
	    left: -2.5em;
	    width: 132.25%;
	}
	header .sh-up {
	    position: relative;
	    top: -8.3em;
	}

	p#headerP {
		margin-top: -12.51em;
		font-size: .6em;
	}
	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	    letter-spacing: .05em;
	    width: 135px;
	    height: 29px;
	    background-color: #e3fbfd;
	    color: #5b969a!important;
	    text-shadow: 0 0 12px #aeeeff;
	    box-shadow: none;
	    padding-top: .01em;
	    margin: 0 auto;
	    display: block;
	    border: 1px solid rgba(144, 144, 144, .2);
	    border-radius: 3px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	    letter-spacing: .85px;
	    width: 148px;
	    font-size: .7em;
	    height: 31px;
	    border-radius: 12px;
	    background-color: #ffffff;
	    color: #4c4c4c!important;
	    text-shadow: none;
	    box-shadow: none;
	    padding-top: .6em;
	    font-family: DinLight;
	    margin: 0 auto;
	    display: block;
	    border: 1px solid rgba(86, 85, 85, .3);
	    border: 1px solid #c7c7c7;
	    border-radius: 14px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 900;
	}

	#footer>* {
	    width: calc(50% - 3em);
	    margin-left: 19.2em;
	    box-shadow: inset 0 0 20px #888888, 0 0 1px #5a5959, 0 0 3px black;
	    /* height: 50em; */
	    background: linear-gradient(#eef2f3,#dfe6ea);
	    border: none;
	    /* background: #fdfffa; */
	    outline: none;
	    border-radius: 16px;
	    padding: 1.3em .8em;
	    background: linear-gradient(to left, #7d7d7d , #E7E9BB,#E7E9BB, #828282);
	    font-family: 'Harmattan';
	    border-radius: 24px;
	    box-shadow: inset 0 0 20px #4b4c07, 0 0 1px #5a5959, 0 0 3px black;
	    background: linear-gradient(to left, #383838 , #737711,#cbd23b,#737711, #3c3c3c);
	}
	#header h1 {
		margin: 0;
		padding: .7em 0 1.75em 0;
		font-weight: 600;
		letter-spacing: 2.85px;
		font-size: 16px;
		left: -11.65em;
		width: 71.7em;
		top: -12.4em;
		background: white;
		background-image: url('/modules/core/client/img/az_subtle.png');
		font-family: Georgia;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		border: 1px solid #b7b7b7;
		box-shadow: 0 0 1px dimgrey;
		box-shadow: none;
	}
	#main .button.special, #main button.special, #main input[type=button].special, #main input[type=reset].special, #main input[type=submit].special {
		background-color: #4bff7c;
		color: #216308!important;
		text-shadow: none;
		box-shadow: 0 0 0 1px #70e840,1px 1px 1px #3c3b3b,1px 1px 1px #675a3a, 0 0 10px #33c10f, inset 0 0 50px #49a249;
		border-radius: 12px;
		border: 1px solid #bdf8ff;
		padding-top: .2em;
		text-shadow: none;
		letter-spacing: .85px;
		margin: 0 auto;
		/* font-size: 2.0rem; */
		/* padding: 0; */
		width: 142px;
		height: 26px;
		display: block;
		/* background-color: #ffffff; */
		border: 1px solid transparent;
		color: #ffffff;
		font-weight: 300;
		-webkit-border-radius: 3px;
		border-radius: 14px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		background-color: #9ff3a6;
		box-shadow: 0 0 0 1px #1a731a, 0 0 2.5px black;
		/* border: 1px solid transparent; */
		color: #145858!important;
		text-shadow: 0 0 12px #aeeeff;
		box-shadow: 0 0 0 1px cyan, 0 0 5px black;
		border: 1px solid transparent;
		transition: all 0.3s ease-in-out;
		font-weight: 600;
	}

	li.realign {
		position: relative;
		left: -11.1em;
	}
	.sw-icon {
	    width: 7%;
	    left: 4.4em;
	    top: .59em;
	    position: absolute;
	    display: inline-flex;
	}
	md-divider#top-divider {
		position: relative;
		top: .01em;
		color: #c7c7c7;
	}
	md-divider#bottom-divider {
		position: relative;
		top: .01em;
		    color: #c7c7c7;
	}
	#header span.info-heading {
		font-size: .5em;
		font-weight: 900;
		text-decoration: underline;
		margin: 0;
		display: block;
		letter-spacing: 1.3px;
		text-align: center;
	}
	#header span.info-heading#ihAddress {
		position: relative;
		top: 2em;
	}
	#header span.info-heading#ihHours{
		position: relative;
		top: -18em;
	}
	#header span.info-heading#ihDescription{
		position: relative;
		top: -15.4em;
	}
	section.meta-w-form {
	    background: #464646;
	    left: 2.8em;
	    padding: 1em .1em 1em 4em;
	    position: absolute;
	    height: 9.7em;
	    border-radius: 9px;
	    /* border-bottom-left-radius: 6px; */
	    /* border-bottom-right-radius: 6px; */
	    top: -2.85em;
	    border: 1px solid #b3b3b3;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    width: 176%;
	    box-shadow: inset 0 0 160px #cacaca, 0 0 0 1px #5a5a5a;
	    background: linear-gradient(to left, #d9d9da , #d2d2d2,#dcdcdc);
	    box-shadow: inset 0 0 5px gainsboro, inset 0 0 160px #efefef, 0 0 0 1px #e2e2e2, 0 0 4px black;
	    background: linear-gradient(to left, #e6e6e6 , #ececec,#f3f3f3);
	    background: white;
	    border: none;
	}

	

	a.pure-button.x-small-custom {
	    font-size: .625em;
	    position: relative;
	    top: -16.7em;
	    margin-left: -.35em;
	    width: 108px;
	}

	#wrapper {
		padding-top: 5em;
		height: 48em;
	}
	.row.butane {
		top: 0.01em;
	    border-radius: 2px;
	    border-bottom-right-radius: 0;

	    border-bottom-left-radius: 0;
	    /* background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAQ0lE…8R+4+IoL3HswM1N0TEchM3HtBVTUrzIydpKqzcs7Bzg++WR+Le2A33AAAAABJRU5ErkJggg==') repeat; */
	}
}