@media (min-width: 769px) {
	.custom-dd-toggle {
		display: none;
	}
	.navbar-toggle {
		display: none;
	}
	.eo-serv {
		display: none;
	}
	.md-button {
		margin: 3px 8px;
	}
	#new-service-button {
	    position: relative;
	    left: 10em;
	    top: 7em;
	}
	md-card#hacksalot {
	    top: -.85em;
	    position: relative;
	}
	img#imgPath {
	    width: 5%;
	    position: relative;
	    left: -3.35em;
	    top: .01em;
	}
	section.isp-main.ng-scope {
	    position: absolute;
	    top: 12em;
	}
	#isp-header {
	    position: relative;
	    top: -1.8em;
	    color: black;
	    font-size: .95em;
	    opacity: .888;
	    text-decoration: underline;
	}
	md-content#ispMdContent {
	    padding-top: 1em;
	}
	a.inks {
	    color: #00626b;
	    font-size: .8em;
	    margin-top: -.5em;
	}
	h3.isp-title {
		margin-bottom: .3em;
		font-size: 1.1em;
	}
	
	div.md-list-item-inner div.md-list-item-text h4.isp-address.ng-binding {
	    margin-top: .4em;
	    font-size: .9em;
	}
	#header p.tab-p {
	    top: 7em;
	}

	div#fix-flex button.md-raised.md-button.md-button.md-ink-ripple {
	    background: #E0E0E0;
	    padding: .01em 2em 1em 2em;
	}
	#fix-flex {
	    margin-left: 0;
	    position: absolute;
	    left: 20em;
	    top: 10em;
	}
	div.cest {
	    left: 9px;
	    position: relative;
	    margin-top: -.6em;
	    padding: .2em 0 2.5em 0;
	}
	.row.butane {
		box-shadow: none;
	    border: none;
	    background: none;
	}
}