@media (min-width: 769px) {
	.custom-dd-toggle {
		display: none;
	}
	.navbar-toggle {
		display: none;
	}
	.eo-serv {
		display: none;
	}
	.md-button {
		margin: 3px 8px;
	}
	#new-service-button {
    position: relative;
    left: 10em;
    top: 7em;
}
}