@media (max-width: 999px) {
	.nav-tabs > li > a {
	    margin-right: 2px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    color: #474a26;
	    border-radius: 4px 4px 0 0;
	    font-size: .55em;
	    font-weight: 900;
	    color: #efffb5;
	    letter-spacing: .1pc;
	    text-shadow: 0 0 10px #716e04;
	    letter-spacing: 1px;
	    margin: 0 .1em 0 .1em;
	}
	

	.nav-tabs > li {
		float: left;
		margin-bottom: -1px;
		padding-left: 0;
		padding-right: 0;
	}
	a.pure-button.x-small-custom {
		font-size: .5em;
		position: relative;
		top: -1.5em;
	}
	a#map-directions {
    color: steelblue;
    font-size: .7em;
    position: relative;
    line-height: 1px;
    top: -2em;
}
	div#placeAddress {
		margin-top: .4em;
	}
	.f3 {
		font-size: .7em;
	}
	span#placeZip {
		position: relative;
		top: -1em;
	}
	div#placeCategory {
		margin-top: 1.5em;
		font-size: .55em;
	}
	div#placeHours {
		font-size: .5em;
		line-height: 10px;
		margin-left: 1.5em;
		text-align: justify;
		position: relative;
		width: 80%;
		top: -2.3em;
	}
		.f2 {
	    font-size: .9em;
	    font-weight: 600;
	    line-height: 15px;
	    margin: .7em 0 .2em;
	}
	.cist {
		position: relative;
		top: -.5em;
	}
	span#placePhone {
	    font-size: .7em;
	}
	
	section#queryForm {
	    position: relative;
	    top: .25em;
	    left: 1em;
	    height: 2em;
	    display: initial;
	    top: -4.3em;
	}
/*}
*/
	.f-desc {
	    border: none;
	    padding: .5em 1em;
	    text-align: start;
	    margin-left: .3em;
	    width: 95%;
	    line-height: 11px;
	    font-size: .6em;
	    border: 1px solid gainsboro;
	    background: #ececec;
	}

	.fm-zip {
		position: relative;
		top: -1em;
	}
/*@media (max-width: 990px) {*/
	ul.actions.fit.small {
	    margin-left: -0.5em;
	    width: calc(100% + -12.5em);
	    min-width: 250px;
	    margin-top: -1.4em;
	}





	ul.actions.fit.small {
	    margin-left: .3em;
	    width: calc(100% + -18.5em);
	    min-width: 130px;
	    margin-top: -.4em;
	    position: relative;
	    top: .85em;
	    z-index: 99999;
	    /* background: pink; */
	}

/*	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    top: -6.251em;
	    overflow-x: hidden;
	    left: 11.5em;
	    overflow-y: hidden;
	    height: 8em;
	}*/
	table td {
	    padding: .5em .39em .25em .1em;
	    border: none;
	    /* font-weight: 300; */
	    line-height: 12px;
	    font-size: .85em;
	}
	
	.legend-table {
		width: 21em;
		font-size: .6em;
		/* padding-right: 0; */
		line-height: 10px;
		padding-left: 1em;
		overflow-x: hidden;
		left: 3.5em;
		top: -1em;
		position: relative;
		border-right: none;
		text-align: center;
	}

	section#customMap {
		height: 340px;
		border-left: 1px solid #626f64;
		border-right: 1px solid #637766;
		box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
		border: 2px solid #676f03;
		/* box-shadow: 0 0 50px black; */
		margin-top: 5.85em;
		margin-bottom: -2.7em;
		border: none;
		border-bottom: .5px solid #423906;
		border-top: 1.5px solid #5d5b51;
	}

	#sw {
	    display: none;
	    position: absolute;
	    left: 81.3%;
	    height: 339px;
	    width: 8.5em;
	    background: none;
	    /* background: #1b374e; */
	    clear: both;
	    border: 1px solid #a9a9ad;
	    box-shadow: 0 0 5px;
	    border-left: .2em solid gray;
	    border-top: 8px solid #c0d8dc;
	    box-shadow: 0 0 0 1px #718887, 0 0 4px black;
	    border-left: .2em solid gray;
	    /* top: 118px; */
	    border-left: 1px solid #070a0a;
	    border-left: 8px solid #c0d8dc;
	    border-right: 8px solid #c0d8dc;
	    border-bottom: 4px solid #c0d8dc;
	    border: none;
	    top: 20.5px;
	    margin-left: 0;
	    /* box-shadow: 0 0 0 3px gray; */
	    padding: 0 0 2em 0;
	}

	#footer > * {
	    width: calc(50% - 2em);
	    margin-left: 12em;
	    font-size: .8em;
	}

	#winCtrl {
	    display: inline;
	    z-index: 99999;
	    position: relative;
	    top: -.8em;
	    font-weight: 100;
	    font-size: .9em;
	    color: #1f1808;
	    left: 4.7em;
	    height: 8px;
	    width: 14px;
	    padding-top: 0;
	    padding-right: 1px;
	    padding-left: 1px;
	    border: none;
	    padding-bottom: 0;
	    background: none;
	}

	section#first {
	    height: 824px;
	}

	#main .button.special {
	    /* background-color: #a3deff; */
	    /* color: #296e94 !important; */
	    /* box-shadow: 0 0 0 1px #67b2ff, 2px 2px 2px black, 3px 3px 3px #805f0c; */
	    /* height: 24px; */
	    width: 108px;
	    /* text-shadow: none; */
	    top: -em;
	    padding-top: .4em;
	    /* box-shadow: 0 0 0 1px #5cf0ff, 1px 1px 1px 1px darkgrey; */
	    /* border-radius: 12px; */
	    /* border: 1px solid #8be3ff; */
	}

	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	    /* background-color: #f5f5f5; */
	    /* box-shadow: 0 0 0 2px #e9fff9, 2px 2px 2px #3c3b3b, 2px 2px 2px #805f0c; */
	    /* color: #000000 !important; */
	    /* font-weight: 400; */
	    letter-spacing: .4px;
	    /* border-radius: .81em; */
	    width: 111px;
	    font-size: .7em;
	    position: relative;
	    top: -.01em;
	    /* border-radius: 12px; */
	    /* text-shadow: 0 0 4px #a2a6af; */
	    padding-top: .5em;
	    /* height: 24px; */
	    /* box-shadow: 0 0 0 1px #e9fff9, 2px 2px 2px black, 3px 3px 3px #805f0c; */
	}

	.tbody-legend {
	    padding-left: .4em;
	    position: relative;
	    background: none;
	    left: -1em;
	    padding: 2em .1em;
	    height: 16em;
	    top: -.4em;
	    margin-right: 2em;
	    border: none;
	    /* outline: none; */
	    margin-top: -4em;
	}

	ul.actions.fit.small li {
		padding: 0 0 0 .7em;
		width: 130px;
		font-size: .75em;
	}

	.row.butane {
		/* border: 2px solid red; */
		margin-left: .01em;
		margin-bottom: .1em;
		margin-top: -.5em;
		height: 11.5em;
		position: relative;
		top: .002em;
		background: radial-gradient(#e4e2cf,#848886);
		border-bottom: none;
		border-top: none;
		box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129;
		/* box-shadow: inset 0 0 200px #50502b; */
		box-shadow: inset 0 0 200px #05121d;
		background: steelblue;
		border-bottom: 1px solid #6d6d66;
	}

	#footer .copyright {
	    width: 100%;
	    margin: 7.5em 0 -3.5em 0;
	    font-size: 0.8em;
	    text-align: center;
	}

	ul.nav.nav-tabs {
	    position: relative;
	    top: -2.5em;
	    left: -2.35em;
	    padding-left: .9em;
	    width: 112%;
	}

	.mission {
	    line-height: 18px;
	}

	#header {
		padding: 1em 3em 0.1em 3em;
	}

	section.meta-w-form {
	    background: #464646;
	    left: -2.65em;
	    padding: 1em .1em 1em .14em;
	    position: absolute;
	    height: 9.8em;
	    top: -2.25em;
	    border: 1px solid #1f1703;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    width: 42.79em;
	}

	.nav-tabs {
		border: 1px solid #b2b5b1;
		border-radius: .3em;
		box-shadow: inset 0 0 0 300px #ecf3de, 0 0 1px #c7c7c7;
		background: #e7f9e7;
		opacity: 1;
		border: none;
		/* border-bottom-right-radius: 0; */
		height: 1.85em;
		box-shadow: inset 0 0 85px #182103, 0 0 0 1px #5a5a5a, 0 0 3px #333332;
		box-shadow: inset 0 0 85px #2f3c12, 0 0 0 1px #4c4e4b, 0 0 3px #333332;
		padding: .05em .5em .05em 2.5em;
	}

	ul.alt {
	    list-style: none;
	    padding-left: 0;
	    margin-left: 0;
	    text-align: center;
	    position: relative;
	    left: -8em;
	}

	div#info-wrapper {
	    background: #f3f3f3;
	    border: 1px solid #bbbaba;
	    /* box-shadow: inset 0 0 100px #f3f3f3; */
	    width: 125%;
	    display: inline-block;
	    height: 335px;
	    border: 1px solid #e2e2e2;
	    font-weight: 400;
	    position: relative;
	    box-shadow: 0 0 1px #3e3e3e;
	    top: -1.5em;
	    padding-left: 1em;
	    padding-right: .25em;
	    overflow-y: scroll;
	}
}





@media (max-width: 980px) {
	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    top: -6.251em;
	    overflow-x: hidden;
	    left: 14.95em;
	    overflow-y: hidden;
	    height: 8.8em;
	}
}


@media (min-width: 981px) {
	
	.nav-tabs {
	    border: none;
	    border-radius: .125em;
	    box-shadow:     box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    opacity: 1;
	    padding: .05em .125em .05em 3.5em;
	    position: relative;
	    width: 104%;
	    outline: none;
	    border: 1px solid #565555;
	    box-shadow: inset 0 0 65px #3a4035, 0 0 6px #656464;
	    top: -2.25em;
	    left: -.5em;
	    background: #e7f9e7; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #C9FFBF , #FFAFBD); /* Chrome 10-25, Safari 5.1-6 */
	    /* background: linear-gradient(to left, #C9FFBF , #ecb9c2); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    /* box-shadow: inset 0 0 65px #3a4035, 0 0 6px #656464; */
	    /* background: #e7f9e7; */
	    box-shadow: inset 0 0 65px #29351f, 0 0 1px #27220a;
	    /* box-shadow: inset 0 0 85px #182103, 0 0 0 1px #5a5a5a, 0 0 1px black; */
	}
}

@media (max-width: 990px) {
	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    padding: 1.5em .83em 0 1.25em;
	    top: -.61em;
	    border: none;
	    background: white;
	    overflow: hidden;
	    height: 7.5em;
	    width: 13em;
	    left: 11.9em;
	    /* background: none; */
	    margin-top: -.25em;
	    margin-right: .25em;
	}

	.move-up {
	    position: relative;
	    top: .5em;
	}

	#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 24%;
    height: 30px;
    left: 14.9%;
    top: -7em;
}
	#wrapper {
	    width: 64em;
	    max-width: calc(100% - -.4em);
	    margin: 0 auto;
	    top: -7.5em;
	    background: #f5fbe1;
	    box-shadow: inset 0 0 800px #eef3e5, inset 0 0 0 800px #dce6c8, 0 0 0 1px #baccba;
	    border: 1px double #3c7182;
	    /* background: radial-gradient(lightgrey,black); */
	    min-height: 800px;
	    /* background: radial-gradient(#eff6ff,#d3d8de); */
	    /* border-right: none; */
	    /* border-left: none; */
	    border-radius: .25em;
	    box-shadow: inset 0 0 200px #e2eff1, 0 0 1px #5a5959;
	    /* border-radius: .125em; */
	    /* height: 60em; */
	    border: none;
	    outline: none;
	    background: linear-gradient(#eef2f3,#dfe6ea);
	    box-shadow: none;
	    background: linear-gradient(to left, #6e7b92 , #CFDEF3, #CFDEF3,#6e7b92);
	 }

	 .sh-up {
		position: relative;
		top: -2.5em;
	}

	.rbor {
	    /* border-right: 1px solid gainsboro; */
	    padding-left: 1em;
	    position: relative;
	    padding-right: 1em;
	    text-indent: -2.5em;
	    left: -.5em;
	}

	.toleft {
		position: relative;
		left: -4em;
		text-indent: -2.5em;
		padding-right: .1em;
	}	

	li.realign {
	    position: relative;
	    left: -.75em;
	}

	a.lks {
	    color: cornflowerblue;
	    color: #557692;
	    text-align: left;
	    text-decoration: underline;
	    font-weight: 600;
	    letter-spacing: 1px;
	    margin-left: 1em;
	}

	ul.actions.fit.small.lower-btns {
		position: relative;
		top: -.1em;
	}

	#main .button.special, #main button.special, #main input[type=button].special, #main input[type=reset].special, #main input[type=submit].special {
		background-color: #d3ffdf;
		color: #046304!important;
		text-shadow: none;
		box-shadow: 0 0 0 1px #70e840,1px 1px 1px #3c3b3b,1px 1px 1px #675a3a, 0 0 19px #33c10f, inset 0 0 50px limegreen;
		border-radius: 12px;
		border: 1px solid #bdf8ff;
		padding-top: .3em;
		text-shadow: 0 0 12px lime;
		letter-spacing: .5px;
		margin: 0 auto;
		/* font-size: 2.0rem; */
		/* padding: 0; */
		/*	width: 123px;*/
		display: block;
		height: 23px;
		/* background-color: #ffffff; */
		border: 1px solid transparent;
		color: #ffffff;
		font-weight: 300;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		font-weight: 600;
	}

	form.pure-form.angr {
	    background: whitesmoke;
	    width: 70%;
	    box-shadow: 0 0 1px black;
	    margin-top: 5em;
	    margin-left: 6em;
	    padding: 1em 2em 0 3.5em;
	}

	
}

@media (min-width: 991px) {
	.row.butane {
    /* height: 186.5px; */
    /* box-shadow: inset 0 0 250px black; */
    /* background: none; */
    /* border-bottom: none; */
    /* background: url("https://www.transparenttextures.com/patterns/black-thread.png"); */
    display: inherit;
    /* background: linear-gradient(to left, #c2e59c , #64b3f4); */
    /* background: #83a4d4; */
    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff);
    background: linear-gradient(#83a4d4,#83a4d4);
}
	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow: hidden;
	    padding: .95em .82em 0 1.4em;
	    top: .25em;
	    border: none;
	    width: 15.5em;
	    left: -1.2em;
	    box-shadow: 0 0 0 1px #9c9c9c;
	    background: white;
	    margin-top: -1.25em;
	    margin-right: .02em;
	    background: #ddd6f3; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #ddd6f3 , #faaca8); /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(to left, #ddd6f3 , #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    background: #EFEFBB; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #EFEFBB , #D4D3DD); /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(to left, #EFEFBB , #D4D3DD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    background: #ECE9E6; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	    background: #d5d6d5; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	    background: #E0EAFC; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(to left, #dfe6f5 , #eff4fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	#footer {
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;
	    -moz-flex-wrap: wrap;
	    position: relative;
	    text-align: center;
	    width: 150%;
	    left: -2em;
	    top: -15em;
	    font-size: .7em;
	    color: black;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 5em 5em 3em 5em;
	    /* width: calc(100% + 2em); */
	    margin: 0;
	}
	.f2 {
	    font-size: .8em;
	    line-height: 13px;
	    font-weight: 600;
	    margin-top: .65em;
	    margin-bottom: .75em;
	}

	.f3 {
	    font-size: .75em;
	    line-height: 14px;
	    font-weight: 500;
	    padding: .2em .2em;
	    width: 90%;
	}
	.glyphicon {
		position: relative;
		top: .9px;
		left: .4px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 100;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	

}

@media (max-width: 990px) {
	section.meta-w-form {
    background: #464646;
    left: -.7em;
    padding: 1em .1em 1em .14em;
    position: absolute;
    height: 9.8em;
    top: -2.25em;
    border: 1px solid #1f1703;
    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
    width: 31.5em;
}
}
/*
@media (max-width: 989px) {
	section.meta-w-form {
	    background: #464646;
	    left: -.65em;
	    padding: 1em .1em 1em .14em;
	    position: absolute;
	    height: 9.8em;
	    top: -2.25em;
	    border: 1px solid #1f1703;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    width: 31.45em;
	}
}
*/
