@media (max-width: 1000px) {

	button#e1, button#e2, button#e3, button#e4 {
		font-size: 10px;
		width: 145px;
		min-height: 30px;
	}
	button#e3, button#e4 {
		position: relative;
		top: -.7em;
	}
div#buttons-wrapper {
    position: absolute;
    top: 6em;
    left: 6.85em;
    z-index: 99999;
}
	div#buttons-wrapper ul li button span.ng-scope {
	    position: relative;
	    top: -.2em;
	}
	#main {
		box-shadow: none;
		border-radius: 2px;
		background: transparent;
	}
	ul#alt-buttons-bottom {

	    position: relative;
	    left: -1.2em;

	}

	#new-service-button {
	    position: relative;
	    left: 15em;
	}
	.nav-tabs > li > a {
		margin-right: 2px;
		line-height: 1.42857143;
		border: 1px solid transparent;
		color: #8c943a;
		border-radius: 4px 4px 0 0;
		font-size: .65em;
		font-weight: 900;
		letter-spacing: 0.12em;
		color: #353533;
		color: #585858;
		padding-top: .95em;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
	}
	i.fa.fa-bus {
	    margin-right: .3em;
	}
	i.fa.fa-phone {
	    color: darkgreen;
	    font-size: .75em;
	}
	p.tab-p {
	    position: relative;
	    top: -4.5em;
	}
	span#training-day-user {
	    margin-left: 1.8em;
	    color: #c58000;
	    font-size: 1.2em;
	}
	.nav-tabs > li {
		float: left;
		margin-bottom: -1px;
		margin-right: -.1em;
		padding-left: 0;
		padding-right: 0;
	}
	.glyphicon {
    position: relative;
    /* top: -20px; */
        left: 7.1em;
    top: 1.9em;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
	/*#header h1 {
	    margin: .4em 0.25em 4em 0;
	    font-weight: 600;
	    top: -5.39em;
	    position: relative;
	    letter-spacing: 1.29px;
	    font-size: 16px;
	    font-family: Georgia;
	    top: -4.6em;
    left: -6em;
    width: 45em;
	}*/
#header h1 {
    margin: .4em 0.25em 4em 0;
    font-weight: 600;
    top: -5.39em;
    padding-top: .6em;
    position: relative;
    height: 3.3em;
    letter-spacing: 1.29px;
    font-size: 16px;
    border: 1px solid #ccc;
    font-family: Georgia;
    top: -5.4em;
    left: -6.05em;
    width: 58.75em;
}
md-card#hacksalot {
    height: 600px;
}
	a.pure-button.x-small-custom {
		font-size: .5em;
		position: relative;
		top: 2.5em;
		width: 85px;
	}
	a#map-directions {
		color: steelblue;
		font-size: .57em;
		position: relative;
		line-height: 1px;
		top: .8em;
		width: 85px;
	}
	.myButton {
	    -moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
	    -webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
	    box-shadow: inset 0px 1px 0px 0px #cf866c;
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	    background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	    background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	    background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	    background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	    background-color: #d0451b;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    border: 1px solid #942911;
	    display: inline-block;
	    cursor: pointer;
	    position: relative;
	    left: -2em;
	    color: #ffffff;
	    font-family: Harmattan;
	    font-size: 13px;
	    padding: 6px 24px;
	    text-decoration: none;
	    text-shadow: 0px 1px 0px #854629;
	}
	.nav > li > a:hover, .nav > li > a:focus {
		text-decoration: underline;
		background-color: none;
		text-shadow: 0 0 20px #ffffff;
		color: #848439;
		box-shadow: none;
		background: transparent;
		border-radius: 1.5em;
		padding-top: .85em;
		    margin-top: .2em;
		text-shadow: none;
		height: 3em;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	    color: #70712a;
	    text-shadow: none;
	    cursor: default;
	    background: transparent;
	    border: 1px solid #ddd;
	        margin-top: -.225em;
	    padding-top: 1.35em;
	    padding-bottom: 2.364em;
	    height: 2.8em;
	    border: none;
	    box-shadow: 0 0 145px #e8ff90;
	    border-top-left-radius: .5em;
	    box-shadow: inset 0 0 145px olive, 0 0 4px olivedrab;
	    /* border-bottom-color: transparent; */
	    box-shadow: inset 0 0 145px #c5c556, 0 0 4px #92b941, 0 0 1px black;
	    box-shadow: none;
	    border-top-right-radius: .5em;
	    border-radius: 24px;
	    /* text-shadow: none; */
	}
	div#placeAddress {
		margin-top: .4em;
		position: relative;
		top: .84em;
	}
	.f3 {
		font-size: .7em;
	}
	span#placeZip {
		position: relative;
		top: -1em;
	}
	.rer{
	   background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXxvZSoAAAAAElFTkSuQmCC') repeat;
	}
	div#placeCategory {
    margin-top: .85em;
    font-size: .625em;
    margin-left: 2em;
    position: relative;
    width: 20em;
    top: -2.5em;
    left: 9em;
    text-align: left;
    line-height: 11px;
}
	div#placeTitle {
		letter-spacing: .75px;
	}
	div#placeHours {
		font-size: .55em;
		line-height: 10px;
		margin-left: 3.25em;
		text-align: left;
		position: relative;
		width: 70%;
		top: -2.3em;
	}
		.f2 {
	    font-size: .9em;
	    font-weight: 600;
	    line-height: 15px;
	    margin: .7em 0 .2em;
	}
	.cist {
		position: relative;
		top: -.5em;
	}
	
	span#placePhone {
		font-size: .7em;
		letter-spacing: .64px;
		font-weight: 500;
		color: #2e5375;
		position: relative;
		margin-left: .3em;
		top: -.1em;
	}

	section#queryForm {
	    position: relative;
	    top: .25em;
	    left: -1em;
	    height: 2em;
	    display: initial;
	    top: -9.3em;
	}
/*}
*/
	.f-desc {
		border: none;
		padding: .5em 9em;
		text-align: start;
		margin-left: .3em;
		width: 95%;
		line-height: 11px;
		font-size: .6em;
		border: none;
		background: none;
	}

	.fm-zip {
		position: relative;
		top: -1em;
	}
/*@media (max-width: 990px) {*/
	ul.actions.fit.small {
	    margin-left: -0.5em;
	    width: calc(100% + -12.5em);
	    min-width: 250px;
	    margin-top: -1.4em;
	}


	#header p {
    position: relative;
    top: -10.25em;
}


	ul.actions.fit.small {
	    margin-left: .5em;
	    width: calc(100% + -18.5em);
	    min-width: 130px;
	    margin-top: .4em;
	    position: relative;
	    top: .9em;
	    z-index: 99999;
	    /* background: pink; */
	}

/*	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    top: -6.251em;
	    overflow-x: hidden;
	    left: 11.5em;
	    overflow-y: hidden;
	    height: 8em;
	}*/
	table td {
	    padding: .5em .39em .25em .1em;
	    border: none;
	    /* font-weight: 300; */
	    line-height: 12px;
	    font-size: .85em;
	}
	
	.legend-table {
		width: 21em;
		font-size: .75em;
		/* padding-right: 0; */
		line-height: 4px;
		padding-left: 1em;
		overflow-x: hidden;
		left: 2em;
		top: -1em;
		position: relative;
		border-right: none;
		text-align: center;
	}

	aside#opHours {
	    font-size: .7em;
	    line-height: 13px;
	}

	aside#opHours p.opDay {
	    top: -.1em;
	}
	#header p#dscHead {
		position: relative;
	    top: 2.5em;
	    letter-spacing: normal;
	}
	section#customMap {
	    height: 637px;
	    border-left: 1px solid #626f64;
	    border-right: 1px solid #637766;
	    box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
	    border: 2px solid #676f03;
	    /* box-shadow: 0 0 50px black; */
	    margin-top: 1.3em;
	    left: -4.4em;
	    margin-bottom: -2.7em;
	    border: none;
	    top: -6.35em;
	    width: 44.85em;
	        width: 58.65em;
	    border-bottom: .5px solid #423906;
	    border-top: 1.5px solid #5d5b51;
	    border-top: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
	}


	#header p#hrsHead {
	    top: 1.8em;
	        letter-spacing: normal;
	}

	button#e2, button#e1, button#e3, button#e4 {

	    width: 145px;
	
	}

#sw {
    display: none;
    position: absolute;
    left: 58.75%;
    height: 602px;
    width: 19.55em;
    background: none;
    /* background: #1b374e; */
    clear: both;
    border: 1px solid #a9a9ad;
    box-shadow: 0 0 5px;
    border-left: .2em solid gray;
    border-top: 8px solid #c0d8dc;
    box-shadow: 0 0 0 1px #718887, 0 0 4px black;
    border-left: .2em solid gray;
    /* top: 118px; */
    border-left: 1px solid #070a0a;
    border-left: 8px solid #c0d8dc;
    border-right: 8px solid #c0d8dc;
    border-bottom: 4px solid #c0d8dc;
    font-family: Georgia;
    border: none;
    top: -4.2em;
    box-shadow: none;
    background: none;
    margin-left: -2.3em;
    /* box-shadow: 0 0 0 3px gray; */
    padding: 0 0 2em 0;
}

	#footer > * {
	    width: calc(50% - 2em);
	    margin-left: 16.5em;
	    letter-spacing: 1.2px;
	    font-size: .8em;
	}

	#winCtrl {
	    display: inline;
	    z-index: 99999;
	    position: relative;
	    top: -.8em;
	    font-weight: 100;
	    font-size: .9em;
	    color: #1f1808;
	    left: 4.7em;
	    height: 8px;
	    width: 14px;
	    padding-top: 0;
	    padding-right: 1px;
	    padding-left: 1px;
	    border: none;
	    padding-bottom: 0;
	    background: none;
	}

	section#first {
	    height: 824px;
	}

	#main .button.special {
	    /* background-color: #a3deff; */
	    /* color: #296e94 !important; */
	    /* box-shadow: 0 0 0 1px #67b2ff, 2px 2px 2px black, 3px 3px 3px #805f0c; */
	    /* height: 24px; */
	    width: 108px;
	    /* text-shadow: none; */
	    top: -em;
	    padding-top: .4em;
	    /* box-shadow: 0 0 0 1px #5cf0ff, 1px 1px 1px 1px darkgrey; */
	    /* border-radius: 12px; */
	    /* border: 1px solid #8be3ff; */
	}

	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	    /* background-color: #f5f5f5; */
	    /* box-shadow: 0 0 0 2px #e9fff9, 2px 2px 2px #3c3b3b, 2px 2px 2px #805f0c; */
	    /* color: #000000 !important; */
	    font-weight: 900;
	    letter-spacing: .4px;
	    /* border-radius: .81em; */
	    width: 111px;
	    font-size: .87em;
	    position: relative;
	    top: -.01em;
	    border-radius: 24px;
	    /* text-shadow: 0 0 4px #a2a6af; */
	    padding-top: .25em;
	    font-family: DinLight;
	    /* height: 24px; */
	    border-radius: 24px;
	    /* box-shadow: 0 0 0 1px #e9fff9, 2px 2px 2px black, 3px 3px 3px #805f0c; */
	}

	.tbody-legend {
	    padding-left: .4em;
	    position: relative;
	    background: none;
	    left: -1em;
	    padding: 2em .1em;
	    height: 16em;
	    top: -.4em;
	    margin-right: 2em;
	    border: none;
	    /* outline: none; */
	    margin-top: -4em;
	}

	ul.actions.fit.small li {
	    padding: 0 0 0 .7em;
	    width: 130px;
	    font-size: .75em;
	    left: -5em;
	}

	.row.butane {
		/* border: 2px solid red; */
		margin-left: .01em;
		margin-bottom: .1em;
		margin-top: -.5em;
		height: 11.5em;
		position: relative;
		top: -3em;
		background: radial-gradient(#e4e2cf,#848886);
		border-bottom: none;
		border-top: none;
		box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129;
		box-shadow: inset 0 0 200px #edefe9;
		/* box-shadow: inset 0 0 200px #c5c17a, inset 0 0 150px #888888; */
		/* box-shadow: inset 0 0 150px yellowgreen; */
		background: steelblue;
		background: #EDE574; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #EDE574 , #E1F5C4); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #EDE574 , #E1F5C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		border-bottom: 1px solid #6d6d66;
		border: none;
	}

	#footer .copyright {
	    width: 100%;
	    margin: 7.5em 0 -3.5em 0;
	    font-size: 0.8em;
	    text-align: center;
	}

	ul.nav.nav-tabs {
	    position: relative;
	    top: -5.841em;
	    left: -2.43em;
	    padding-left: 2.83em;
	    width: 112.5%;
	    border-radius: 18px;
	    /* background: linear-gradient(to left, #f3f0df , #fffeeb, #eae8d8 ); */
	    background: #fffffb;
	    box-shadow: 0 0 2px #545454, inset 0 0 20px #ececec;
	}

	.mission {
	    line-height: 18px;
	}

	#header {
		padding: 1em 3em 0.1em 3em;
	}
	#header h1.tab-head {
	    position: relative;
	    top: .1em;
	}
	section.meta-w-form {
    background: #464646;
    left: -2.65em;
    padding: 1em .1em 1em .14em;
    position: absolute;
    height: 9.8em;
    top: -2.25em;
        top: -2.65em;
    border: 1px solid #1f1703;
    background: transparent;
    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
    width: 46em;
    border: none;
    box-shadow: none;
}

	.nav-tabs {
		border: 1px solid #b2b5b1;
		border-radius: .3em;
		box-shadow: inset 0 0 0 300px #ecf3de, 0 0 1px #c7c7c7;
		background: #ffffff;
		opacity: 1;
		border: none;
		/* border-bottom-right-radius: 0; */
		height: 2.3em;
		box-shadow: inset 0 0 85px #182103, 0 0 0 1px #5a5a5a, 0 0 3px #333332;
		box-shadow: inset 0 0 45px #2f3c12, 0 0 0 1px #4c4e4b, 0 0 3px #333332;
		box-shadow: 0 0 1px #adadad, inset 0 0 85px #cccccc, 0 0 10px #69695d;
		padding: .735em .5em 2.21em 2.5em;
		/* background: #F09819; */ /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #F09819 , #EDDE5D); /* Chrome 10-25, Safari 5.1-6 */
		/* background: linear-gradient(to left, #decdb4 , #fffef6, #fff2df); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		/* background: #403B4A; */ /* fallback for old browsers */
		border-radius: 10px;
		background: -webkit-linear-gradient(to left, #403B4A , #E7E9BB); /* Chrome 10-25, Safari 5.1-6 */
		/* background: linear-gradient(to left, #403B4A , #E7E9BB,#E7E9BB, #403B4A); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		/* background: linear-gradient(to left, #aeb19b, #E7E9BB,#E7E9BB,#E7E9BB, #aeb19b); */
		background: #e9d362; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #e9d362 , #333333); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #e9d362 , #fffa63, #e9d362 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to left, #9c8f49 , #efea59, #af9d43 );
		box-shadow: 0 0 4px black, inset 0 0 20px #78791b;
	}

	ul.alt {
	    list-style: none;
	    padding-left: 0;
	    margin-left: 0;
	    text-align: center;
	    position: relative;
	    left: -8em;
	}

div#info-wrapper {
    background: #f3f3f3;
    border: 1px solid #bbbaba;
    /* box-shadow: inset 0 0 100px #f3f3f3; */
    width: 119%;
    display: inline-block;
    height: 638px;
    border: 1px solid #e2e2e2;
    font-weight: 400;
    position: relative;
    box-shadow: 0 0 1px #3e3e3e;
    top: -1.7em;
    padding-left: 1em;
    padding-right: .25em;
    color: black;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    overflow-y: hidden;
}

	img#imgPath {
	    width: 8%;
	}

}





@media (max-width: 980px) {
	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    top: -6.251em;
	    overflow-x: hidden;
	    left: 14.95em;
	    overflow-y: hidden;
	    height: 8.8em;
	}
}





/*
@media (max-width: 989px) {
	section.meta-w-form {
	    background: #464646;
	    left: -.65em;
	    padding: 1em .1em 1em .14em;
	    position: absolute;
	    height: 9.8em;
	    top: -2.25em;
	    border: 1px solid #1f1703;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
	    width: 31.45em;
	}
}
*/
