


@media (max-width: 1280px) {
	section.meta-w-form {
		background: #464646;
		left: -2.65em;
		padding: 1em .1em 1em 4em;
		position: absolute;
		height: 9.7em;
		border-radius: 9px;
		/* border-bottom-left-radius: 6px; */
		/* border-bottom-right-radius: 6px; */
		top: -2.2em;
		border: 1px solid #e2e2e2;
		box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
		width: 232%;
		box-shadow: inset 0 0 5px gainsboro, inset 0 0 160px #efefef, 0 0 0 1px #f7f7f7;
		background: linear-gradient(to left, #e6e6e6 , #ececec,#f3f3f3);
	}

	#footer {
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;
	    -moz-flex-wrap: wrap;
	    position: relative;
	    text-align: center;
	    width: 150%;
	    left: -2em;
	    top: -30em;
	    font-size: .7em;
	    color: black;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    font-family: Georgia;
	    padding: 5em 5em 3em 5em;
	    /* width: calc(100% + 2em); */
	    margin: 0;
	}

	#footer>* {
	    width: calc(50% - -.3em);
	    margin-left: 13em;
	    border: none;
	    background: #fdfffa;
	    border-radius: 15px;
	    font-family: Georgia;
	    background: linear-gradient(to left, #7d7d7d , #E7E9BB,#E7E9BB, #828282);
	    padding: 1.3em .8em;
	    border: none;
	    box-shadow: 0 0 5px #252525;
	    background: linear-gradient(to left, #d4cead , #fbf9c8, #ded9be );
	    box-shadow: 0 0 2px black, inset 0 0 60px #b1b184;
	    background: linear-gradient(to left, #f3f0df , #fffeeb, #eae8d8 );
	    box-shadow: 0 0 2px black, inset 0 0 60px #dadabe;
	}
}