@media (max-width: 460px) {
	section#customMap {
	    width: 104.49%;
	    width: 104.9%;
	}
	#main .button.special, #main button.special, #main input[type=button].special, #main input[type=reset].special, #main input[type=submit].special {
	    background-color: #a9f6fb;
	    color: #1d5a1a!important;
	    text-shadow: none;
	    box-shadow: 0 0 0 1px #e1e1ff,1px 1px 1px #3c3b3b,1px 1px 1px #675a3a;
	    border-radius: 12px;
	    border: 1px solid #bdf8ff;
	    padding-top: .3em;
	    margin: 0 auto 0 -.3em;
	    width: 116px;
	    font-size: .9em;
	    margin-left: -.51em;
	    height: 27px;
	    padding-top: .2em;
	    position: relative;
	    left: -6.5em;
	    /* padding: 1.25rem 2.5rem; */
	    display: block;
	    font-family: DinLight;
	    background-color: #88ce83;
	    border: 1px solid rgb(25, 121, 54);
	    border: 1px solid cyan;
	    color: #ffffff;
	    font-weight: 300;
	    -webkit-border-radius: 3px;
	    border-radius: 24px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 900;
	}
}