

@media (max-width: 460px) {
	
	h1#headerH1 {
	    margin-left: -1em;
	    width: 117%;
	}

}



@media (max-width: 440px) {
	ul.actions.fit.small {
	    margin-left: -0.5em;
	    width: calc(100% + -28em);
	    min-width: 150px;
	    position: relative;
	    margin-top: -1.4em;
	    /* margin-left: 1em; */
	    left: 26.5%;
	    top: -.7em;
	}

	section#customMap {
		height: 399px;
		border-left: 1px solid #626f64;
		border-right: 1px solid #637766;
		box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
		border: 2px solid #676f03;
		box-shadow: 0 0 1px #c8d473, 0 0 10px black;
		margin-top: 15.55em;
		margin-bottom: 2.7em;
		width: 105.1%;
		padding-right: 8em;
		margin-left: .175em;
		border: none;
		border-top: 1px solid #2d2d00;
		border: 1px solid #7b7b76;
		border-radius: 8px;
		border: none;
	}
	.sh-up {
		position: relative;
		top: -3.5em;
		width: 13.65em;
		left: -1.5em;
	}
	#header p {
		color: #37382e;
		position: relative;
		top: -9.5em;
		left: 4.4em;
		font-size: .75em;
	}
	section.meta-w-form {
	    background: none;
	    height: 4em;
	    width: 100%;
	}

	.row.butane {
	    /* border: 2px solid red; */
	    margin-left: .01em;
	    margin-bottom: .1em;
	    margin-top: 4.5em;
	    height: 6em;
	    position: relative;
	    top: -9.5em;
	    /* width: 20em; */
	    left: 4.6em;
	    background: linear-gradient(#83a4d4,#83a4d4);
	    border-bottom: 1px solid black;
	    border-top: 1px solid black;
	    /* box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129; */
	    box-shadow: inset 0 0 250px black;
	    border: none;
	    background: none;
	    box-shadow: none;
	}

	ul.actions.fit.small.lower-btns {
	    position: relative;
	    top: -2.7em;
	}
		form.pure-form.rangr {
	    background: whitesmoke;
	    width: 96%;
	    box-shadow: 0 0 1px black;
	    margin-top: 5em;
	    margin-left: .6em;
	    padding: 1em 3.25em 0 4.5em;
	}
		ul.actions.fit.small {
	    margin-left: 1.5em;
	    width: calc(100% + -29.5em);
	    min-width: 150px;
	    background: none;
	    position: relative;
	    background: none;
	    margin-top: -.04em;
	    /* margin-left: 1em; */
	    left: 1.25em;
	    top: -1.5em;
	}

	ul.actions.fit.small li {
	    padding: 0 0 0 .7em;
	    width: 130px;
	    font-size: .75em;
	    background: none;
	}
	a#searchButton {
	    background: #a5a2a2;
	    padding: .225em .4em;
	    border-radius: .3em;
	    box-shadow: none;
	    font-size: .9em;
	}
	#main a:hover {
	    color: #69bed2;
	    box-shadow: none;
	    text-shadow: none;
	}
	section#queryForm {
	    display: initial;
	    top: .25em;
	    left: 6.75em;
	    height: 2em;
	    display: initial;
	    background: none;
	    top: -11.8em;
	}
	section#add-resources {
	    margin-left: 20%;
	    padding-right: 4em;
	    margin-top: -3em;
	}
	section.meta-w-form {
	 height: 4em;
	 width: 100%;
	 top: 18em;
	 left: 1em;
	}
	#footer > * {
	    width: 70%;
	    margin-left: 4.5em;
	    margin-bottom: 3em;
	}

	form.chello {
	    margin: 0 0 2em 0;
	    background: whitesmoke;
	    width: 90.9%;
	    padding: 5em 8em;
	    margin-left: 4.5%;
	    position: relative;
	    box-shadow: 0 0 1px black;
	    box-shadow: 0 0 0 1px #e4e4e4, 0 0 5px #29250c, 0 0 1px #232323, inset 0 0 100px #efefef, inset 0 0 100px #d6d3d3;
		border-radius: 8px;
		border: .5px solid #2a2d0f;
	    top: -5.5em;
	}

	button#btn-sub {
	    left: -2em;
	}

	.panel-default > .panel-heading {
		color: #333;
		background-color: transparent;
		border: none;
		box-shadow: none;
		margin-bottom: -1.8em;
		box-shadow: none;
	}

	#footer {
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;
	    -moz-flex-wrap: wrap;
	    position: relative;
	    text-align: center;
	    width: 150%;
	    left: -6em;
	    top: -22em;
	    font-size: .7em;
	    color: black;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 5em 5em 3em 5em;
	    /* width: calc(100% + 2em); */
	    margin: 0;
	}

	/*#header {
		padding: 2em 2em 0.1em 2em;
		position: relative;
		top: -1.4em;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border: 1px solid #ddd;
		background: #f3f3f3;
		width: 18.75em;
	}
	#main > .main:first-child {
		border-top: 0;
		border-top: 3px double;
		background: #f7f7f7;
		border-bottom: 3px double;
		background: #ffffff;
		background: transparent;
		border: 1px solid #dadada;
		box-shadow: 0 0 3px #c7c7c7;
		position: relative;
		top: -31em;
		left: 2em;
		border: none;
		box-shadow: none;
	}*/

	div#share-window {
	    background: #f9f9f9;
	    padding: .25em 1.5em;
	    margin: 1em;
	    width: 84%;
	}
	#main input[type=text], #main input[type=password], #main input[type=email], #main select, #main textarea {
		background: rgba(245, 251, 255, 0.99);
		border-color: #bdced4;
		height: 2em;
		border-radius: 10px;
		width: 140px;
		margin-left: 40px;
	}
	.row.butane {
	    /* border: 2px solid red; */
	    margin-left: .01em;
	    margin-bottom: 2.85em;
	    margin-top: 3.5em;
	    height: 6.5em;
	    position: relative;
	    top: -9.75em;
	    width: 74.95%;
	    left: 2.88em;
	    background: none;
	    border-bottom: 1px solid black;
	    border-top: 1px solid black;
	    /* box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129; */
	    box-shadow: none;
	    border: none;
	}

	h1#headerH1 {
		/* margin-left: .2em; */
	}

	input[type="text"], input[type="password"], input[type="email"], select, textarea {
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    -ms-appearance: none;
	    appearance: none;
	    border-radius: 8px;
	    border: solid 1px;
	    color: inherit;
	    display: block;
	    outline: 0;
	    padding: 0 1em;
	    text-decoration: none;
	    width: 300%;
	    position: relative;
	    left: -4.2em;
	}
}


@media (max-width: 485px) {
	h1#headerH1 {
	    margin-left: -.1em;
	    width: 129.5%;
	}
}

@media (max-width: 499px) {
	h1#headerH1 {
	    margin-left: -.199em;
	    width: 110.5%;
	    font-size: .951em;
	    padding-top: .951em;
	    margin-bottom: 1em;
	}
}

@media (max-width: 401px) {
	h1#headerH1 {
		margin-left: -1.525em;
		height: 10.7em;
		margin-top: -1.71em;
	}
}