@media (max-width: 440px) {
	ul.actions.fit.small {
	    margin-left: -0.5em;
	    width: calc(100% + -28em);
	    min-width: 150px;
	    position: relative;
	    margin-top: -1.4em;
	    /* margin-left: 1em; */
	    left: 26.5%;
	    top: -.7em;
	}
}

@media (max-width: 440px) {
	.sh-up {
		position: relative;
		top: -3.5em;
		width: 13.65em;
		left: -1.5em;
	}
	#header p {
		color: #4a4a4a;
		position: relative;
		top: -16.3em;
		left: 1.52em;
		font-size: .95em;
	}
	section.meta-w-form {
	    background: none;
	    height: 4em;
	    width: 100%;
	}

	.row.butane {
	    /* border: 2px solid red; */
	    margin-left: .01em;
	    margin-bottom: .1em;
	    margin-top: 4.5em;
	    height: 6em;
	    position: relative;
	    top: -9.5em;
	    /* width: 20em; */
	    left: 4.6em;
	    background: linear-gradient(#83a4d4,#83a4d4);
	    border-bottom: 1px solid black;
	    border-top: 1px solid black;
	    /* box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129; */
	    box-shadow: inset 0 0 250px black;
	    border: none;
	    background: none;
	    box-shadow: none;
	}

	ul.actions.fit.small.lower-btns {
	    position: relative;
	    top: -2.6em;
	}
		form.pure-form.angr {
	    background: whitesmoke;
	    width: 96%;
	    box-shadow: 0 0 1px black;
	    margin-top: 5em;
	    margin-left: .6em;
	    padding: 1em 3.25em 0 4.5em;
	}
		ul.actions.fit.small {
	    margin-left: 1.5em;
	    width: calc(100% + -29.5em);
	    min-width: 150px;
	    background: none;
	    position: relative;
	    background: none;
	    margin-top: -.04em;
	    /* margin-left: 1em; */
	    left: 1.25em;
	    top: -1.5em;
	}

	ul.actions.fit.small li {
	    padding: 0 0 0 .7em;
	    width: 130px;
	    font-size: .75em;
	    background: none;
	}
	a#searchButton {
	    background: #a5a2a2;
	    padding: .225em .4em;
	    border-radius: .3em;
	    box-shadow: none;
	    font-size: .9em;
	}
	#main a:hover {
	    color: #69bed2;
	    box-shadow: none;
	    text-shadow: none;
	}
	section#queryForm {
	    display: initial;
	    top: .25em;
	    left: 6.75em;
	    height: 2em;
	    display: initial;
	    background: none;
	    top: -11.8em;
	}
	section#add-resources {
	    margin-left: 20%;
	    padding-right: 4em;
	    margin-top: -3em;
	}
	section.meta-w-form {
	 
	    height: 4em;
	    width: 100%;
	    top: -2em;
	    left: -.51em;
	}
	#footer > * {
	    width: 70%;
	    margin-left: 4em;
	    margin-bottom: 3em;
	}

	form.c-hell {
	    margin: 0 0 2em 0;
	    background: whitesmoke;
	    width: 90.9%;
	    padding: 5em 8em;
	    margin-left: 4.5%;
	    position: relative;
	    box-shadow: 0 0 1px black;
	    top: -5.5em;
	}

	button#btn-sub {
	    left: -2em;
	}

	#footer {
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;
	    -moz-flex-wrap: wrap;
	    position: relative;
	    text-align: center;
	    width: 150%;
	    left: -6em;
	    top: -22em;
	    font-size: .7em;
	    color: black;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 5em 5em 3em 5em;
	    /* width: calc(100% + 2em); */
	    margin: 0;
	}

	.row.butane {
	    /* border: 2px solid red; */
	    margin-left: .01em;
	    margin-bottom: 2.85em;
	    margin-top: 3.5em;
	    height: 6.5em;
	    position: relative;
	    top: -9.75em;
	    width: 74.95%;
	    left: 2.88em;
	    background: none;
	    border-bottom: 1px solid black;
	    border-top: 1px solid black;
	    /* box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129; */
	    box-shadow: none;
	    border: none;
	}
}


