@media (max-width: 560px) {
	section.meta-w-form {
	  
	}
	ul.actions.fit.small {
		margin-left: -0.5em;
		width: calc(100% + -29.5em);
		min-width: 150px;
		position: relative;
		margin-top: -.04em;
		/* margin-left: 1em; */
		left: 2em;
		top: -1.82em;
	}
	li.realign {
		position: relative;
		left: .8em;
	}
	.row.butane {
	    /* border: 2px solid red; */
	    margin-left: .01em;
	    margin-bottom: .1em;
	    margin-top: 4.5em;
	    height: 6em;
	    position: relative;
	    top: -10em;
	    width: 58.75%;
	    left: 6.75em;
	    background: none;
	    border-bottom: 1px solid black;
	    border-top: 1px solid black;
	    /* box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129; */
	    box-shadow: none;
	    border: none;
	}
	section.meta-w-form {
	    background: #464646;
	    padding: 1em .1em 1em .14em;
	    position: relative;
	    height: 5.5em;
	    left: -.8em;
	    width: 100%;
	    top: -2.4em;
	    border: 1px solid #1f1703;
	    box-shadow: none;
	    outline: none;
	    border-top: .125em solid #272204;
	    background: transparent;
	    border: none;
	    outline: none;
	    background: pink;
	    background: none;
	    height: 4em;
	    width: 60%;
	}


	#header {
	    padding: 1.4em 2em 0.1em 2em;
	}
	#header h1 {
	    left: -.5em;
	}
	section#customMap {
	    height: 600px;
	    border-left: 1px solid #626f64;
	    border-right: 1px solid #637766;
	    box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
	    border: 2px solid #676f03;
	    box-shadow: 0 0 1px #c8d473, 0 0 30px gray;
	    margin-top: 17.3em;
	    margin-bottom: 2.7em;
	    width: 96.9%;
	    margin-right: 29.2em;
	    border: 20px solid black;
	    margin-left: .4em;
	    border: none;
	    border-top: 1px solid #2d2d00;
	    border: 1px solid #7b7b76;
	    border-radius: 12px;
	    border: 6.5px solid #252d14;
	    border: 6.5px solid #969696;
	}

}