@media (max-width: 500px) {
	form.c-hell {
	    margin: 0 0 2em 0;
	    background: whitesmoke;
	    width: 99.9%;
	    padding: 5em 6em;
	    margin-left: .025%;
	    position: relative;
	    top: -5em;
	}
	input[type="text"], input[type="password"], input[type="email"], select, textarea {
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    -ms-appearance: none;
	    appearance: none;
	    border-radius: 8px;
	    border: solid 1px;
	    color: inherit;
	    display: block;
	    outline: 0;
	    padding: 0 1em;
	    text-decoration: none;
	    width: 200%;
	    position: relative;
	    left: -4.2em;
	}
	#footer {
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;
	    -moz-flex-wrap: wrap;
	    position: relative;
	    text-align: center;
	    width: 150%;
	    left: -5.5em;
	    top: -30em;
	    font-size: .7em;
	    color: black;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 5em 5em 3em 5em;
	    /* width: calc(100% + 2em); */
	    margin: 0;
	}
	form.pure-form.angr {
	    background: whitesmoke;
	    width: 96%;
	    box-shadow: 0 0 1px black;
	    margin-top: 5em;
	    margin-left: .6em;
	    padding: 1em 3.25em 0 4.5em;
	}
		ul.actions.fit.small {
	    margin-left: 1.5em;
	    width: calc(100% + -29.5em);
	    min-width: 150px;
	    background: none;
	    position: relative;
	    background: none;
	    margin-top: -.04em;
	    /* margin-left: 1em; */
	    left: 1.5em;
	    top: -1.5em;
	}

	ul.actions.fit.small li {
	    padding: 0 0 0 .7em;
	    width: 130px;
	    font-size: .75em;
	    background: none;
	}
	a#searchButton {
	    background: #a5a2a2;
	    padding: .225em .4em;
	    border-radius: .3em;
	    box-shadow: none;
	    font-size: .9em;
	}
	#main a:hover {
	    color: #69bed2;
	    box-shadow: none;
	    text-shadow: none;
	}
	section#queryForm {
	    display: initial;
	    top: .25em;
	    left: 9.75em;
	    height: 2em;
	    display: initial;
	    background: none;
	    top: -11.8em;
	}
	section#add-resources {
	    margin-left: 20%;
	    padding-right: 4em;
	    margin-top: -3em;
	}
	section.meta-w-form {
	 
	    height: 4em;
	    width: 100%;
	    /*top: -2em;*/
	    left: -.51em;
	}
	#footer > * {
	    width: 70%;
	    margin-left: 4em;
	    margin-bottom: 3em;
	}

	form.c-hell {
	    margin: 0 0 2em 0;
	    background: whitesmoke;
	    width: 90.9%;
	    padding: 5em 8em;
	    margin-left: 4.5%;
	    position: relative;
	    box-shadow: 0 0 1px black;
	    top: -5.5em;
	}

	button#btn-sub {
	    left: -2em;
	}

	#footer {
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;
	    -moz-flex-wrap: wrap;
	    position: relative;
	    text-align: center;
	    width: 150%;
	    left: -6em;
	    top: -22em;
	    font-size: .7em;
	    color: black;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 5em 5em 3em 5em;
	    /* width: calc(100% + 2em); */
	    margin: 0;
	}
	#main .button.special, #main button.special, #main input[type=button].special, #main input[type=reset].special, #main input[type=submit].special {
	    background-color: #a9f6fb;
	    color: #1d5a1a!important;
	    text-shadow: none;
	    box-shadow: 0 0 0 1px #55ab32,1px 1px 1px #3c3b3b,1px 1px 1px #675a3a;
	    border-radius: 12px;
	    border: 1px solid #bdf8ff;
	    padding-top: .3em;
	    margin: 0 auto 0 -.3em;
	    width: 124px;
	    font-size: .9em;
	    margin-left: -.51em;
	    height: 30px;
	    position: relative;
	    left: -6.73em;
	    /* padding: 1.25rem 2.5rem; */
	    display: block;
	    font-family: DinLight;
	    background-color: #88ce83;
	    border: 1px solid rgb(25, 121, 54);
	    color: #ffffff;
	    font-weight: 300;
	    -webkit-border-radius: 3px;
	    border-radius: 8px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 900;
	}
	.row.butane {
	    /* border: 2px solid red; */
	    margin-left: .01em;
	    margin-bottom: 2.85em;
	    margin-top: 3.5em;
	    height: 6.5em;
	    position: relative;
	    top: -9.75em;
	    width: 61.75%;
	    left: 5.5em;
	    background: none;
	    border-bottom: 1px solid black;
	    border-top: 1px solid black;
	    /* box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129; */
	    box-shadow: none;
	    border: none;
	}
}