@media (max-width: 600px) {
	section#customMap {
		height: 600px;
		border-left: 1px solid #626f64;
		border-right: 1px solid #637766;
		box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
		border: 2px solid #676f03;
		box-shadow: 0 0 1px #c8d473, 0 0 30px gray;
		margin-top: 15.8177703em;
		margin-bottom: 2.7em;
		width: 97.848%;
		margin-right: 29.2em;
		border: 20px solid black;
		margin-left: .01em;
		border: none;
		border-top: 1px solid #2d2d00;
		border: 1px solid #7b7b76;
		border-radius: 12px;
		border: 6.5px solid #252d14;
		border: 2.5px solid #f1f1f1;
		/* border-left: none; */
		border-radius: 8px;
		/* border-left: none; */
		/* border-right: none; */
		/* border-top-left-radius: 80px; */
		/* border-top-right-radius: 80px; */
		/* border-right: none; */
	}
	#header h1 {left: 1.74em;top: -3.15em;}

	section.meta-w-form {
	    background: yellow;
	    background: none;
	    height: 4em;
	    width: 100%;
	    top: 18.3em;
	    left: -.375em;
	}
	#header p {
		color: #48473e;
		position: relative;
		top: -10.7em;
		font-size: .6825em;
	}
}