@media (max-width: 640px) {

	ul.actions.fit.small.lower-btns {
		position: relative;
		top: -2.85em;
		background: none;
	}

	ul.actions.fit.small {
	    margin-left: 1.5em;
	    width: calc(100% + -29.5em);
	    min-width: 150px;
	    background: none;
	    position: relative;
	    margin-top: -.04em;
	    /* margin-left: 1em; */
	    left: 1.5em;
	    top: -1.5em;
	}
	.row.butane {
	    /* border: 2px solid red; */
	    margin-left: .01em;
	    margin-bottom: 2.85em;
	    margin-top: 3.5em;
	    height: 6.5em;
	    position: relative;
	    top: -9.75em;
	    width: 48.75%;
	    left: 9.5em;
	    background: none;
	    border-bottom: 1px solid black;
	    border-top: 1px solid black;
	    /* box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129; */
	    box-shadow: none;
	    border: none;
	}
	li.realign {
	    position: relative;
	    left: -.72em;
	}
	#header {
	    padding: 2em 2em 0.1em 2em;
	}
	-#header h1 {
	    margin: 0 0 0.25em 0;
	    font-weight: 700;
	    letter-spacing: normal;
	    background: radial-gradient(#8296bb,#3f4b65);
	    margin-top: 1.1em;
	    border: 11px solid #b1b1b1;
	    box-shadow: 0 0 6px #505050, inset 0 0 300px #d7edff;
	    padding-top: .85em;
	    padding-bottom: 3em;
	    box-shadow: 0 0 1px #615711, 0 0 1px #505050, inset 0 0 200px #2f2e26, inset 0 0 150px black;
	    background: linear-gradient(to left, #3a3f42 , #795d5d, #31343c );
	    height: 9.5em;
	    border-radius: 8px;
	    background: linear-gradient(#d9dee0 , #ececec, #efefef );
	    background: whitesmoke;
	    box-shadow: 0 0 1px #212121, 0 0 1px #615711, 0 0 1px #505050, inset 0 0 100px #d0d0d0, inset 0 0 100px #a0a0a0;
	}
	section#queryForm {
		display: initial;
		top: .25em;
		left: 14.25em;
		height: 2em;
		display: initial;
		top: -11.8em;
	}
	section.meta-w-form {
	    background: yellow;
	    background: none;
	    height: 4em;
	    width: 100%;
	    top: 17.2em;
	    left: -1.75em;
	}
	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
		/* background-color: #f5f5f5; */
		/* box-shadow: 0 0 0 2px #e9fff9, 2px 2px 2px #3c3b3b, 2px 2px 2px #805f0c; */
		/* color: #000000 !important; */
		font-weight: 900;
		letter-spacing: .4px;
		/* border-radius: .81em; */
		width: 115px;
		font-size: .9em;
		padding-top: .1em;
		height: 27px;
		position: relative;
		left: -6.5em;
		font-family: DinLight;
		border: none;
		top: -.01em;
		border-radius: 24px;
		/* text-shadow: 0 0 4px #a2a6af; */
		padding-top: .3em;
		/* height: 24px; */
		box-shadow: 1px 1px 3px #504c4c, 1px 1px 1px #8a8a8a;
	}

	#main .button.special, #main button.special, #main input[type=button].special, #main input[type=reset].special, #main input[type=submit].special {
		background-color: #a9f6fb;
		color: #126f6f!important;
		text-shadow: none;
		box-shadow: 0 0 0 1px cyan,1px 1px 5px #3c3b3b,1px 1px 1px #675a3a;
		border-radius: 12px;
		border: 1px solid #bdf8ff;
		padding-top: .2em;
		margin: 0 auto 0 -.3em;
		width: 115px;
		font-size: .9em;
		margin-left: -.51em;
		height: 27px;
		position: relative;
		left: -5.5em;
		/* padding: 1.25rem 2.5rem; */
		display: block;
		font-family: DinLight;
		background-color: #88ce83;
		border: 1px solid rgb(25, 121, 54);
		color: #ffffff;
		border-color: cyan;
		font-weight: 300;
		-webkit-border-radius: 3px;
		border-radius: 24px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		font-weight: 900;
	}
	h1.mobile-h1 {
		height: 40em;
	}
	#header p.mobile-p {
		position: relative;
		top: -12em;
		position: relative;
		left: -.1em;
		top: -45.1em;
	}

	form.pure-form.angr {
		background: whitesmoke;
		width: 87%;
		box-shadow: 0 0 1px black;
		margin-top: 5em;
		margin-left: 2em;
		padding: 1em 3.25em 0 4.5em;
	}
	#header p {
		color: #48473e;
		position: relative;
		top: -11.39em;
		font-size: .6825em;
	}
	header.headerId {
		position: relative;
		top: -11em;
		/* height: 40em; */
	}
	#header h1 {
		margin: 0 0 0.25em 0;
		font-weight: 700;
		letter-spacing: normal;
		background: steelblue;
		margin-top: -.9341em;
		box-shadow: 0 0 1px #e4e4e4, 0 0 1px #615711, 0 0 1px #505050, inset 0 0 100px #d0d0d0, inset 0 0 100px #a0a0a0;
		padding-top: .945em;
		padding-bottom: 3em;
		color: #464646;
		height: 9.83em;
		background: #C02425;
		background: -webkit-linear-gradient(to left, #C02425 , #F0CB35);
		background: linear-gradient(to left, #b72b2b , #ffd631, #bd3838);
		background: #DAE2F8;
		background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4);
		background: linear-gradient(#d9dee0 , #d6d6d6, #d4d6de );
		border: 2px solid #dedede;
		border-left: none;
		border-radius: 8px;
		padding-right: 6em;
		padding-left: 6em;
		width: 130.95%;
		left: .24em;
		width: 420px;
		border-radius: 24px;
		/* border-top-left-radius: 20px; */
		/* border-bottom-left-radius: 70px; */
		/* border-top-right-radius: 20px; */
		border-right: none;
	}
	#header h1.mobile-h1 {
		height: 40.83em;
	}
	main#main-page {
	    position: absolute;
	    top: 1.2em;
	    width: 121.6%;
	    padding-right: 2em;
	    margin-left: -3em;
	    background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
	    outline: 1px solid #656161;
	    box-shadow: inset 0 0 400px #afb7b9;
	    background: silver;
	    background: radial-gradient(#ebf0ff,#bedbf9,#88a6b9,#536971);
	    background: none;
	    box-shadow: none;
	    padding-top: 12em;
	    outline: none;
	    border: none;
	    overflow-x: hidden;
	}

	section#customMap {
	    height: 600px;
	    border-left: 1px solid #626f64;
	    border-right: 1px solid #637766;
	    box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
	    border: 2px solid #676f03;
	    box-shadow: 0 0 1px #c8d473, 0 0 30px gray;
	    margin-top: 15.12em;
	    margin-bottom: 2.7em;
	    width: 93.39%;
	    margin-right: 29.2em;
	    border: 20px solid black;
	    margin-left: .69em;
	    border: none;
	    border-top: 1px solid #2d2d00;
	    border: 1px solid #7b7b76;
	    border-radius: 12px;
	    border: 6.5px solid #252d14;
	    border: 2.5px solid #dadada;
	}
}
