


@media (max-width: 768px) {
	#header h1 {
		margin: 0 0 0.25em 0;
		font-weight: 700;
		letter-spacing: normal;
		background: steelblue;
		margin-top: 2.41em;
		box-shadow: 0 0 1px #e4e4e4, 0 0 1px #615711, 0 0 1px #505050, inset 0 0 100px #d0d0d0, inset 0 0 100px #a0a0a0;
		padding-top: .945em;
		padding-bottom: 3em;
		color: #464646;
		height: 13.5em;
		background: #C02425; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #C02425 , #F0CB35); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #b72b2b , #ffd631, #bd3838); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: #DAE2F8; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(#d9dee0 , #d6d6d6, #d4d6de ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		border: 10px solid #dedede;
		border-radius: 8px;
	}
	li.realign {
		position: relative;
		left: 1em;
	}
	.row.butane {
		/* height: 186.5px; */
		box-shadow: inset 0 0 250px black;
		background: none;
		/* border-bottom: none; */
		background: url("https://www.transparenttextures.com/patterns/black-thread.png");
		display: inherit;
		background: linear-gradient(to left, #c2e59c , #64b3f4);
		background: #83a4d4;
		background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff);
		background: linear-gradient(#cbd3de,#99a7bb);
		border: 1px solid #4e4200;
	}
	
	a.button.fit.small.fit-cx {
	    width: 11.5em;
	    margin-left: 0;
	    padding-right: 2em;
	}

	#header {
	    padding: 1.2em 2em 0.1em 2em;
	}


	section.one-half.btn-wrapper {
	    position: relative;
	    width: 18em;
	    margin: 0 auto 0 auto;
	    padding-top: .75em;
	    /*border: 1px solid black;*/
	}
	.nav-tabs {
	    border-bottom: 1px solid #ddd;
	    display: none;
	}
	/*header#header {
		display: none;
	}*/
	#wrapper {
	    max-width: calc(100% - -1em);
	    margin: 0 auto;
	    margin-left: -.5em;
	    position: relative;
	    top: -12em;
	    margin-bottom: -19.5em;
	    /* height: 150em; */
	    padding-top: 0;
	    background: radial-gradient(#f7f7f7,#f5f5f5,#f1f1f1);
	    background: radial-gradient(#e4e2cf,#c0ccc6);
	    box-shadow: inset 0 0 250px #e4e4e4;
	    background: transparent;
	    box-shadow: none;
	    border: none;
	}
	.table-wrapper {
	
	    display: none;
	}
	section#queryForm {
	    display: initial;
	    section#queryForm {     position: relative;
	    top: .25em;
	    left: 16.25em;
	    height: 2em;
	    display: initial;
	    top: -12.3em; }
	    section#queryForm {     position: relative;
	    top: .25em;
	    left: 16.25em;
	    height: 2em;
	    display: initial;
	    top: -12.3em; }
	    position: relative;
	    top: .25em;
	    left: 14.25em;
	    height: 2em;
	    display: initial;
	    top: -12.3em;
	}
	section#rcMap {
	    height: 500px;
	    width: 100%;
	    border: 1px solid #b5b5b5;
	    margin-top: 3.52em;
	    margin-bottom: 3em;
	    box-shadow: 0 0 2px #464646;
	    border: 1px solid #bbbaba;
	    /* box-shadow: 0 0 1px #ececec; */
	    border: 1px solid #989898;
	}
	section#first {
	    height: 700px;
	}

	#footer > * {
	    width: 60%;
	    margin-left: 3em;
	    margin-bottom: 3em;
	}

	#main > .main {
	    padding: 3em .2em 1em .2em;
	}
	.container {
	    padding-right: 10px;
	    padding-left: 10px;
	    margin-right: auto;
	    margin-left: auto;
	}

	ul.actions.fit.small {
	    margin-left: -0.5em;
	    width: calc(100% + -29.5em);
	    min-width: 150px;
	    position: relative;
	    margin-top: -.04em;
	    /* margin-left: 1em; */
	    left: 28%;
	    top: -.2em;
	}

	#main > .main:first-child {
	    border-top: 0;
	    border-top: 3px double;
	    background: #f7f7f7;
	    border-bottom: 3px double;
	    background: #ffffff;
	    background: transparent;
	    border: 1px solid #dadada;
	    box-shadow: 0 0 3px #c7c7c7;
	    border: none;
	    box-shadow: none;
	}
	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	    background-color: rgba(249, 249, 249, 1);
	    box-shadow: inset 0 0 0 1px #bbbbbb;
	    color: #636363 !important;
	    font-weight: 400;
	}

	#main {
	    background-color: #635f5f;
	    color: #636363;
	    border-radius: 0.25em;
	    background: transparent;
	    border: none;
	    position: relative;
	    left: .78em;
	    top: -35.8em;
	    box-shadow: none;
	}

	.navbar-brand {
	    float: left;
	    height: 50px;
	    margin-left: 1.5em;
	    padding: 15px 15px;
	    margin-top: .25em;
	    color: white;
	    font-size: 18px;
	    line-height: 20px;
	}

	section.contact-footer-section {
	    position: relative;
	    left: -2.5em;
	}

	.row.butane {
		/* border: 2px solid red; */
		margin-left: .01em;
		margin-bottom: 2.85em;
		margin-top: 3.5em;
		height: 7em;
		position: relative;
		top: -10em;
		width: 48.75%;
		left: 10em;
		background: none;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		/* box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129; */
		box-shadow: none;
		border: none;
	}
	#pac-input {
		background-color: #fff;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
		position: relative;
		margin-left: 12px;
		padding: 0 11px 0 13px;
		text-overflow: ellipsis;
		width: 24%;
		height: 30px;
		left: 71%;
		top: -8.7em;
	}

	main#main-page {
		position: absolute;
		top: 1.2em;
		width: 110.6%;
		margin-left: -3em;
		background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
		outline: 1px solid #656161;
		box-shadow: inset 0 0 400px #afb7b9;
		background: silver;
		background: radial-gradient(#ebf0ff,#bedbf9,#88a6b9,#536971);
		background: none;
		box-shadow: none;
		padding-top: 12em;
		outline: none;
		border: none;
		overflow-x: hidden;
	}

	section#customMap {
		height: 600px;
		border-left: 1px solid #626f64;
		border-right: 1px solid #637766;
		box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
		border: 2px solid #676f03;
		box-shadow: 0 0 1px #c8d473, 0 0 30px gray;
		margin-top: 17.3em;
		margin-bottom: 2.7em;
		width: 99.39%;
		margin-right: -12em;
		border: 20px solid black;
		margin-left: .05em;
		border: none;
		border-top: 1px solid #2d2d00;
		border: 1px solid #7b7b76;
		border-radius: 12px;
		border: 6.5px solid #252d14;
		border: 6.5px solid #969696;
	}
	#header p {
		color: #4a4a4a;
		font-size: .84em;
		position: relative;
		top: -24.07em;
	}

	#header p.mission {
		color: black;
	}

	#header p.copyright {
		color: #3a3838;
		position: relative;
		left: -1em;
		top: -1em;
	}

	h2, h3, h4, h5, h6 {
		color: #4c4b4b;
		font-weight: 600;
	}
	h1 {
		color: white;
	}

	.navbar-header {
	    padding-top: 1.35em;
	}

		#sw {
	    display: none;
	    position: fixed;
	    left: -.01%;
	    top: -1em;
	    width: 100%;
	    height: 1400px;
	    background: radial-gradient(#e1ecf5,#e4eef1,#f0fbff);
	    clear: both;
	    border: 1px solid #a9a9ad;
	    box-shadow: 0 0 5px;
	    border-left: .2em solid gray;
	    border-top: 2px solid #c0d8dc;
	    box-shadow: 0 0 0 1px #9bbbba, 0 0 0 2px #bbe4e4, 0 0 10px black;
	    border-left: .2em solid gray;
	    /* top: 118px; */
	    border-left: 1px solid #070a0a;
	    border-left: 2px solid #c0d8dc;
	    border-right: 2px solid #c0d8dc;
	    border-bottom: 2px solid #c0d8dc;
	    top: .015em;
	    margin-left: 0;
	    /* box-shadow: 0 0 0 3px gray; */
	    padding: 0 0 2em 0;
	    z-index: 99999;
	}

	#winCtrl {
		display: inline;
		z-index: 99999;
		/* position: relative; */
		/* top: .1em; */
		margin-top: .5em;
		float: right;
		padding-top: .05em;
		padding-left: .2em;
		margin-right: 4.5em;
		color: #443101;
		border-radius: .75em;
		box-shadow: 1px 1px 1px black;
		height: 1.5em;
		width: 1.5em;
	}

	#footer {
	    display: -moz-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    display: flex;
	    -moz-flex-wrap: wrap;
	    position: relative;
	    text-align: center;
	    width: 150%;
	    left: -2em;
	    top: -12.2em;
	    font-size: .7em;
	    color: black;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    padding: 5em 5em 3em 5em;
	    /* width: calc(100% + 2em); */
	    margin: 0;
	}

	input#pac-input {
	    display: none;
	}

	.glyphicon {
	    /* position: relative; */
	    /* top: -20px; */
	    /* left: 16em; */
	    display: inline-block;
	    font-family: 'Glyphicons Halflings';
	    font-style: normal;
	    font-weight: normal;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}

	div  {
	    text-align: left;
	}

	#main .button.special, #main button.special, #main input[type=button].special, #main input[type=reset].special, #main input[type=submit].special {
	    background-color: #a9f6fb;
	    color: #1a461a!important;
	    text-shadow: 0 0 12px #aeeeff;
	    box-shadow: 0 0 0 1px limegreen, 0 0 5px black;
	    border-radius: 12px;
	    border: 1px solid #bdf8ff;
	    padding-top: .3em;
	    margin: 0.1em 0 0 .1em;
	    width: 123px;
	    letter-spacing: .84px;
	    /* font-size: 2.0rem; */
	    height: 26px;
	    /* padding: 1.25rem 2.5rem; */
	    border-radius: 10px;
	    display: block;
	    background-color: #25c331;
	    border: 1px solid transparent;
	    color: #ffffff;
	    font-weight: 300;
	    -webkit-border-radius: 3px;
	    border-radius: 6px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	}

	.f-class {
		margin-left: 0;
	}
	section#sw {
	    padding-left: .5em;
	    margin: 2em 0 2em 3em;
	    width: 84%;
	}

	section.meta-w-form {
	    background: #464646;
	    padding: 1em .1em 1em 1.35em;
	    position: relative;
	    height: 5.5em;
	    left: -.6em;
	    width: 100%;
	    top: 14.84em;
	    border: 1px solid #1f1703;
	    box-shadow: none;
	    outline: none;
	    border-top: .125em solid #272204;
	    background: transparent;
	    border: none;
	    outline: none;
	}

	.button {
		/* background-color: #f5f5f5; */
		/* box-shadow: 0 0 0 2px #e9fff9, 2px 2px 2px #3c3b3b, 2px 2px 2px #805f0c; */
		/* color: #000000 !important; */
		/* font-weight: 400; */
		/* letter-spacing: .1em; */
		/* border-radius: .81em; */
		width: 120px;
		/* border-radius: 12px; */
		/* text-shadow: 0 0 4px #a2a6af; */
		padding-top: .6em;
		/* height: 24px; */
		/* box-shadow: 0 0 0 1px #e9fff9, 2px 2px 2px black, 3px 3px 3px #805f0c; */
	}

	body {
	    box-shadow: inset 0 0 300px #232323, inset 0 0 300px black, 0 0 300px #2f3535;
	
	}

	div#pseudoWrapWindow {
	    background: black;
	    opacity: .65;
	    position: absolute;
	    height: 100em;
	    width: 110%;
	    left: -1em;
	    top: -32em;
	}

	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
		/* background-color: #f5f5f5; */
		/* box-shadow: 0 0 0 2px #e9fff9, 2px 2px 2px #3c3b3b, 2px 2px 2px #805f0c; */
		/* color: #000000 !important; */
		/* font-weight: 400; */
		letter-spacing: .84px;
		/* border-radius: .81em; */
		width: 128px;
		font-size: .9em;
		height: 32px;
		position: relative;
		left: -6.5em;
		top: -.01em;
		/* border-radius: 12px; */
		/* text-shadow: 0 0 4px #a2a6af; */
		padding-top: .5em;
		/* height: 24px; */
		/* box-shadow: 0 0 0 1px #e9fff9, 2px 2px 2px black, 3px 3px 3px #805f0c; */
	}

	.sh-up {
	    position: relative;
	    top: -3.5em;
	}

	ul.actions.fit.small.lower-btns {
	    position: relative;
	    top: -1.3em;
	}

	li.realign {
	    position: relative;
	    left: 1.2em;
	}

	form.c-hell {
		margin: 0 0 2em 0;
		background: whitesmoke;
		width: 80%;
		padding: 5em 6em;
		margin-left: 10.5%;
		position: relative;
		box-shadow: 0 0 1px black;
		top: -8.5em;
	}

	form.pure-form.angr {
	    background: whitesmoke;
	    width: 70%;
	    box-shadow: 0 0 1px black;
	    margin-top: 5em;
	    margin-left: 6em;
	    padding: 1em 3.25em 0 4.5em;
	}

	.c-form-label {
	    color: #838483;
	    font-weight: 300;
	    text-align: center;
	    margin-left: -.2em;
	    text-shadow: none;
	}
	div#share-window {
	    background: gainsboro;
	    padding: 2em 2em 2em 1em;
	    margin: 1em;
	    box-shadow: 0 0 1px #989898;
	    width: 65%;
	    border: 1px solid silver;
	}
	.f2 {
		font-size: 1.4em;
		font-weight: 600;
		line-height: 15px;
		margin: .7em 0 .2em;
	}
	label.sms-form-label {
	    margin-left: 3em;
	}
	.sms-form-input {
		height: 2em;
	}
		
	.sms-form-button {
		position: relative;
		left: -2em;
		margin-top: .75em;
	}


	.share-resource {
		padding: .1em 1.2em;
	}

	.show-sms-response.ng-binding {
	    margin-top: 1.25em;
	    margin-left: 3em;
	}

	div#phone-mob {
	    font-size: .75em;
	    margin-top: .75em;
	    margin-bottom: 1em;
	}

	.row.butane {
		border-radius: 10px;
	}

	.row.butane {
	    /* height: 186.5px; */
	    box-shadow: none;
	    /* box-shadow: inset 0 0 200px gray; */
	    /* background: none; */
	    /* border-bottom: none; */
	    /* background: url("https://www.transparenttextures.com/patterns/black-thread.png"); */
	    border-color: #2f2f2f;
	    display: inherit;
	    background: linear-gradient(to left, #c2e59c , #64b3f4);
	    border-top-right-radius: 10px;
	    border-top-left-radius: 10px;
	    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAQ0lE…8R+4+IoL3HswM1N0TEchM3HtBVTUrzIydpKqzcs7Bzg++WR+Le2A33AAAAABJRU5ErkJggg==') repeat;
	    background: none;
	}
	div.address-mobile {
		line-height: 12px;
		display: inline;
	}
	div#zip-mob {
		margin-bottom: 6px;
	}

	#main input[type=text], #main input[type=password], #main input[type=email], #main select, #main textarea {
	    background: rgba(245, 251, 255, 0.99);
	    border-color: #bdced4;
	    height: 2em;
	    border-radius: 10px;
	}
	label.sms-form-label {
	    margin-left: .2em;
	    line-height: 16px;
	    font-size: 1.21em;
	}
	.pure-control-group {
	    margin: .61em 1.3em 1em 2.1em;
	}
	.panel-title {
	    margin-top: 0;
	    margin-bottom: 0;
	    font-size: 16px;
	    margin-bottom: -1.75em;
	    color: inherit;
	}
}	

@media (min-width: 735px) {
	button.navbar-toggle {
	    width: 4px;
	    /* height: 12px; */
	    margin-right: -60px;
	    border: none;
	    outline: none;
	    box-shadow: none;
	}
}

@media (min-width: 769px) {
	.hide-guest-menu {
		display: none;
	}

	#wrapBg {background: transparent;}
}













