@media (max-width: 999px) {
	#wrapper {
	    width: 64em;
	    max-width: calc(100% - -.4em);
	    margin: 0 auto;
	    top: -5.0em;
	    background: #b0b990;
	    box-shadow: inset 0 0 200px #e2eff1, 0 0 1px #5a5959;
	    border: 1px double #747879;
	    /* background: radial-gradient(lightgrey,black); */
	    min-height: 760px;
	    /* background: radial-gradient(#eff6ff,#d3d8de); */
	    /* border-right: none; */
	    /* border-left: none; */
	    border-radius: 18px;
	    height: 60em;
	    outline: none;
	    background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
	    /* border-color: transparent; */
	    border: none;
	    background: #8e9eab;
	    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	    z-index: 99999;
	    background: linear-gradient(#eef2f3,#dfe6ea);
	}

	ul.nav.nav-tabs {
	    position: relative;
	    top: -5.841em;
	    left: -1.8em;
	    padding-left: 3.9983em;
	    width: 106.5%;
	    border-radius: 18px;
	    /* background: linear-gradient(to left, #f3f0df , #fffeeb, #eae8d8 ); */
	    background: #fffffb;
	    box-shadow: 0 0 2px #545454, inset 0 0 20px #ececec;
	}

	.sh-up {
	    margin-top: -5.27em;
	}
	li.realign {
		position: relative;
		left: -.91em;
	}
}