<section>
  <div class="col-md-12 angular-form">

 <!-- 
          <div class="form-group" show-errors>
            <label class="control-label" for="subject">Subject (optional)</label>
            <input name="subject" type="text" ng-model="vm.comment.subject" id="subject" class="form-control" required>
            <div ng-messages="vm.form.commentForm.subject.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Comment subject is required.</p>
            </div>
          </div> -->
          
       

        <form name="vm.form.commentForm" class="form-horizontal" ng-submit="vm.save(vm.form.commentForm.$valid)" novalidate>
         <fieldset>
            <div class="row uniform">
            <h2>Let us know what you think</h2>
              <div class="12u$ form-group">
                <label class="control-label" for="title">Subject (optional)</label>
                <input id="subject" name="subject" type="text" ng-model="vm.comment.subject" id="subject" class="form-control"/>
              </div>
           

              <div class="12u$">
                <div class="form-group">
                  <label class="control-label" for="title">Leave a Comment</label>
                  <textarea name="content" data-ng-model="vm.comment.content" id="content" class="form-control" cols="30" rows="6" placeholder="Content" required></textarea>
                </div>

              </div>
              <div class="12u$ form-group">

                <button type="submit" class="special">{{vm.comment._id ? 'Update' : 'Create'}}</button>
              </div>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
          </div>
         </fieldset>
      </form>


  </div>
</section>

