<form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="chello pure-form pure-form-stacked">
    <fieldset>
        <legend>Login</legend>

        <label for="username">Username</label>
        <input placeholder="Email" type="text" id="username" name="username" ng-model="vm.credentials.username">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password" ng-model="vm.credentials.password">

   <!--      <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>
 -->
        <br>
        <button type="submit" class="pure-button">Sign in</button>
        <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger pos-error">
          <span ng-bind="vm.error"></span>
        </uib-alert>
    </fieldset>
</form>