.content {
  /* margin-top: 8.5em; */
  padding: 19.5em 0 18.5em 0;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

section#rcMap {
    height: 400px;
    width: 100%;
    border: 1px solid #b5b5b5;
    margin-top: 3em;
    margin-bottom: 3em;
    box-shadow: 0 0 3px;
}

/*section.one-half {
  width: 50%;
}*/

section.one-half.btn-wrapper {
    position: relative;
    width: 55%; 
  }

section.contact-footer-section {
  margin-left: .5em;
}

h2.contact {
  margin-left: 3.5em;
}

#winCtrl {
  display:none;
}

section#sw {
    position: relative;
    top: -24em;
    left: 34%;
}

section#first {
    height: 760px;
}