.content {
  padding: 17.5em 0 18.5em 0;
  overflow: hidden;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

section#rcMap {
    height: 500px;
    width: 100%;
    border: 1px solid #b5b5b5;
    margin-top: -2.2em;
    margin-bottom: 3em;
    box-shadow: 0 0 2px #a8bbb8;
    border: 1px solid #bbbaba;
    /* box-shadow: 0 0 1px #ececec; */
    border: 2.5px double #bdbcbc;
}

/*section.one-half {
  width: 50%;
}*/

section.one-half.btn-wrapper {
    position: relative;
    width: 55%;
    margin-top: -4em;
  }

section.contact-footer-section {
  margin-left: .5em;
}

h2.contact {
  margin-left: 3.5em;
}

section#sw {
}

section#first {
    height: 690px;
}

div#info-wrapper {
    background: #f3f3f3;
    border: 1px solid #bbbaba;
    /* box-shadow: inset 0 0 100px #f3f3f3; */
    width: 100%;
    display: inline-block;
    height: 420px;
    border: 1px solid #e2e2e2;
    font-weight: 400;
    box-shadow: 0 0 12px #3e3e3e;
}

#winCtrl {
  display: inline;
  z-index: 99999;
  position: relative;
  top: -.24em;
  color: #443101;
  left: 4.94em;
}

#winCtrl:hover {
    color: black;
    cursor: pointer;
}

#sw {
  display:none;
  position: absolute;
  left: 81.05%;
  height: 420px;
  width: 9.5em;
  background: radial-gradient(#e1ecf5,#e4eef1,#dff6ff);
  clear: both;
  border: 1px solid #a9a9ad;
  box-shadow: 0 0 0 1px #9bbbba;
  border-left: .2em solid gray;
  top: 86px;
  border-left: 1px solid #070a0a;
  /* border-left: none; */
  border-right: none;
  margin-left: 0;
  /* box-shadow: 0 0 0 3px gray; */
  padding: 0 0 2em 0;
}

section#add-resources {
    margin-left: 5%;
    padding-right: 7em;
    margin-top: -3em;
    text-align: left;
}

.lks:hover {
  cursor: pointer;
}

a.lks {
    color: cornflowerblue;
    color: #557692;
    text-align: left;
    text-decoration: underline;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 3em;
}

.f1 {
  font-size: .6em;
}

.f2 {
  font-size: .9em;
  line-height: 17px;
  font-weight: 600;
  margin-top: .65em;
  margin-bottom: .75em;
}
.f3 {
  font-size: .9em;
  line-height: 6px;
  font-weight: 500;
}
.f4 {
  font-size: .8em;
  line-height: 14px;
  margin-top: .5em;
  font-weight: 200;
  padding-left: .895em;
  padding-right: .895em;
  text-align: center;
}

.mission {
  line-height: 24px;
}


section#queryForm {
  position: relative;
  top: -4.5em;
  left: -1.75em;
  height: 3em;
}

input#zip {
    width: 20%;
    height: 2em;
    display: inline;
}

button.fc-in {
  display: inline;
  line-height: 12px;
  width: 6.2em;
  height: 2.19em;
}

.inline-group {
  display: inline;
}

#main > .main:first-child {
    background: radial-gradient(#eaeaea,snow);
    box-shadow: inset 0 0 200px #1b1a1a;
    border: 1px solid #9a9595;
}

.resize {
  width: 30%;
}

.third {
  width: 18.5em;
}

.change-control {
  height: 2em;
}

input.change-control {
    height: 1.8em;
}

input.form-control.fc-sm {
    width: 37.5%;
    display: inline;
    height: 1.6em;
}

.override-accordion {
  position: relative;
  top: -2em;
}

.isp-links {
  text-decoration: underline;
  color:steelblue;
}

.isp-details {
  font-size: .6em;
  font-weight: 400;
}

.fieldset-override {
  background: #fbfbf5;
  /* color: darkgray; */
  border: 1px solid #d2d2d2;
  box-shadow: 0 0 5px #dedede, 0 0 0 1px #f1ffdc;
  padding: 1.5em 5.5em 0 5.5em;
  /* overflow-y:   scroll; */
  max-height: 730px;
}

.fill-norm {
  background: #d4dbe2;
  font-weight: 600;
  border: 1px solid #cacaca;
  border-radius: 8px;
}
section#toggleButtons {
    margin-top: 4.25em;
}

main#main-page {
  position: relative;
  top: -4em;
  margin-left: .3em;
  background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
  outline: 1px solid #9c9c9c;
  box-shadow: inset 0 0 400px #afb7b9;
  background: silver;
  background: radial-gradient(#ebf0ff,#bedbf9,#8ac1e4,#9fc3d0);
  box-shadow: 0 0 5px #383838;
  background: white;
  box-shadow: 0 0 5px #383838, inset 0 0 200px #cfd5d6, 0 0 0 1px #d4d4d4;
}

section#first {
    height: 785px;
}

.nav-tabs > li > a {
    font-weight: 500;
}

.small-img {
    width: 16.5%;
    margin-left: .18em;
    position: relative;
    top: .5em;
    display: inline;
    clear: both;
    /* margin-top: 1em; */
}

.toleft {
  position: relative;
  left: -.81em;
  padding-right: .1em;
}

.medium-img {
  width: 133%;

    position: relative;
  
    display: inline;
    clear: both;

}

.move-up {
  position: relative;
  top: -.1em;
}

.links {
  color: steelblue;
  font-weight: 900;
  letter-spacing: normal;
  text-decoration: underline;
}

.links:hover {
  cursor: pointer;
}

.xwell {
  width: 110%;
}

section.vis-off {
  visibility: hidden;
}

section#customMap {
    height: 420px;
    border-left: 1px solid #626f64;
    border-right: 1px solid #637766;
    box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
    border: 2px solid #676f03;
    /* box-shadow: 0 0 50px black; */
    margin-top: 1.24em;
    margin-bottom: -2.7em;
    border: none;
    border-bottom: none;
    border-top: none;

    top: -4.6em;
    position: relative;
}

#wrapper {
    width: 64em;
    max-width: calc(100% - -.4em);
    margin: 0 auto;
    position: relative;
    top: -10em;
    background: radial-gradient(#f1f1f1,#fdfdfd,#f1f1f1);
    box-shadow: 0 0 40px black;
    border: 4px double #444444;
    min-height: 760px;
    border-right: none;
    border-left: none;
    border-radius: .5em;
}

.butane {
  position: relative;
  top: 3em;
}
.row.butane {
    /* border: 2px solid red; */
    margin-left: .01em;
    margin-bottom: .1em;
    margin-top: -.5em;
    position: relative;
    top: .002em;
    background: radial-gradient(#e4e2cf,#fefff4);
    border-bottom: none;
    border-top: none;
    box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129;
}

.row.butane {
    padding-top: 3.15em;
    padding-right: .5em;
}




.angular-form {
  background: white;
  padding: 1em 2em 1em 2em;
  box-shadow: 0 0 30px #3c3c3c, 0 0 0 1px #b7b3a9, inset 0 0 200px #cecece;
  text-align: left;
  width: 50%;
  margin-left: 25%;
  /* margin-right: auto; */
}


.text-small-custom {
  font-size: .8em;
  font-weight: 500;
  line-height: 14px;
  position: absolute;
  background: pink;
  width: 200px;
}

.hemp{
  position: absolute;
  left: -30%;
  background: green;
  width: 250px;
  height: 50px;
}

.realign {
  position: relative;
  left: -8em;
}

input#subject {
    background: rgba(255, 255, 255, 0.075);
    border: 1px solid #6d6d6d;
    height: 44px;
    box-shadow: none;
}