@media (min-width: 1001px) {
	.nav-tabs > li > a {
	    margin-right: 2px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    color: #3a421b;
	    letter-spacing: .1pc;
	    font-weight: 900;
	    text-shadow: none;
	    border-radius: 4px 4px 0 0;
	    font-size: .6em;
	}

	
	
	section#first {
	    height: 870px;
	}

	main#main-page {
	    position: relative;
	    top: -3.4em;
	    margin-left: .3em;
	    background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
	    outline: 1px solid #a5a5a5;
	    box-shadow: 0 0 5px #848484;
	    background: silver;
	    background: radial-gradient(#ebf0ff,#bedbf9,#88a6b9,#9fc3d0);
	    border: none;
	    <: 1px
	    solid black;
	}

	.row.butane {
	    margin-left: .01em;
	    margin-bottom: .1em;
	    margin-top: .05em;
	    top: .002em;
	    padding-top: 3.15em;
	    padding-right: .5em;
	     /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	    box-shadow: inset 0 0 200px #ffffe8;
	    background: #fafbee;
	     /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	     /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	     /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	    border-bottom: 1px solid #6d6d66;
	}
}