@media (min-width: 1660px) {
	/*a.button.fit.small.fit-cx {
	    width: 12em;
	}*/

	li.right {
		position: relative;
		left: 2.25em;
	}

	.mission {
	    line-height: 28px;
	}

	#wrapper {
	    width: 74em;
	    max-width: calc(100% - .1em);
	    margin: 0 auto;
	    position: relative;
	    top: -10em;
	    background: radial-gradient(#f1f1f1,#fdfdfd,#f1f1f1);
	    box-shadow: 0 0 40px black;
	    /* padding-left: .1em; */
	    border: 4px double #444444;
	}


	#header p {
	    font-size: .91em;
	    letter-spacing: -0.025em;
	    color: #525252;
	}

	.nav-tabs > li > a {
	    margin-right: 2px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    color: gray;
	    border-radius: 4px 4px 0 0;
	    font-size: .65em;
	}

	#footer > * {
	    width: calc(50% - 2em);
	    margin-left: 2em;
	    font-size: .7em;
	}
	
/*
	a.button.special.fit.small.fit-cx {
	    width: 12em;
	}*/
}

@media (min-width: 1680px) {
	
	section#first {
	    height: 780px;
	}

	section#rcMap {
	    height: 400px;
	    width: 100%;
	    border: 1px solid #b5b5b5;
	    margin-top: .62em;
	    margin-bottom: 3em;
	    box-shadow: 0 0 1px #c1c1c1;
	    border: 1px solid #bbbaba;
	    box-shadow: 0 0 1px #ececec;
	    border: 1px solid #cecece;
	}

	ul.actions.fit.small {
	    margin-left: -4em;
	    width: calc(100% + 5em);
	    margin-top: -1.64em;
	}

	table td {
	    padding: 1.7em .3em .75em 1.3em;
	    border: none;
	    /* font-weight: 300; */
	    line-height: 12px;
	    font-size: .75em;
	}
	.legend-table {
	    width: 17.5em;
	    font-size: .65em;
	}
	section#queryForm {
	    position: relative;
	    top: -5em;
	    left: -1.75em;
	    height: 3em;
	}
}