@media (min-width: 1001px) {
	.nav-tabs > li > a {
	    margin-right: 2px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    color: gray;
	    border-radius: 4px 4px 0 0;
	    font-size: .8em;
	    font-weight: 500;
	}


}