@media (max-width: 999px) {
	.nav-tabs > li > a {
	    margin-right: 2px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    color: #474a26;
	    border-radius: 4px 4px 0 0;
	    font-size: .53em;
	    font-weight: 800;
	    margin: 0 .1em 0 .1em;
	}
	section#queryForm {
	    position: relative;
	    top: .25em;
	    left: -3em;
	    height: 3em;
	    display: initial;
	    top: -10.3em;
	}
/*}
*/



/*@media (max-width: 990px) {*/
	ul.actions.fit.small {
	    margin-left: -0.5em;
	    width: calc(100% + -12.5em);
	    min-width: 250px;
	    margin-top: -1.4em;
	}





	ul.actions.fit.small {
	    margin-left: .01em;
	    width: calc(100% + -18.5em);
	    min-width: 150px;
	    margin-top: -1.4em;
	    position: relative;
	    top: -.5em;
	}

/*	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    top: -6.251em;
	    overflow-x: hidden;
	    left: 11.5em;
	    overflow-y: hidden;
	    height: 8em;
	}*/
	table td {
	    padding: .5em .39em .25em .1em;
	    border: none;
	    /* font-weight: 300; */
	    line-height: 12px;
	    font-size: .85em;
	}
	
	.legend-table {
		width: 21em;
		font-size: .6em;
		padding-right: 2em;
		line-height: 10px;
		padding-left: 1em;
		overflow-x: hidden;
		border-right: 1px solid gray;
		text-align: center;
	}

	section#customMap {
		height: 340px;
		border-left: 1px solid #626f64;
		border-right: 1px solid #637766;
		box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
		border: 2px solid #676f03;
		/* box-shadow: 0 0 50px black; */
		margin-top: 2.84em;
		margin-bottom: -2.7em;
		border: none;
		border-bottom: .5px solid #423906;
		border-top: 1.5px solid #5d5b51;
	}

	#sw {
	    display: none;
	    position: absolute;
	    left: 81.35%;
	    height: 336px;
	    width: 8.5em;
	    background: radial-gradient(#e1ecf5,#e4eef1,#f0fbff);
	    clear: both;
	    border: 1px solid #a9a9ad;
	    box-shadow: 0 0 5px;
	    border-left: .2em solid gray;
	    border-top: 28px solid #c0d8dc;
	    box-shadow: 0 0 0 1px #718887, 0 0 10px black;
	    border-left: .2em solid gray;
	    /* top: 118px; */
	    border-left: 1px solid #070a0a;
	    border-left: 4px solid #c0d8dc;
	    border-right: 4px solid #c0d8dc;
	    border-bottom: 28px solid #c0d8dc;
	    top: 87px;
	    margin-left: 0;
	    /* box-shadow: 0 0 0 3px gray; */
	    padding: 0 0 2em 0;
	}

	#footer > * {
	    width: calc(50% - 2em);
	    margin-left: 12em;
	    font-size: .8em;
	}

	#winCtrl {
	    display: inline;
	    z-index: 99999;
	    position: relative;
	    top: -.24em;
	    color: #443101;
	    left: 4.2em;
	}

	section#first {
	    height: 824px;
	}

	#main .button.special {
	    background-color: #a3deff;
	    color: #296e94 !important;
	    box-shadow: 0 0 0 1px #67b2ff, 2px 2px 2px black, 3px 3px 3px #805f0c;
	    height: 24px;
	    width: 115px;
	    text-shadow: none;
	    box-shadow: 0 0 0 1px #5cf0ff, 1px 1px 1px 1px darkgrey;
	    border-radius: 12px;
	    border: 1px solid #8be3ff;
	}

	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	    background-color: #f5f5f5;
	    box-shadow: 0 0 0 2px #e9fff9, 2px 2px 2px #3c3b3b, 2px 2px 2px #805f0c;
	    color: #000000 !important;
	    font-weight: 400;
	    letter-spacing: .1em;
	    border-radius: .81em;
	    width: 115px;
	    border-radius: 12px;
	    text-shadow: 0 0 4px #a2a6af;
	    padding-top: .14em;
	    height: 24px;
	    box-shadow: 0 0 0 1px #e9fff9, 2px 2px 2px black, 3px 3px 3px #805f0c;
	}

	.tbody-legend {
	    padding-left: .4em;
	    position: relative;
	    background: #fdffec;
	    left: 15em;
	    top: -14em;
	    border: 1px solid #9e9e9e;
	    outline: none;
	    margin-top: -4em;
	}

	ul.actions.fit.small li {
		padding: 0 0 0 .7em;
		width: 140px;
		font-size: .75em;
	}

	.row.butane {
		/* border: 2px solid red; */
		margin-left: .01em;
		margin-bottom: .1em;
		margin-top: -.5em;
		height: 11.5em;
		position: relative;
		top: .002em;
		background: radial-gradient(#e4e2cf,#848886);
		border-bottom: none;
		border-top: none;
		box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129;
		box-shadow: inset 0 0 200px #50502b;
		box-shadow: inset 0 0 200px #ffffe6;
		background: #fdffe8;
		border-bottom: 1px solid #6d6d66;
	}

	#footer .copyright {
	    width: 100%;
	    margin: 7.5em 0 -3.5em 0;
	    font-size: 0.8em;
	    text-align: center;
	}

	ul.nav.nav-tabs {
	    position: relative;
	    top: -12em;
	}

	.mission {
	    line-height: 18px;
	}
}





@media (max-width: 980px) {
	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    top: -6.251em;
	    overflow-x: hidden;
	    left: 14.95em;
	    overflow-y: hidden;
	    height: 8.8em;
	}
}


@media (min-width: 981px) {
	
	.nav-tabs {
	    border: 1px solid #7c847b;
	    border-radius: 1.3em;
	    box-shadow: inset 0 0 0 300px #f5ffe5, 0 0 0 2px #c7cec7;
	    opacity: .9;
	    padding: .5em .125em .5em 3.5em;
	    position: relative;
	    width: 104%;
	    top: -10.83em;
	    left: -.5em;
	}
}

@media (max-width: 990px) {
	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    padding: 1.5em .83em 0 1.25em;
	    top: -6.2em;
	    border: none;
	    left: 15em;
	    background: none;
	    margin-top: -.25em;
	    margin-right: .25em;
	}

	.move-up {
	    position: relative;
	    top: -1.5em;
	}

	#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 24%;
    height: 30px;
    left: 69%;
    top: .6em;
}


}

@media (min-width: 991px) {
	.table-wrapper {
	    -webkit-overflow-scrolling: touch;
	    position: relative;
	    overflow-x: auto;
	    padding: 1.5em .83em 0 1.25em;
	    top: -1.62em;
	    border: none;
	    left: -1em;
	    background: none;
	    margin-top: -1.25em;
	    margin-right: .25em;
	}
}