@media (max-width: 1000px) {
	.nav-tabs > li > a {
	    margin-right: 2px;
	    line-height: 1.42857143;
	    border: 1px solid transparent;
	    color: gray;
	    border-radius: 4px 4px 0 0;
	    font-size: .65em;
	    font-weight: 500;
	    margin: 0 -.75em 0 -.75em;
	}
	section#queryForm {
	    position: relative;
	    top: .25em;
	    left: .5em;
	    height: 3em;
	}
}