section.meta-w-form {
    background: #464646;
    left: -2.55em;
    padding: 1em .1em 1em 4em;
    position: absolute;
    height: 8.1em;
    top: -2em;
    border: 1px solid #1f1703;
    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a;
    width: 232%;
}