@media (max-width: 768px) {
	a.button.fit.small.fit-cx {
	    width: 11.5em;
	    margin-left: 0;
	    padding-right: 2em;
	}

	#header {
	    padding: 1.8em 2em 0.1em 2em;
	}


	section.one-half.btn-wrapper {
	    position: relative;
	    width: 18em;
	    margin: 0 auto 0 auto;
	    padding-top: .75em;
	    /*border: 1px solid black;*/
	}
	.nav-tabs {
	    border-bottom: 1px solid #ddd;
	    display: none;
	}
	/*header#header {
		display: none;
	}*/
	#wrapper {
	    max-width: calc(100% - -1em);
	    margin: 0 auto;
	    margin-left: -.5em;
	    position: relative;
	    top: -20em;
	    margin-bottom: -19.5em;
	    /* height: 150em; */
	    padding-top: 0;
	    background: radial-gradient(#f7f7f7,#f5f5f5,#f1f1f1);
	    background: radial-gradient(#e4e2cf,#c0ccc6);
	    box-shadow: inset 0 0 250px #e4e4e4;
	    background: transparent;
	    box-shadow: none;
	    border: none;
	}
	.table-wrapper {
	
	    display: none;
	}
	section#queryForm {
	    
	    display: none;
	}
	section#rcMap {
	    height: 500px;
	    width: 100%;
	    border: 1px solid #b5b5b5;
	    margin-top: 3.52em;
	    margin-bottom: 3em;
	    box-shadow: 0 0 2px #464646;
	    border: 1px solid #bbbaba;
	    /* box-shadow: 0 0 1px #ececec; */
	    border: 1px solid #989898;
	}
	section#first {
	    height: 700px;
	}

	#footer > * {
	    width: 75%;
	    margin-left: 3em;
	    margin-bottom: 3em;
	}

	#main > .main {
	    padding: 3em .2em 1em .2em;
	}
	.container {
	    padding-right: 10px;
	    padding-left: 10px;
	    margin-right: auto;
	    margin-left: auto;
	}

	ul.actions.fit.small {
	    margin-left: -0.5em;
	    width: calc(100% + -29.5em);
	    min-width: 150px;
	    position: relative;
	    margin-top: -1.04em;
	    /* margin-left: 1em; */
	    left: 28%;
	    top: -.2em;
	}

	#main > .main:first-child {
	    border-top: 0;
	    border-top: 3px double;
	    background: #f7f7f7;
	    border-bottom: 3px double;
	    background: #ffffff;
	    background: transparent;
	    border: 1px solid #dadada;
	    box-shadow: 0 0 3px #c7c7c7;
	    border: none;
	    box-shadow: none;
	}
	#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
	    background-color: rgba(249, 249, 249, 1);
	    box-shadow: inset 0 0 0 1px #cacaca;
	    color: #636363 !important;
	    font-weight: 400;
	}

	#main {
	    background-color: #635f5f;
	    color: #636363;
	    border-radius: 0.25em;
	    background: transparent;
	    border: none;
	    box-shadow: none;
	}

	.navbar-brand {
	    float: left;
	    height: 50px;
	    margin-left: 1.5em;
	    padding: 15px 15px;
	    margin-top: .25em;
	    color: white;
	    font-size: 18px;
	    line-height: 20px;
	}

	section.contact-footer-section {
	    position: relative;
	    left: -2.5em;
	}

	.row.butane {
		/* border: 2px solid red; */
		margin-left: .01em;
		margin-bottom: .1em;
		margin-top: -.5em;
		height: 11.5em;
		position: relative;
		top: .002em;
		background: transparent;
		border-bottom: none;
		border-top: none;
		/* box-shadow: 0 0 1px #909090, 0 0 1px #1a222d, 0 0 1px #a0a0a0, 0 0 1px #313129; */
		box-shadow: none;
	}
	#pac-input {
		background-color: #fff;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
		position: relative;
		margin-left: 12px;
		padding: 0 11px 0 13px;
		text-overflow: ellipsis;
		width: 24%;
		height: 30px;
		left: 71%;
		top: -8.7em;
	}

	main#main-page {
		position: absolute;
		top: 12em;
		width: 100%;
		margin-left: -2em;
		background: radial-gradient(#929292,#868484,#9e9677,#a09a80,#929187);
		outline: 1px solid #656161;
		box-shadow: inset 0 0 400px #afb7b9;
		background: silver;
		background: radial-gradient(#ebf0ff,#bedbf9,#88a6b9,#536971);
		background: none;
		box-shadow: none;
		outline: none;
		border: none;
	}

	section#customMap {
		height: 600px;
		border-left: 1px solid #626f64;
		border-right: 1px solid #637766;
		box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
		border: 2px solid #676f03;
		box-shadow: none;
		margin-top: -1.5em;
		margin-bottom: 2.7em;
		width: 100.75%;
		margin-left: -.3em;
		border: none;
	}
	#header p {
		color: #4a4a4a;
	}

	#header p.mission {
		color: black;
	}

	#header p.copyright {
		color: #3a3838;
		position: relative;
		left: -1em;
		top: -1em;
	}

	h2, h3, h4, h5, h6 {
		color: #4c4b4b;
		font-weight: 600;
	}
	h1 {
		color: white;
	}

	.navbar-header {
	    padding-top: 1.35em;
	}

		#sw {
	    display: none;
	    position: fixed;
	    left: -.01%;
	    top: -1em;
	    width: 100%;
	    height: 1400px;
	    background: radial-gradient(#e1ecf5,#e4eef1,#f0fbff);
	    clear: both;
	    border: 1px solid #a9a9ad;
	    box-shadow: 0 0 5px;
	    border-left: .2em solid gray;
	    border-top: 2px solid #c0d8dc;
	    box-shadow: 0 0 0 1px #9bbbba, 0 0 0 2px #bbe4e4, 0 0 10px black;
	    border-left: .2em solid gray;
	    /* top: 118px; */
	    border-left: 1px solid #070a0a;
	    border-left: 2px solid #c0d8dc;
	    border-right: 2px solid #c0d8dc;
	    border-bottom: 2px solid #c0d8dc;
	    top: .015em;
	    margin-left: 0;
	    /* box-shadow: 0 0 0 3px gray; */
	    padding: 0 0 2em 0;
	    z-index: 99999;
	}

	#winCtrl {
		display: inline;
		z-index: 99999;
		/* position: relative; */
		/* top: .1em; */
		margin-top: .5em;
		float: right;
		padding-top: .05em;
		padding-left: .2em;
		margin-right: 4.5em;
		color: #443101;
		border-radius: .75em;
		box-shadow: 1px 1px 1px black;
		height: 1.5em;
		width: 1.5em;
	}

	input#pac-input {
	    display: none;
	}

	.glyphicon {
	    /* position: relative; */
	    /* top: -20px; */
	    /* left: 16em; */
	    display: inline-block;
	    font-family: 'Glyphicons Halflings';
	    font-style: normal;
	    font-weight: normal;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}

	div  {
	    text-align: left;
	}

	#main .button.special, #main button.special, #main input[type=button].special, #main input[type=reset].special, #main input[type=submit].special {
	    background-color: #a9f6fb;
	    color: #2d787d!important;
	    text-shadow: 0 0 12px #aeeeff;
	    box-shadow: 0 0 0 2px #55ab32,1px 1px 1px #3c3b3b,1px 1px 1px #675a3a;
	    border-radius: 12px;
	    border: 1px solid #bdf8ff;
	    padding-top: .5em;
	    margin: 0 auto;
	    /* font-size: 2.0rem; */
	    /* padding: 1.25rem 2.5rem; */
	    display: block;
	    background-color: #8ce4ff;
	    border: 1px solid transparent;
	    color: #ffffff;
	    font-weight: 300;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	    font-weight: 600;
	}

	.f-class {
		margin-left: 2em;
	}
	section#sw {
	    padding-left: .5em;
	    margin: 2em 0 2em 3em;
	    width: 84%;
	}

	section.meta-w-form {
	    background: #464646;
	    left: -2em;
	    padding: 1em .1em 1em .14em;
	    position: absolute;
	    height: 48.5em;
	    top: -6.91em;
	    border: 1px solid #1f1703;
	    box-shadow: inset 0 0 50px black, 0 0 0 1px #5a5a5a, 0 0 20px black;
	    width: 50em;
	    outline: none;
	    border-top: .125em solid #272204;
	    /* outline: 2px solid #4e3a07; */
	}

	.button {
		/* background-color: #f5f5f5; */
		/* box-shadow: 0 0 0 2px #e9fff9, 2px 2px 2px #3c3b3b, 2px 2px 2px #805f0c; */
		/* color: #000000 !important; */
		/* font-weight: 400; */
		/* letter-spacing: .1em; */
		/* border-radius: .81em; */
		width: 120px;
		/* border-radius: 12px; */
		/* text-shadow: 0 0 4px #a2a6af; */
		padding-top: .6em;
		/* height: 24px; */
		/* box-shadow: 0 0 0 1px #e9fff9, 2px 2px 2px black, 3px 3px 3px #805f0c; */
	}

	body {
	    box-shadow: inset 0 0 300px #232323, inset 0 0 300px black, 0 0 300px #2f3535;
	
	}

	div#pseudoWrapWindow {
	    background: black;
	    opacity: .65;
	    position: absolute;
	    height: 100em;
	    width: 110%;
	    left: -1em;
	    top: -32em;
	}
}	

@media (max-width: 480px) {
	ul.actions.fit.small {
	    margin-left: -0.5em;
	    width: calc(100% + -28em);
	    min-width: 150px;
	    position: relative;
	    margin-top: -1.4em;
	    /* margin-left: 1em; */
	    left: 10.5%;
	    top: .7em;
	}
}


@media (min-width: 769px) {
	.hide-guest-menu {
		display: none;
	}

	#wrapBg {background: transparent;}
}