@media (max-width: 768px) {
	a.button.fit.small.fit-cx {
	    width: 11.5em;
	    margin-left: 0;
	    padding-right: 2em;
	}
	section.one-half.btn-wrapper {
	    position: relative;
	    width: 18em;
	    margin: 0 auto 0 auto;
	    padding-top: .75em;
	    /*border: 1px solid black;*/
	}
	.nav-tabs {
	    border-bottom: 1px solid #ddd;
	    display: none;
	}
	/*header#header {
		display: none;
	}*/
	#wrapper {
	    max-width: calc(100% - .4em);
	    margin: 0 auto;
	    position: relative;
	    top: -10em;
	    background: radial-gradient(#bbbbbb,#e8e8e8,#e2e2e2);
	    box-shadow: 0 0 40px black;
	}
}	