@media (max-width: 360px) {
	.codrops-top {
	    background-image: url('/modules/core/client/img/ps_neutral.png');
	    top: -1.15em;
	}
	.navbar {
	    top: 0;
	    top: -.2em;
	}
	#header h1{
		top: -9.25em;
		height: 9em;
	}
	#header h1 {
	    top: -9.25em;
	    height: 9em;
	    line-height: 13px;
	    padding-top: .2em;
	}
	#header p {
	    color: #4a4a4a;
	    position: relative;
	    top: -15.4em;
	    left: 3.9em;
	    font-size: .7em;
	}
	div#buttons-wrapper {
	    top: 1.5em;
	    left: 2.05em;
	    width: 22em;
	}
	section#customMap {
	    margin-top: 10.05em;
	}

	div#mobServiceOverlay {

	    top: 38.2em;

	    /* border-top: 3px double #607D8B; */
	}
	md-card#overlay-data-window {
	    width: 70%;
	    height: 6em;
	    border: 1px solid #BDBDBD;
	    padding: 0 .1em .1em .1em;
	    margin: .01em auto;
	}
	#soTitle {
	    font-size: 1.1em;
	    font-weight: 700;
	    margin-top: -.4em;
	    color: #000000;
	    opacity: .87;
	}
}