/*.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}*/

/* The finishing CSS styles for the enter animation */
/*.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}

.fade.ng-leave {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}*/

.highlight {
  transition:0.5s linear all;
}
.highlight.on-add {
  background:white;
}
.highlight.on {
  background:yellow;
}
.highlight.on-remove {
  background:black;
}

.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

.my-animation.ng-enter {
  /* standard transition code */
  transition: 1s linear all;
  opacity:0;
}
.my-animation.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.1s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  transition-duration: 0s;
}
.my-animation.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}


.zipper.ng-animate {
  transition:0.5s linear all;
}
.zipper.ng-enter {
  opacity:0;
}
.zipper.ng-enter.ng-enter-active {
  opacity:1;
}
.zipper.ng-leave {
  opacity:1;
}
.zipper.ng-leave.ng-leave-active {
  opacity:0;
}


/*
.box {
  margin: 50px auto;
  background: #5FCF80;
  width: 150px;
  height: 150px;
}
.box:hover {
  transform: rotate(360deg);
  background: #9351A6;
  border-radius: 50%;
}
.rotate {
  transition: all 0.5s ease-in-out;
}
.rotate:hover {
  transition: all 1s ease-in-out;
}
*/

input[type='checkbox'] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 20px;
}

.box {
  margin: 20px auto;
  background: #5FCF80;
  width: 150px;
  height: 150px;
}

.circle {
  -webkit-transform: rotate(360deg);
  background: #9351A6;
  border-radius: 50%;
  margin: 20px auto;
  width: 150px;
  height: 150px;
}

.rotate {
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}











@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}





































.fade.ng-enter {
  animation: 2s appear;
}

.fade.ng-leave {
  animation: 1s disappear;
}










.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 1550ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 1550ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 1550ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 1550ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 1550ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
} 
 
.animate-enter {
    left: -100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
 
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: 100%;
}



.slide-pop {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-pop.ng-enter,
.slide-pop.ng-leave {
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}
.slide-pop.ng-enter {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}
.slide-pop.ng-enter-active {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.slide-pop.ng-leave {
	left: 0;
	opacity: .5;
}
.slide-pop.ng-leave-active {
	left: -100%;
	opacity: 0;
}

.reverse .page.slide-pop.ng-enter {
	opacity: .5;
	left: -100%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.reverse .page.slide-pop.ng-enter-active {
	opacity: 1;
	left: 0;
}
.reverse .page.slide-pop.ng-leave {
	opacity: .5;
	-webkit-transform: scale(1);
	transform: scale(1);
	left: 0;
	right: 0;
}
.reverse .page.slide-pop.ng-leave-active {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}




















/* Pop in/out animation */
.content .page.pop {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
}
.content .page.pop.ng-enter,
.content .page.pop.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.content .page.pop.ng-enter {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.content .page.pop.ng-enter-active,
.content .page.pop.ng-leave,
.content .page.pop.ng-leave-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.content .page.pop.ng-leave-active {}


/* Fade in/out */
.content .page.fade {
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.content .page.fade.ng-enter,
.content .page.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.content .page.fade.ng-enter {
    opacity: 0;
}
.content .page.fade.ng-enter-active {
    opacity: 1;
}
.content .page.fade.ng-leave {
    opacity: 1;
}
.content .page.fade.ng-leave-active {
    opacity: 0;
}


/* Flip animation */
.content {
	-webkit-perspective: 600px;
	perspective: 600px;
}
.content .page.flip {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.content .page.flip.ng-enter {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
	z-index: 800;
}
.content .page.flip.ng-enter-active {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	z-index: 900;
}
.content .page.flip.ng-leave {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	z-index: 900;
}
.content .page.flip.ng-leave-active {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	z-index: 800;
}


/* Rotate animation */
.content .page.rotate {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.content .page.ng-leave.rotate {
	-webkit-animation-name: rotate-leave;
	animation-name: rotate-leave;
}
.content .page.ng-enter.rotate {
	-webkit-animation-name: rotate-enter;
	animation-name: rotate-enter;
}
@-webkit-keyframes rotate-leave {
	0% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
	100% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
		opacity: 0;
	}
}
@-webkit-keyframes rotate-enter {
	0% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
		opacity: 0;
	}
	100% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 1;
	}
}

@keyframes rotate-leave {
	0% {
		transform-origin: center center;
		transform: rotate(0);
		opacity: 1;
	}
	100% {
		transform-origin: center center;
		transform: rotate(-180deg);
		opacity: 0;
	}
}
@keyframes rotate-enter {
	0% {
		transform-origin: center center;
		transform: rotate(-180deg);
		opacity: 0;
	}
	100% {
		transform-origin: center center;
		transform: rotate(-360deg);
		opacity: 1;
	}
}



/* slide-pop screen animation */
.content .page.slide-pop {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.content .page.slide-pop.ng-enter,
.content .page.slide-pop.ng-leave {
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}
.content .page.slide-pop.ng-enter {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}
.content .page.slide-pop.ng-enter-active {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.content .page.slide-pop.ng-leave {
	left: 0;
	opacity: .5;
}
.content .page.slide-pop.ng-leave-active {
	left: -100%;
	opacity: 0;
}

.reverse .page.slide-pop.ng-enter {
	opacity: .5;
	left: -100%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.reverse .page.slide-pop.ng-enter-active {
	opacity: 1;
	left: 0;
}
.reverse .page.slide-pop.ng-leave {
	opacity: .5;
	-webkit-transform: scale(1);
	transform: scale(1);
	left: 0;
	right: 0;
}
.reverse .page.slide-pop.ng-leave-active {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}