@media (min-width: 769px) {
	.nav > li > a:hover, .nav > li > a:focus {
    text-shadow: 0 0 1px #151515;
    text-shadow: 0 0 4px #a59a9a;
    color: #000000;
}
	.nav-tabs > li > a {
	    color: #616161;
	    text-decoration: none;
	    color: black;
    	opacity: .59;
	    /*margin-top: -.735em;*/
	}
	section#customMap {
		box-shadow:none;
	}
	main#main-page {
		background: none;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	    color: #212121;
	    opacity: .7;
    	color: black;
	    text-decoration: none;
	    letter-spacing: .125pc;
	}
	.navbar-inverse .navbar-brand {
	    color: #212121;
	    text-shadow: none;
	    letter-spacing: .15pc;
	    font-size: 1.1em;
	        color: #3c3c3c;
	    text-decoration: none;
	        opacity: .64;
    color: black;
	    font-family: "Source Sans Pro", Helvetica, sans-serif;
	}
	.nav-tabs {
	    background: #E0E0E0;
	    background: #e1e5e6;
	    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
	    height: 2.2em;
	    box-shadow: none;
	    border: 1px solid #a5a5a5;
	    border-radius: 2px;
	    border-left: none;
	    border-right: none;
	    border-bottom: 3px double #BBBFC0;
	    border: 1px solid #a5a5a5;
	    border: none;
	    background: #E0E0E0;
	        background: #F5F5F5;
    	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
		    box-shadow: 0 1px 3px 0 rgba(0,0,0,.06),0 1px 1px 0 rgba(0,0,0,.06),0 2px 1px -1px rgba(0,0,0,.16);
		        background: linear-gradient(to left, #ececec,#f3f3f3, #ececec);
	}
	section.meta-w-form {
    background: #EEEEEE;
    background: #FBFBFB;
    border: 3px double #dadada;
    border: 1px solid #dadada;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    /*box-shadow: none;*/
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 4px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    background: linear-gradient(to left, #ececec , #f5f5f5,#f3f3f3, #f5f5f5, #ececec);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 4px 5px 0 rgba(0,0,0,.07),0 1px 2px 0 rgba(0,0,0,.06);
}
#header h1 {
    background: radial-gradient(#ececec, #e8e9ea, #f4f9fb );
    letter-spacing: .125pc;
    /* height: 8.5em; */
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    border-bottom: 3px double #e1e7e8;
    border-bottom: 3px double #ccc;
    border-bottom: 1px solid #ccc;
    background: #F5F5F5;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    box-shadow: 0 10px 13px -6px rgba(0,0,0,.2),0 21px 33px 3px rgba(0,0,0,.14),0 8px 40px 7px rgba(0,0,0,.12);
    box-shadow: 0 1px 5px 0 rgba(99, 99, 99, 0.2),0 2px 2px 0 rgba(86, 86, 86, 0.14),0 3px 1px -2px rgba(121, 121, 121, 0.12);
    box-shadow: none;
    background: background: #e1e5e6;
    background: #eceeef;
}
button#e2, button#e1, button#e3, button#e4 {
    border: 1px solid lightgray;
    min-height: 28px;
    border: 1px solid #d6d6d6;
    min-height: 28px;
    width: 150px;
    font-size: 10.5px;
    margin: 2px 8px;
    background: #f5f5f5;
}
		
	.table-wrapper{
		background: #F5F5F5;
	}
	.row.butane {
/*	    background: #EEEEEE;
	    background: #F5F5F5;*/
	    /*background: #ECECEC;*/
	    /*box-shadow: none;*/
/*	    border-bottom: 3px double #c7c7c7;
	    border: none;
	        border-bottom: 1px solid #ccc;
	        box-shadow: 0 1px 2px -1px rgba(0,0,0,.2),0 1px 2px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.32);
	        background: #f3f3f3;
    box-shadow: 0 0 0 1px #e6e6e6;
        box-shadow: 0 1px 2px -1px rgba(148, 148, 148, 0.2),0 1px 2px 0 rgba(158, 158, 158, 0.14),0 1px 3px 0 rgba(0,0,0,.32);*/
	    /*border-top: 1px solid #dcdcdc;*/
	}

	md-card#hacksalot {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    background: transparent;
    box-shadow: none;
    border: none;
}
	md-card md-card-header#defaultGray {
	    background: #F5F5F5;
	  	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);

	}
	.navbar {
		box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
	    background: #E0E0E0;
	    /*background: #9E9E9E;*/
    	box-shadow: 0 1px 5px 0 rgba(99, 99, 99, 0.2),0 2px 2px 0 rgba(86, 86, 86, 0.14),0 3px 1px -2px rgba(121, 121, 121, 0.12);
    	    box-shadow: 0 1px 3px 0 rgba(162, 162, 162, 0.1),0 1px 1px 0 rgba(0,0,0,.1),0 2px 1px -1px rgba(0,0,0,.1);
	}
	html {
		background: #DBDBDB;
	}
	.md-button {
		background: #FFFFFF;
	}


	.codrops-top {
		background-image: url('/modules/core/client/img/ps_neutral.png');
	}

	#wrapper {
	    box-shadow: 0 10px 13px -6px rgba(0,0,0,.2),0 21px 33px 3px rgba(0,0,0,.14),0 8px 40px 7px rgba(0,0,0,.12);
	    background: #FBFBFB;
	    box-shadow: 0 1px 5px 0 rgba(99, 99, 99, 0.2),0 2px 2px 0 rgba(86, 86, 86, 0.14),0 3px 1px -2px rgba(121, 121, 121, 0.12);
	    /*padding-top: 9.5em;*/
	    border: 4px double #ccc;
	}





}


div#info-wrapper {
    background-image: url('/modules/core/client/img/ps_neutral.png');
    background: none;
    border: none;
    box-shadow: none;
}




.codrops-top {
    background: #fff;
    background: rgba(197, 197, 197, 0.487);
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    height: 7px;
    font-size: 0.6em;
    box-shadow: none;
    line-height: 2.2;
    z-index: 50000;
    top: 0;
    top: -.5em;
    left: 0;
}










.table-wrapper {
	border-radius: 2px;
}

#buttons-wrapper ul li button.special {
    background: #424242;
    border: 1px solid #212121;
}

#buttons-wrapper ul li button.special span.ng-scope {
  color: #EEEEEE;
}

#ispMdContent md-list md-list-item button.md-no-style.md-button.md-ink-ripple {
    box-shadow: none;
}


md-divider#md-divider {
	width: 50%;
}






button.md-button.new-service-button span.ng-scope {
    position: relative;
    top: -.01em;
}




















@media (max-width: 768px) {
	.codrops-top {
	    background: #E0E0E0;
	    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 1px 0 rgba(0,0,0,.007),0 2px 1px -1px rgba(0,0,0,.06);
	}
	.codrops-top {
		background-image: url('/modules/core/client/img/ps_neutral.png');
	}
	button#e2, button#e1, button#e3, button#e4 {
	    background: #FAFAFA;
	}
	.navbar-inverse .navbar-toggle {
	    border-color: #757575;
	}
	.navbar-inverse .navbar-brand {
	    color: #212121;
	    font-size: 1em;
	    text-decoration: none;
	     letter-spacing: .125pc; 
	    font-family: "Source Sans Pro", Helvetica, sans-serif;
	}
	.navbar {
			background: #E0E0E0;
		    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
	}
	#header p {
		color: #424242;
	}
	#header h1 {
		box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		letter-spacing:.08pc;
		color: #212121;
		border: 3px double #BDBDBD;
	}
	section#customMap {
	    border: 0;
	    box-shadow: 0 8px 9px -5px rgba(0,0,0,.2),0 15px 22px 2px rgba(0,0,0,.14),0 6px 28px 5px rgba(0,0,0,.12);
	    border-radius: 2px;
	    border-bottom: 3px double #ccc;
	    border: 1px solid #ccc;
	}
	.navbar-inverse .navbar-toggle .icon-bar {
	    background-color: #212121;
	}

	.navbar-inverse .navbar-nav > li > a {
	    color: white;
	    font-size: .7em;
	    color: black;
	    opacity: .7;
	    text-decoration: none;
	    text-shadow: 1px 1px 2px black;
	    text-shadow: none;
	    font-weight: 600;
	    text-align: justify;
	    font-size: smaller;
	}

}


div#mobServiceOverlay {
	border: 1px solid #ccc;
}

#header h1 {
	border-top: none;
	border-bottom: 1px solid #ccc;
}



/*





div#mobServiceOverlay {
	    background: none;
    box-shadow: none;
    border: none;
}


*/
section#customMap{
	    border-top: none;
	    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 1px 0 rgba(0,0,0,.32);
}
div.cest a {
    text-decoration: none;
    font-weight: 900;
    color: #2a94bf;
}

/*html, body {max-height: 1200px;}*/


div.cest {border: 3px double #E5E5E2;}