.navbar {
    -webkit-box-shadow: none;
    /* box-shadow: none; */
    border: none;
    font-size: 12px;
}
.navbar-inverse {
    background-color: #48382d;
    border-color: transparent;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
@media (min-width: 768px)
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px)
.navbar {
    border-radius: 0;
}
.navbar {
    min-height: 40px;
    margin-bottom: 0;
    border: 1px solid transparent;
    box-shadow: 0 0 15px #130909;
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #C04848 , #480048); /* Chrome 10-25, Safari 5.1-6 */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #343804;
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */ /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background: #81882a;
    border-bottom: none;
    /* background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png"); */ /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background: linear-gradient(to left, #2b2a0f ,#6b6d35, #fbffa3,#6b6d35, #2b2a0f);
    /* box-shadow: 0 0 15px #424242; */
}