.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}

div#zipSearchError {
    position: absolute;
    /* height: 7em; */
    width: 6em;
    border: 1px solid #9e9e9e;
    left: -5.2em;
    box-shadow: 0 0 1px black;
    background: #ffb9ad;
    top: -3.4em;
    display: none;
}

.make-vis {
	cursor: pointer;
	color: #e5f3ff;
	/* margin-left: 2em; */
	float: right;
	text-shadow: 1px 1px black;
	background: red;
	position: relative;
	top: -.5em;
	height: 16px;
	width: 16px;
	border-radius: 8px;
}


a.redirection {
    -moz-transition: color 0.2s ease, border-bottom 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom 0.2s ease;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    text-decoration: none;
    /* border-bottom: dotted 1px; */
    color: inherit;
    color: steelblue;
    cursor: pointer;
    font-weight: 300;
}

.confirmation-page {
    background: #fffef9;
    padding: 4em 8em 8em 10em;
    top: -1.5em;
    left: 15%;
    position: relative;
    width: 70%;
    border: 1px solid gray;
    /* box-shadow: inset 0 0 100px #d4d2d2, inset 0 0 400px #bfb8b8, inset 0 0 400px #fdfdff, inset 0 0 400px #e5f4ff, 0 0 0 1px black, 0 0 10px black; */
}