@media (max-width: 380px) {
	html, body {
	    max-width: 380px;
	    max-height: 960px;
	}
	body {
		box-shadow: inset 0 0 200px black;
	}
	body {
		box-shadow: inset 0 0 200px black;
	}
	#footer {

	    

	}
	#buttons-wrapper ul li button span.ng-scope {
	    position: relative;
	    top: -4.4em;
	}
	/*section.meta-w-form {
	    position: relative;
	    left: .225em;
	}*/
	#header h1 {
	    padding-top: .4em;
	    height: 8em;
	    left: -3.9em;
	    width: 25em;
	    letter-spacing: .9px;
	}
	#header p {
		position: relative;
    top: -8.6em;

    margin-left: .6em;

	}
	main#main-page {
		
	}
	section#customMap {
		    width: 109.5%;
	}
	ul.actions.fit.small {
	 left: 10.5%;
	}
	ul.actions.fit.small.lower-btns {
	    position: relative;
	    top: -3em;
	}
	ul.actions.fit.small li.realign {
	    position:relative;
	    left: -.75em;

	}
	div#buttons-wrapper {
	    top: .8em;
	    left: 2.475em;
	    width: 20.5em;
	}
	button#e2, button#e1, button#e3, button#e4 {
	    min-height: 26px;
	    padding-top: 0;
	    font-size: 8.5px;
	    width: 130px;
	    max-height: 32px;
	}
	ul#alt-buttons-bottom {
	    position: relative;
	    left: -2.4em;
	}
}