@media (max-width: 420px) {
	html, body {
	    max-width: 420px;
	    max-height: 960px;
	}
	body {
		box-shadow: inset 0 0 200px black;
	}
	#footer {

	    

	}
	ul#alt-buttons-bottom {

	    position: relative;
	    left: -1.2em;

	}
	button#e4, button#e3 {
    position: relative;
    top: -.8em;
}
	#header h1 {
		    margin-top: -2.1em;
		    padding-top: 1.1em;
		    border-radius: 4px;
	}
	#header p {
		top: -9.4em;
    margin-left: .6em;
	}
	main#main-page {
		
	}
	section#customMap {
	margin-top: 14.725em;
    /* margin-bottom: 2.7em; */
    width: 103.25%;
	}
	ul.actions.fit.small {
	left: 8%;
    margin-top: 1.5em;
	}
	div#buttons-wrapper {
	    top: 2.8em;
	    left: 3.2em;
	    width: 20.5em;
	}
}