@media (max-width: 460px) {
	html, body {
	    max-width: 460px;
	    max-height: 1024px;
	}
	body {
		box-shadow: inset 0 0 200px black;
	}
	#footer {

	    

	}
	#header h1 {
	
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		    width: 100.75%;
	}
	ul.actions.fit.small {
	 left: 12%;
	 margin-top:.5em;
	}
	div#buttons-wrapper {
    top: 2.8em;
    left: 3.15em;
}

	#buttons-wrapper ul li button span.ng-scope {

	    position: relative;
	    top: -.11em;
	}
}