@media (max-width: 414px) {
	html, body {
	    max-width: 414px;
	    max-height: 960px;
	}
	body {
		box-shadow: inset 0 0 200px black;
	}
	#footer {

	    

	}
	#header h1 {
	
	}
	#header p {
	
	}
	main#main-page {
		
	}
	section#customMap {
	width: 103.75%;
	}
	ul.actions.fit.small {
	 
	}
	div#buttons-wrapper {
    top: 2.7em;
    left: 2.95em;
    width: 20.5em;
}
}