@media (max-width: 440px) {
	section#customMap {
	    height: 399px;
	    border-left: 1px solid #626f64;
	    border-right: 1px solid #637766;
	    box-shadow: 0 1px 0px 0px #5c6116, 0 -1px 0px 0px #7e806f, 8px 0 10px -4px rgba(77, 87, 95, 0.6), -8px 0 10px -4px rgba(52, 58, 68, 0.7);
	    border: 2px solid #676f03;
	    box-shadow: 0 0 1px #c8d473, 0 0 10px black;
	    margin-top: 15.55em;
	    margin-bottom: 2.7em;
	    width: 106.25%;
	    padding-right: 8em;
	    margin-left: -.35em;
	    border: none;
	    border-top: 1px solid #2d2d00;
	    border: 1px solid #7b7b76;
	    border-radius: 8px;
	    border: none;
	    margin-top: 13.8em;
	    /*margin-bottom: 2.7em;*/
	    width: 103%;
	}
	body {
		box-shadow: inset 0 0 250px black;
	}
	main#main-page {
	    
	    margin-left: 0;

	}
	#header p {
	    top: -10em;
	    margin-left: 1.4em;
	}
	#header h1 {
	    left: -2.8em;
	}
	div#buttons-wrapper {
	    top: 1.8em;
	    left: 2.575em;
	}
	button#e2, button#e1, button#e3, button#e4 {
	    min-height: 32px;
	    padding-top: 0;
	    font-size: 10px;
	    width: 140px;
	    max-height: 32px;
	}
	div#buttons-wrapper {
	    top: 1.8em;
	    left: 3.5em;
	    width: 20.5em;
	}
}