@media (max-width: 580px) {
	html, body {
	    max-width: 580px;
	    max-height: 1024px;
	}
	body {
		box-shadow: inset 0 0 200px black;
	}
	#footer {

	    

	}
	#header h1 {
		    left: -1.75em;
		    left: -.1275em;
		    width: 27em;
	}
	#header p {
		margin-left: 1.5em;
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		    width: 99.75%;
	}
	ul.actions.fit.small {
	     left: 2.75%;
	}
	div#buttons-wrapper {
    top: 2.1em;
    left: 6.9em;
}
}