@media (max-width: 500px) {
	html, body {
	    max-width: 500px;
	    max-height: 1024px;
	}
	body {
		box-shadow: inset 0 0 200px black;
	}
	#footer {

	    

	}
	#header h1 {
		left: -1.45em;
		border-radius: 2px;
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		    width: 98.75%;
	}
	ul.actions.fit.small {
	     left: 15%;
	}
	div#buttons-wrapper {
    top: 3.1em;
    left: 4.5em;
}
}