@media (max-width: 560px) {
	html, body {
	    max-width: 560px;
	    max-height: 1024px;
	}
	body {

	}
	#footer {

	    

	}
	#header h1 {
		left: .4em;
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		    width: 96.5%;
	}
	ul.actions.fit.small {
	     left: .75%;
	}
}