@media (max-width: 540px) {
	html, body {
	    max-width: 540px;
	    max-height: 1024px;
	}
	body {
		box-shadow: inset 0 0 200px black;
	}
	#footer {

	    

	}
	#header h1 {
		    left: -.41em;
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		width: 101%;
	}
	ul.actions.fit.small {
	 left: 15%;
	}
	div#buttons-wrapper {
    top: 2.1em;
    left: 5.7em;
}
}