@media (max-width: 520px) {
	html, body {
	    max-width: 520px;
	    max-height: 1024px;
	}
	body {
		box-shadow: inset 0 0 200px black;
	}
	#footer {

	    

	}
	#header h1 {
		left: -.1em;
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		width: 101.5%;
	}
	ul.actions.fit.small {
	 	left: 13%;
	}	
	div#buttons-wrapper {
	    top: 2.1em;
	    left: 5em;
	}
	a#exit-service-overlay.fa-close {
	    left: 22.85em;
	}
}