@media (max-width: 540px) {
	html, body {
	    max-width: 540px;
	    max-height: 1024px;
	}
	body {

	}
	#footer {

	    

	}
	#header h1 {
		    left: -.41em;
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		width: 97.1%;
	}
	ul.actions.fit.small {
	 left: 15%;
	}
}