@media (max-width: 680px) {
	a#exit-service-overlay.fa-close {
    left: 31.35em;
}
	html, body {
	    max-width: 680px;
	    max-height: 1024px;
	}
	body {

	}
	#footer {

	    

	}
	#header h1 {
	
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		    width: 91%;

	}	
	ul.actions.fit.small {
	 left: 25%;
	}
	div#buttons-wrapper {
    /*top: 4.5em;*/
    left: 10.2em;
}
#header h1 {
    padding-top: .75em;
    left: -1.6em;
    width: 36em;
    margin: 1.1em auto 0 auto;
}
}