@media (max-width: 620px) {
	html, body {
	    max-width: 620px;
	    max-height: 1024px;
	}
	body {

	}
	a#exit-service-overlay.fa-close {
	    left: 28.35em;
	}
	#footer {

	    

	}
	div#buttons-wrapper {
    /* top: 3.5em; */
	    left: 7.5em;
	}
	#header h1 {
		width: 33em;
		    left: -1.2em;
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		width: 98%;
	}
	ul.actions.fit.small {
	     left: 12.7%;
	}
}