@media (max-width: 660px) {
	html, body {
	    max-width: 660px;
	    max-height: 1024px;
	}
	body {

	}
	#footer {

	    

	}
	#header h1 {
		left: -4.3em;
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
	
	}
	ul.actions.fit.small {
	     left: 22.5%;
	}
	ul.actions.fit.small.lower-btns {
	    position: relative;
	    top: -1.8em;
	}
	div#buttons-wrapper {
    /*top: 4.5em;*/
    left: 9.65em;
}
}

@media (max-width: 650px) {
	#header h1 {
		left: -4.5em;
	}
	#header p {

	}
	div#buttons-wrapper {

	}
	section#customMap {
		
	}
}