@media (max-width: 700px) {
	html, body {
	    max-width: 700px;
	    max-height: 1024px;
	}
	body {

	}
	#footer {

	    

	}
	#header h1 {
	
	}
	#header p {
	
	}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		width: 89%;
	}
	ul.actions.fit.small {
	 
	}
	div#buttons-wrapper {
    top: 4.5em;
    left: 10.85em;
}
}