@media (max-width: 740px) {
	html, body {
	    max-width: 740px;
	    max-height: 1024px;
	}
	body {

	}
	#footer {

	    

	}
	#header h1 {
		padding-top: .75em;
	}
	#header h1 {
	    width: 37em;
	    height: 8.75em;
	}
	#header p {
	    position: relative;
	    top: -10.2em;
	}
	#header h1 {

    left: -2.5em;
}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		width: 92.5%;
	}
	ul.actions.fit.small {
	 left: 28%;
	}
	div#buttons-wrapper {
    top: 2em;
    left: 11.9em;
	}
}

@media (max-width: 730px) {
	#header h1 {

	}
	#header p {

	}
	div#buttons-wrapper {

	}
	section#customMap {
		
	}
}