@media (max-width: 740px) {
	html, body {
	    max-width: 740px;
	    max-height: 1024px;
	}
	body {

	}
	#footer {

	    

	}
	#header h1 {
		padding-top: .75em;
	}
	#header h1 {

    width: 43em;
}
	#header p {
		position: relative;
    top: -12em;
	}
	#header h1 {

        margin: 1.1em auto 0 auto;
    width: 36em;
}
	main#main-page {
		width: 124.5%;
	}
	section#customMap {
		width: 90.4%;
	}
	ul.actions.fit.small {
	 left: 28%;
	}
	div#buttons-wrapper {
    top: 3.45em;
    left: 11.9em;
}
}